<div class="collection">
  <div class="collection__image">
    <% if collection.cover_image.attached? %>
      <%= link_to collection_path(collection.nice_url), title: collection.title do %>
        <% image_url = rails_public_blob_url(collection.cover_image.variant(quality: 95, resize_to_fill: [450, 250], format: :webp).processed) %>
        <%= image_tag image_url,
          srcset: "
            #{ image_url } 1x,
            #{ rails_public_blob_url(collection.cover_image.variant(quality: 95, resize_to_fill: [900, 500], format: :webp).processed) } 2x",
          alt: collection.title,
          width: 450,
          height: 250,
          loading: "lazy" %>
      <% end %>
    <% end %>
  </div>

  <div class="collection__content">
    <div class="collection__info">
      <%= link_to collection.title, collection_path(collection.nice_url), class: "collection__title" %>
      <%= link_to collection.user.clean_username, user_profile_path(collection.user), class: "collection__author" %> |
      <small class="collection__count"><%= collection.posts.size %> codes</small>
    </div>

    <div class="collection__posts">
      <% collection.posts.limit(4).each do |post| %>
        <div class="collection__post">
          <%= render "posts/thumbnail", post: post %>
        </div>
      <% end %>
    </div>
  </div>
</div>
