<section class="collections">
  <div class="heading items-heading mb-half">
    <h2>Other Codes part of <strong><%= @post.collection.title %></strong></h2>
  </div>

  <div class="cards">
    <% @post.collection.posts.limit(9).each do |post| %>
      <% next if @post == post %>

      <div class="card">
        <%= link_to post.title, post_path(post.code), class: "card__title" %>

        <div>
          <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger", data: { action: "copy-to-clipboard", target: post.code } %>

          <span class="copy">
            <span data-copy="<%= post.code %>"><%= post.code %></span>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <% if @post.collection.posts.size > 9 %>
    <small class="mt-half mr-quarter"><em><%= "And #{ @post.collection.posts.size - 9 } more..." %></em></small>
  <% end %>

  <%= link_to "View collection", collection_path(@post.collection.nice_url), class: "button button--secondary button--small mt-half" %>
</section>
