<div class="card">
  <%= link_to post.title, post_path(post.code), class: "card__title" %>

  <div class="card__code mt-1/4" data-action="copy-to-clipboard" data-target="<%= post.code %>">
    <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger", data: { action: "copy-to-clipboard", target: post.code } %>

    <span class="copy">
      <span data-copy="<%= post.code %>" data-track-copy><%= post.code %></span>
    </span>
  </div>
</div>
