<section class="collections">
  <div class="heading items-heading mb-1/2">
    <h2 class="mt-0">Other Codes part of <strong><%= @post.collection.title %></strong></h2>
  </div>

  <div class="cards">
    <% @post.collection.posts.where.not(id: @post.id).limit(9).each do |post| %>
      <div class="card">
        <%= link_to post.title, post_path(post.code), class: "card__title" %>

        <div>
          <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger", data: { action: "copy-to-clipboard", target: post.code } %>

          <span class="copy">
            <span data-copy="<%= post.code %>"><%= post.code %></span>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <% if @post.collection.posts.where.not(id: @post.id).size > 9 %>
    <small class="mt-1/2 mr-1/4"><em><%= "And #{ @post.collection.posts.where.not(id: @post.id).size - 9 } more..." %></em></small>
  <% end %>

  <%= link_to "View collection", collection_nice_path(@post.collection.nice_url), class: "button button--secondary button--small mt-1/2" %>
</section>
