<% content_for :page_title, "#{ @collection.title } #{ "| Page #{ params[:page] }" if params[:page] }" %>
<% begin %><% content_for :og_image, "#{ landscape_large_variant_public_url(@collection.cover_image) if @collection.cover_image.attached? }" %><% rescue %><% end %>

<% if @collection.cover_image.attached? %>
  <% begin %>
    <div class="relative">
      <% ["", "background-blur background-blur--visible"].each do |classes| %>
        <picture class="<%= classes %>">
          <source media="(min-width: 560px)" srcset="<%= landscape_large_variant_public_url(@collection.cover_image) %>" type="image/webp">
          <source media="(min-width: 0px)" srcset="<%= landscape_tiny_variant_public_url(@collection.cover_image) %>" type="image/webp">
          <img class="img-fluid cover-image" src="<%= landscape_large_variant_public_url(@collection.cover_image) %>" alt="<%= @collection.title %>" width="900" height="500" loading="lazy" />
        </picture>
      <% end %>
    </div>
  <% rescue %>
    <p><small><em>Images are temporarily unavailable.</em></small></p>
  <% end %>
<% end %>

<div class="heading block md:flex align-center justify-between gap-1/4 <%= "mt-1/1" if @collection.cover_image.attached? %> <%= "mb-1/2" if @collection.description %>">
  <h1 class="mt-0 mb-0"><%= @collection.title %></strong> <%= tag.small "- Page #{ params[:page] }" if params[:page] %></h1>

  <%= link_to "Updates", collection_revisions_path(@collection.nice_url), class: "button button--secondary mt-1/4 md:mt-0" %>
</div>

<% if @collection.description %>
  <div class="item__description text-big mb-1/1">
    <%= sanitize(markdown(@collection.description)) %>
  </div>
<% end %>

<%= render "posts/posts", display_type: @collection.display_type %>

<% if @collection.user == current_user %>
  <div class="fixed-box">
    <%= link_to "â† Customise collection", edit_collection_path(@collection.id), class: "button button--secondary w-100" %>
  </div>
<% end %>
