<% content_for :page_title, "#{ @collection.title } #{ "| Page #{ params[:page] }" if params[:page] }" %>
<% begin %><% content_for :og_image, "#{ rails_public_blob_url(@collection.cover_image.variant(quality: 95, resize_to_fill: [900, 500]).processed) if @ordered_images.cover_image.attached? }" %><% rescue %><% end %>

<% if @collection.cover_image.attached? %>
  <% begin %>
    <picture>
      <source media="(min-width: 560px)" srcset="<%= rails_public_blob_url(@collection.cover_image.variant(quality: 95, resize_to_fill: [900, 500], format: :webp).processed) %>" type="image/webp">
      <source media="(min-width: 0px)" srcset="<%= rails_public_blob_url(@collection.cover_image.variant(quality: 95, resize_to_fill: [450, 250], format: :webp).processed) %>" type="image/webp">
      <img class="img-fluid cover-image" src="<%= rails_public_blob_url(@collection.cover_image.variant(quality: 95, resize_to_fill: [900, 500], format: :webp).processed) %>" alt="<%= @collection.title %>" width="900" height="500" loading="lazy" />
    </picture>
  <% rescue %>
    <p><small><em>Images are temporarily unavailable.</em></small></p>
  <% end %>
<% end %>

<div class="heading <%= "mt-1/1" if @collection.cover_image.attached? %> <%= "mb-1/2" if @collection.description %>">
  <h1><%= @collection.title %></strong> <%= tag.small "- Page #{ params[:page] }" if params[:page] %></h1>
</div>

<% if @collection.description %>
  <div class="item__description mb-1/1">
    <big><%= sanitize(markdown(@collection.description)) %></big>
  </div>
<% end %>

<main class="items">
  <%= render "posts/posts" %>
</main>
