<% content_for :page_title, "Admin | Comments" %>

<%= render "admin/navigation"  %>

<p>Total comments: <strong><%= Comment.all.size %></strong></p>
<p>Last comment: <strong><%= time_ago_in_words(@comments.first.created_at).humanize %></strong></p>
<p>Comments in last 7 days: <strong><%= Comment.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<% if flash[:alert] %>
  <div class="warning mt-0 mb-1/2"><%= flash[:alert] %></div>
<% end %>

<table>
  <tr>
    <th>ID</th>
    <th>Content</th>
    <th>Post</th>
    <th>User</th>
    <th>Created at</th>
    <th></th>
  </tr>

  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td style="max-width: 500px"><%= comment.content %></td>
      <td><%= link_to comment.post.code, post_path(comment.post.code) %></td>
      <td><%= comment.user.username %></td>
      <td><%= time_ago_in_words(comment.created_at).humanize %></td>
      <td><%= link_to "ðŸ—‘ï¸", admin_comment_path(comment.id), method: :delete, data: { confirm: "Are you sure you wish to delete this comment?" } %></td>
    </tr>
  <% end %>
</table>

<%= paginate @comments %>
