<%= form_for @user, url: update_profile_path, remote: true do |form| %>
  <div class="tabs-content <%= "tabs-content--active" unless params[:tab].present? && params[:tab] != "about-you" %>" data-tab="about-you">
    <h2 class="mt-1/1 mb-0">About you</h2>

    <% if @user.verified? %>
      <div class="well align-start justify-start flex-nowrap mt-1/2">
        <%= inline_svg_tag "icons/verified.svg", height: 30, width: 30, class: "fill-current-color" %>
        <div class="pl-1/4">
          <%= t "profile.form.verified" %>
          <div class="mt-1/8">As a gift for your efforts, you are now able to customize the CSS of your profile page. (<%= link_to "Click here", user_profile_path(current_user), class: "button--link" %> to edit)</li></div>
        </div>
      </div>
    <% else %>
      <em data-toggle-content>
        <small>
          <%= tag.strong t("profile.form.not_verified"), class: "cursor-pointer inline-block mt-1/2", data: { action: "toggle-content" } %>
          <div data-role="content-to-toggle snippet-container" style="display: none">
            <p>User names are not unique. A battletag can be the same for multiple users. Being verified helps users identify that you are indeed you. Furthermore if you are logged in with battle.net you will claim the url without the id. For example path/username#12345 will become path/username. The old url will also remain functional.</p>
            <p>If you wish to be verified, please contact Mitsiee#9370 on Discord or @ me wherever you want on the Elo Hell Workshop Discord.</p>
            <p>Please note: To be eligible for verification you need to have made a good number of contributions to the Workshop community. When contacting me please note why you wish to be verified.</p>
          </div>
        </small>
      </em>
    <% end %>

    <div class="form-group mt-1/2">
      <%= form.label :description, t("profile.form.description.label"), class: "form-label" %>

      <div class="form-hint">
        <%= t "profile.form.description.help" %>
      </div>

      <%= form.text_area :description, class: "form-input form-textarea form-textarea--extra-small", maxlength: 255 %>
    </div>

    <div class="form-group-max-width mt-1/2">
      <%= form.label :link, t("profile.form.link.label"), class: "form-label" %>
      <p class="form-hint">
        <%= t "profile.form.link.help_html" %>
      </p>

      <%= form.text_field :link, placeholder: "Link", class: "form-input" %>
    </div>

    <hr class="small mt-1/1">

    <%= submit_tag t("profile.form.submit"), class: "button pr-1/1 pl-1/1", data: { disable_with: "Submitting..." } %>
    <%= button_tag "Cancel", type: "button", class: "button button--secondary pr-1/1 pl-1/1", onclick: "location.search = '?tab=about-you'" %>
  </div>

  <div class="tabs-content <%= "tabs-content--active" if params[:tab].present? && params[:tab] == "images" %>" data-tab="images">
    <h2 class="mt-1/1 mb-0">Images</h2>

    <div class="well well--dark block mt-1/2">
      <% if @user.provider_profile_image.present? %>
        <%= form.label :profile_image, "Profile image", class: "form-label" %>
        <%= image_tag @user.provider_profile_image, class: "profile-image" %>

        <p class="form-hint mt-1/4">
          <%= t "profile.form.image.discord" %>
        </p>
      <% else %>
        <div class="form-group-max-width">
          <%= form.label :profile_image, t("profile.form.image.label"), class: "form-label" %>

          <div class="profile-image">
            <%= image_tag (@user.profile_image.attached? ? rails_public_blob_url(@user.profile_image.variant(quality: 95, resize_to_fill: [140, 140]).processed) : "//:0"),
                          data: { image_preview: "profile-image" } %>
          </div>


          <%= form.file_field :profile_image,
                              accept: "image/png, image/jpeg, image/jpg",
                              data: { action: "image-preview", target: "profile-image" } %>

          <p class="form-hint mt-1/4 mb-0">
            <%= t "profile.form.image.help" %>
          </p>

          <%= hidden_field_tag :remove_profile_image, "", data: { clear_image_flag: "profile-image" } %>
          <%= button_tag "Remove", type: "button", class: "mt-1/4",
                             data: { action: "clear-image", target: "profile-image" }  %>

        </div>
      <% end %>
    </div>

    <div class="well well--dark block mt-1/2">
      <%= form.label :banner_image, t("profile.form.banner_image.label"), class: "form-label" %>
      <p class="form-hint mt-1/4 mb-0">
        <%= t "profile.form.banner_image.description" %>
      </p>

      <%= image_tag (@user.banner_image.attached? ? rails_public_blob_url(@user.banner_image.variant(quality: 90, resize_to_fill: [1920, 400]).processed) : "//:0"),
                    class: "mt-1/4 img-fluid",
                    data: { image_preview: "banner" } %>

      <%= form.file_field :banner_image,
                          accept: "image/png, image/jpeg, image/jpg",
                          data: { action: "image-preview", target: "banner" } %>

      <p class="form-hint mt-1/4 mb-0">
        <%= t "profile.form.banner_image.help" %>
      </p>

      <%= hidden_field_tag :remove_banner_image, "", data: { clear_image_flag: "banner" } %>
      <%= button_tag "Remove", type: "button", class: "mt-1/4",
                          data: { action: "clear-image", target: "banner" }  %>
    </div>

    <hr class="small mt-1/1">

    <%= submit_tag t("profile.form.submit"), class: "button pr-1/1 pl-1/1", data: { disable_with: "Submitting..." } %>
    <%= button_tag "Cancel", type: "button", class: "button button--secondary pr-1/1 pl-1/1", onclick: "location.search = '?tab=images'" %>
  </div>

  <div class="tabs-content <%= "tabs-content--active" if params[:tab].present? && params[:tab] == "badges" %>" data-tab="badges">
    <div class="well block mb-1/2 mt-1/2">
      <h4 class="mt-0">Badges you've earned</h4>

      <div>
        <% if @user.badges.any? %>
          <% @user.badges.each do |badge| %>
            <%= render "badges/badge", badge: badge, large: true %>
          <% end %>
        <% else %>
          <em>You've not yet earned any badges</em>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
