<% if flash[:alert] %>
  <div class="warning mt-0 mb-1/2"><mark><%= flash[:alert] %></mark></div>
<% end %>

<%= form_for @user, url: update_profile_path do |form| %>
  <% if @user.errors.any? %>
    <div class="error-block">
      <h2 class="error-block__title"><strong><%= pluralize(@user.errors.count, "error") %></strong> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><small><%= message %></small></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.verified? %>
    <div class="well align-center justify-start">
      <%= inline_svg_tag "icons/verified.svg", height: 30, width: 30, class: "fill-current-color" %>
      <div class="pl-1/4">You're verified!</div>
    </div>
  <% else %>
    <em data-toggle-content>
      <small>
        <%= tag.strong "You are not verified (?)", class: "cursor-pointer", data: { action: "toggle-content" } %>
        <div data-role="content-to-toggle snippet-container" style="display: none">
          <p>User names are not unique. A battletag can be the same for multiple users. Being verified helps users indentify that you are indeed you. Furthermore if you are logged in with battle.net you will claim the url without the id. For example <%= profile_path("username#12345") %> will become <%= profile_path("username") %>. The old url will also remain functional.</p>
          <p>If you wish to be verified, please contact Mitsiee#9370 on Discord or @ me wherever you want on the Elo Hell Workshop Discord.</p>
          <p>Please note: To be eligible for verification you need to have made a good number of contributions to the Workshop community. When contacting me please note why you wish to be verified.</p>
        </div>
      </small>
    </em>
  <% end %>

  <div class="well well--dark block mt-1/1">
    <% if !@user.provider_profile_image.present? %>
      <div class="form-group-max-width">
        <%= form.label :profile_image, "Profile image", class: "form-label" %>
        <% begin %>
          <%= image_tag @user.profile_image.variant(quality: 95, resize_to_fill: [140, 140]).processed, class: "profile-image" if @user.profile_image.attached? %>
        <% rescue%>
        <% end %>
        <%= form.file_field :profile_image, accept: "image/png, image/jpeg, image/jpg" %>

        <p class="form-hint mt-1/4 mb-0">
          The image will be processed to a 140x140 format. Max 2MB.
        </p>
      </div>
    <% else %>
      <%= form.label :profile_image, "Profile image", class: "form-label" %>
      <%= image_tag @user.provider_profile_image, class: "profile-image" %>

      <p class="form-hint mt-1/4">
        This image is directly from Discord. Adjusting your profile picture on Discord will also change it here.
      </p>
    <% end %>
  </div>

  <div class="form-group-max-width mt-1/1">
    <%= form.label :featured_posts, "Featured Codes", class: "form-label" %>

    <div class="form-hint">
      Show up to 3 Featured Codes on your Profile page.
    </div>

    <% if @user.posts.any? %>
      <%= form.select :featured_posts, @user.posts.collect {|p| [ p.title, p.id ] }, { include_hidden: false }, { multiple: true, size: 5, class: "form-select" } %>
    <% else %>
      <p>You've not yet posted anything.</p>
    <% end %>
  </div>

  <div class="form-group mt-1/1">
    <%= form.label :description, "About you", class: "form-label" %>

    <div class="form-hint">
      Write a little bit about yourselform. Share your Battle tag, platform, or other places people can find you.<br>
      Basic markdown enabled. Limited to 255 characters.
    </div>

    <%= form.text_area :description, class: "form-input form-textarea form-textarea--extra-small" %>
  </div>

  <div class="form-group-max-width mt-1/1">
    <%= form.label :link, class: "form-label" %>
    <p class="form-hint">
      Link to your website/discord/whatever you might want people to visit. Links should start with <code>http://</code> or <code>https://</code>.
    </p>

    <%= form.text_field :link, placeholder: "Link", class: "form-input" %>
  </div>

  <% if @user.verified? %>
    <div class="form-group mt-1/1">
      <%= form.label :custom_css, class: "form-label" do %>
        Custom CSS
        <%= inline_svg_tag "icons/verified.svg", class: "profile-banner__verified" %>
      <% end %>

      <div class="form-hint">
        You're verified, which means you get to add some extra styling to your profile. Be respectful with your styling. Don't hide anything that isn't yours. Don't alter text that isn't yours. Don't go overboard. Misuse may result in your verified status being removed.
      </div>

      <%= form.text_area :custom_css, class: "form-input form-textarea form-textarea--extra-small" %>
    </div>
  <% end %>

  <hr class="small mt-1/1">

  <%= submit_tag "Submit", class: "button" %>
<% end %>
