<% small ||= false %>
<% size = small ? 80 : 140 %>

<div class="profile-banner <%= "profile-banner--small" if small %>">
  <%= link_to user_profile_path(user), class: "profile-image #{ user.profile_image.attached? || user.provider_profile_image.present? ? '' : 'profile-image--empty' }", aria: { label: "Go to profile of '#{ user.username }'" } do %>
    <%= render "profiles/image", user: user, size: size %>
  <% end %>

  <div class="profile-banner__content">
    <%= link_to user_profile_path(user), class: "profile-banner__title", rel: "author" do %>
      <%= user.clean_username %>

      <% if user.verified? %>
        <div class="profile-banner__verified">
          <div class="tooltip">
            <%= inline_svg_tag "icons/verified.svg", class: "profile-banner__verified" %>

            <div class="tooltip__content">This user is verified.</div>
          </div>
        </div>
      <% end %>

      <% user.badges.each do |badge| %>
        <%= render "badges/badge", badge: badge %>
      <% end %>
    <% end %>

    <%= link_to user.link, user.link, class: "profile-banner__action", target: "_blank", rel: "noreferrer noopener" if user.link.present? %>

    <% if !small && user.description.present? %>
      <div class="mt-1/4">
        <%= sanitize(markdown(user.description)) %>
      </div>
    <% end %>
  </div>
</div>
