<% small ||= false %>
<% size = small ? 80 : 140 %>

<div class="profile-banner <%= "profile-banner--small" if small %>">
  <%= link_to user_path(user.username), class: "profile-image #{ user.profile_image.attached? || user.provider_profile_image.present? ? '' : 'profile-image--empty' }" do %>
    <% if user.profile_image.attached? %>
      <%= image_tag user.profile_image.variant(quality: 95, resize_to_fill: [size, size]).processed %>
    <% elsif user.provider_profile_image.present? %>
      <%= image_tag user.provider_profile_image %>
    <% end %>
  <% end %>

  <div class="profile-banner__content">
    <%= link_to user.username.split("#")[0], user_path(user.username), class: "profile-banner__title", rel: "author" %>
    <%= link_to user.link, user.link, class: "profile-banner__action", target: "_blank", rel: "noreferrer noopener" if user.link.present? %>

    <% if !small && user.description.present? %>
      <div class="mt-1/4">
        <small><%= markdown(sanitize(@post.description, tags: %w(div span style), attributes: %w(style))) %></small>
      </div>
    <% end %>
  </div>
</div>
