<%= render "layouts/account", title: t("profile.edit.title_html") do %>
  <%= link_to t("profile.edit.go_to_profile"), user_profile_path(current_user), class: "button button--secondary" %>

  <% if flash[:alert] %>
    <div class="warning mt-1/2"><%= flash[:alert] %></div>
  <% end %>

  <div data-role="tabs">
    <% if @user.errors.any? %>
      <div class="error-block">
        <h2 class="error-block__title"><strong><%= pluralize(@user.errors.count, "error") %></strong> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><small><%= message %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <nav class="tabs mt-1/2">
      <%= link_to "About you", "#", class: "tabs__item tabs__item--active", data: { action: "set-tab", target: "about-you" } %>
      <%= link_to "Images", "#", class: "tabs__item", data: { action: "set-tab", target: "images" } %>
      <%= link_to "Badges", "#", class: "tabs__item", data: { action: "set-tab", target: "badges" } %>
      <%= link_to "Blocks", "#", class: "tabs__item", data: { action: "set-tab", target: "blocks" } %>
      <% if @user.verified? %>
        <%= link_to "Custom CSS", "#", class: "tabs__item", data: { action: "set-tab", target: "custom-css" } %>
      <% end %>
    </nav>

    <%= render "form" %>
    <%= render "blocks/profile/edit_blocks" %>
  </div>
<% end %>
