<%= render "layouts/account", title: "<strong>Customise</strong> your profile" do %>
  <%= link_to "Go to your profile", user_profile_path(current_user), class: "button button--secondary" %>

  <% if flash[:alert] %>
    <div class="warning mt-1/2"><%= flash[:alert] %></div>
  <% end %>

  <div data-role="tabs">
    <% if @user.errors.any? %>
      <div class="error-block">
        <h2 class="error-block__title"><strong><%= pluralize(@user.errors.count, "error") %></strong> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><small><%= message %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <nav class="tabs mt-1/2">
      <%= link_to "About you", "?tab=about-you", class: "tabs__item #{"tabs__item--active" unless params[:tab].present? && params[:tab] != "about-you"}", data: { action: "set-tab", target: "about-you" } %>
      <%= link_to "Images", "?tab=images", class: "tabs__item #{"tabs__item--active" if params[:tab].present? && params[:tab] == "images"}", data: { action: "set-tab", target: "images" } %>
      <%= link_to "Badges", "?tab=badges", class: "tabs__item #{"tabs__item--active" if params[:tab].present? && params[:tab] == "badges"}", data: { action: "set-tab", target: "badges" } %>
      <%= link_to "Blocks", "?tab=blocks", class: "tabs__item #{"tabs__item--active" if params[:tab].present? && params[:tab] == "blocks"}", data: { action: "set-tab", target: "blocks" } %>
    </nav>

    <%= render "form" %>
    <%= render "blocks/profile/edit_blocks" %>
  </div>
<% end %>
