<% content_for :page_title, @user.username.split("#")[0] %>
<% content_for :bg_large, "true" if @user.banner_image.attached? %>
<% content_for :replace_body_bg, "true" if @user.banner_image.attached? %>

<%= render "custom_css" if @user.verified? %>
<%= render "customise_profile" if @user == current_user %>

<div data-role="tabs">
  <div class="pt-1/1 mb-1/1">
    <div class="banner p-0">
      <div class="p-1/4 md:p-1/2">
        <%= render "profile", user: @user %>
      </div>

      <nav class="tabs">
        <%= link_to "Highlights", "#", class: "tabs__item tabs__item--active", data: { action: "set-tab", target: "highlights" } if @blocks.any? %>
        <%= link_to "Codes", "#", class: "tabs__item #{ "tabs__item--active" unless @blocks.any? }", data: { action: "set-tab", target: "codes" } %>
        <%= link_to "Collections", "#", class: "tabs__item", data: { action: "set-tab", target: "collections" } %>
      </nav>
    </div>
  </div>

  <% if @blocks.any? %>
    <div class="tabs-content tabs-content--active" data-tab="highlights">
      <% @blocks.each do |block| %>
        <div class="mt-1/1 mb-1/1" data-block-id="<%= block.id %>">
          <%= render "blocks/profile/#{ block.name }", block: block %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="tabs-content <%= "tabs-content--active" unless @blocks.any? %>" data-tab="codes">
    <%= render "blocks/profile/list" %>
  </div>

  <div class="tabs-content" data-tab="collections">
    <%= render "blocks/profile/all_collections" %>
  </div>
</div>
