<% content_for :page_title, @user.username %>

<% if @user == current_user %>
  <div class="well mt-full">
    <%= link_to "â† Customise your profile", edit_profile_path %>
  </div>
<% end %>

<%= render "profile", user: @user %>

<% if @user.featured_posts.present? %>
  <div class="cards">
    <% @user.featured_posts.each do |post| %>
      <% post = Post.find(post) %>

      <div class="card" style="<%= "background-image: url(#{ polymorphic_url(post.images.find_by_blob_id(JSON.parse(post.image_order).first).variant(quality: 95, resize_to_fill: [450, 250]).processed) }" if post.images.any? && JSON.parse(post.image_order).any? %>">
        <%= link_to post.title, post_path(post.code), class: "card__title" %>

        <div>
          <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger", data: { action: "copy-to-clipboard", target: post.code } %>

          <span class="copy">
            <span data-copy="<%= post.code %>" data-track-copy><%= post.code %></span>
          </span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="heading top-offset mb-0">
  <h2>Workshop Codes made by <strong><%= @user.username.split("#")[0] %></strong> <%= tag.small "- Page #{ params[:page] }" if params[:page] %></h2>
</div>

<main class="items">
  <%= render "posts/posts" %>

  <%= paginate @posts %>
</main>
