<% content_for :page_title, @user.clean_username %>
<% content_for :bg_size, "large" if @user.banner_image.attached? %>
<% content_for :replace_body_bg, "user" if @user.banner_image.attached? %>

<%= render "custom_css" if @user.verified? %>
<%= render "customise_profile" if @user == current_user %>

<div data-role="tabs">
  <div class="pt-1/1 mb-1/1">
    <div class="standout p-0">
      <div class="p-1/4 md:p-1/2 relative overflow-hidden">
        <div class="profile-blurred-background">
          <%= render "profiles/image", user: @user, size: 140 %>
        </div>

        <%= render "profile", user: @user %>
      </div>

      <nav class="tabs">
        <%= link_to "Highlights", "#", class: "tabs__item #{"tabs__item--active" unless params[:tab].present? && params[:tab] != "highlights"}", data: { action: "set-tab", target: "highlights" } if @blocks.any? %>
        <%= link_to "Codes", "#", class: "tabs__item #{ "tabs__item--active" unless (params[:tab].blank? && @blocks.any?) || (params[:tab].present? && params[:tab] != "codes") }", data: { action: "set-tab", target: "codes" } %>
        <%= link_to "Collections", "#", class: "tabs__item #{"tabs__item--active" if params[:tab] == "collections"}", data: { action: "set-tab", target: "collections" } %>
      </nav>
    </div>
  </div>

  <% if @blocks.any? %>
    <div class="tabs-content <%= "tabs-content--active" unless params[:tab].present? && params[:tab] != "highlights" %>" data-tab="highlights">
      <% @blocks.each do |block| %>
        <div class="mt-1/1 mb-1/1" data-block-id="<%= block.id %>">
          <%= render "blocks/profile/#{ block.name }", block: block %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="tabs-content <%= "tabs-content--active" unless (params[:tab].blank? && @blocks.any?) || (params[:tab].present? && params[:tab] != "codes") %>" data-tab="codes">
    <%= render "blocks/profile/list" %>
  </div>

  <div class="tabs-content <%= "tabs-content--active" if params[:tab] == "collections" %>" data-tab="collections">
    <%= render "blocks/profile/all_collections" %>
  </div>
</div>
