<link rel="preload" as="image" href="<%= image_path "ollie/login/ollie-smile.png" %>">
<link rel="preload" as="image" href="<%= image_path "ollie/login/ollie-happy.png" %>">
<link rel="preload" as="image" href="<%= image_path "ollie/login/ollie-eyes-closed.png" %>">
<link rel="preload" as="image" href="<%= image_path "ollie/login/ollie-eyes-closed-happy.png" %>">
<link rel="preload" as="image" href="<%= image_path "ollie/login/ollie-pupils.png" %>">

<div class="ollie-login">
  <div class="ollie-login__images" data-role="ollie-image-holder">
    <%= image_tag "ollie/login/ollie-smile.png", class: "ollie-login__body", data: { ollie: "body-base" } %>
    <%= image_tag "ollie/login/ollie-happy.png", class: "ollie-login__body hidden", data: { ollie: "body-happy" } %>
    <%= image_tag "ollie/login/ollie-eyes-closed.png", class: "ollie-login__body hidden", data: { ollie: "body-eyes-closed" } %>
    <%= image_tag "ollie/login/ollie-eyes-closed-happy.png", class: "ollie-login__body hidden", data: { ollie: "body-eyes-closed-happy" } %>
    <%= image_tag "ollie/login/ollie-suspicious.png", class: "ollie-login__body #{ "hidden" if !flash[:alert] }", data: { ollie: "body-suspicious" } %>

    <%= image_tag "ollie/login/ollie-pupils.png", class: "ollie-login__pupils #{ "hidden" if flash[:alert] }", data: { ollie: "pupils" } %>

    <%= image_tag "ollie/login/ollie-arm-left.png", class: "ollie-login__arm-left out-of-view", data: { ollie: "arm-left" } %>
    <%= image_tag "ollie/login/ollie-arm-right.png", class: "ollie-login__arm-right out-of-view", data: { ollie: "arm-right" } %>
  </div>
</div>
