<% content_for :page_title, t("sessions.login.title") %>
<% content_for :bg_size, "large" unless params[:page] %>

<div class="form-group-columns mt-1/1">
  <div>
    <h2 class="mt-0 text-black"><center><%= t "sessions.login.title" %></center></h2>

    <% if flash[:alert] %>
      <div class="warning warning--red br-1 mt-0 mb-1/4"><%= flash[:alert] %></div>
    <% end %>

    <div class="well well--dark">
      <div class="w-100">
        <%= form_with url: sessions_path do |form| %>
          <div class="form-group">
            <%= form.label :username, t("sessions.login.username"), class: "form-label" %>
            <%= form.text_field :username, placeholder: t("sessions.login.username"), class: "form-input" %>
          </div>

          <div class="form-group mt-1/4">
            <%= form.label :password, t("sessions.login.password"), class: "form-label" %>
            <%= form.password_field :password, placeholder: t("sessions.login.password"), class: "form-input" %>
          </div>

          <div class="form-group checkbox">
            <%= form.check_box :remember_me %>
            <%= form.label :remember_me, t("sessions.login.remember_me") %>
          </div>

          <%= submit_tag t("sessions.login.submit"), class: "button button--secondary mt-1/2 w-100", data: { disable_with: "Submitting..." } %>

          <div class="mt-1/4">
            <small><%= link_to t("sessions.login.forgot_password"), new_forgot_password_path %></small>
          </div>
        <% end %>

        <hr class="mt-1/2 mb-1/4">

        <%= link_to "/auth/discord", method: :post, class: "button button--discord mt-1/4", data: { prefetch: false } do %>
          <%= inline_svg_tag "discord.svg", height: 24 %>
          <%= t "sessions.login.discord" %>
        <% end %>

        <%= link_to "/auth/bnet", method: :post, class: "button button--bnet mt-1/8", data: { prefetch: false } do %>
          <%= inline_svg_tag "bnet.svg", height: 24 %>
          <%= t "sessions.login.battle_net" %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <h2 class="mt-1/2 sm:mt-0 text-black"><center><%= t "sessions.create_user.title" %></center></h2>

    <div class="well well--dark">
      <div class="w-100">
        <center>
          <p class="mt-0"><%= t "sessions.create_user.content" %></p>
        </center>

        <div><%= link_to t("sessions.create_user.button"), new_user_path, class: "button w-100" %></div>
      </div>
    </div>

    <div class="well well--dark mt-1/4">
      <div class="w-100">
        <center>
          <p class="mt-0 mb-0"><%= t("sessions.tos.content_html", terms_of_service: link_to(t("footer.tos"), tos_path, class: "text-white")) %></p>
        </center>
      </div>
    </div>
  </div>
</div>
