<blockquote class="mt-0 mb-1/1 text-small">
  Anyone can create and edit articles. Misuse of this feature will result in your account being banned without warning. Be mindful of what you contribute to the wiki.

  <p class="mb-0"><strong>The wiki is not the place to...</strong></p>
  <ul class="mt-0">
    <li>advertise your own gamemodes.</li>
    <li>advertise your stream/youtube/other content.</li>
    <li>share your opinion.</li>
    <li>report bugs.</li>
  </ul>

  <p>Content should be in English, factual, clear, and concise.<p>
</blockquote>

<%= form_for @article, remote: true, data: { role: "article-form" }, html: { autocomplete: "off" } do |form| %>
  <%= render "form_errors", errors: @article.errors if @article.errors.any? %>

  <%= form.file_field :images, multiple: true, direct_upload: true, class: "hidden-field", data: { action: "form-images" } %>
  <%= form.file_field :videos, multiple: true, direct_upload: true, class: "hidden-field", data: { action: "form-videos" } %>

  <article class="article">
    <main class="article__main">
      <div class="form-group">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-input form-input--large", placeholder: "Title" %>
      </div>

      <div class="form-group mt-1/1">
        <%= form.label :content, class: "form-label" %>

        <div class="form-hint">
          <strong>This description is full Markdown enabled.</strong> **bold**, _italic_, <%= link_to "and everything else", "https://workshop.codes/wiki/articles/markdown+on+workshop-codes", target: "_blank" %>. Add YouTube videos using <code>[youtube VIDEO_ID]</code>. (Video ID is in bold: youtube.com/watch?v=<strong>FqnKB22pOC0</strong>)
          This includes HTML and CSS, which can be used for markup of more advanced layouts.
        </div>

        <%= form.text_area :content, class: "form-input form-textarea", data: { role: "simple-mde markdown-textarea", enable_wiki: "true", max_length: WIKI_ARTICLE_CONTENT_LIMIT } %>
      </div>

      <% if @article.persisted? %>
        <hr>

        <div class="form-group">
          <%= form.label :edit_notes, "Edit notes (Optional)", class: "form-label" %>

          <span class="form-hint">
            Write a little something on why you are making this change.
          </span>

          <%= form.text_area :edit_notes, class: "form-input form-textarea form-textarea--extra-small" %>
        </div>
      <% end %>
    </main>

    <aside class="article__aside">
      <div class="article__aside-content">
        <div class="form-group">
          <%= form.label :category_id, class: "form-label" %>
          <%= form.collection_select :category_id, Wiki::Category.all, :id, :title, { include_hidden: false, include_blank: "Select..." }, { class: "form-select" } %>

          <span class="form-hint">
            <small>Only 1 category can be chosen. If you believe an article belongs in multiple categories, make 1 article in each. Each containing content within that category.</small>
          </span>
        </div>

        <div class="form-group">
          <%= form.label :tags, class: "form-label" %>
          <%= form.text_area :tags, class: "form-input form-textarea form-textarea--extra-small", placeholder: "Separate with ', '" %>

          <span class="form-hint">
            <small>Tags should be used to help a user find something that is not already mentioned in the title. For example an article titled "Start rule" might have a tag "Subroutine", as that's relevant to the article. Another relevant use might be translations of the title. Tags should not be used to make an article appear in as many searches as possible.</small>
          </span>
        </div>
      </div>
    </aside>

    <%= submit_tag "Submit", class: "button w-100 mt-1/1 lg:mt-0", data: { disable_with: "Submitting..." } %>
  </article>
<% end %>

<div class="modal modal--content-width" data-modal="markdown-preview" data-hide-on-close style="display: none">
  <div class="modal__backdrop" data-role="modal-backdrop"></div>

  <div class="modal__content">
    <div class="item__description" data-role="markdown-preview"></div>
  </div>
</div>
