<% content_for :page_title, @article.title + " | Wiki" %>

<article class="article top-offset">
  <main class="article__main">
    <%= link_to @article.category.title, @article.category.slug, class: "article__category" %>

    <h1 class="article__title">
      <%= @article.title %>
      <small class="article__subtitle" title="<%= @article.updated_at %>">Last updated <%= @article.updated_at.strftime("%B %d, %Y") %></small>
    </h1>

    <div class="article__content">
      <%= markdown(@article.content || "_This article does not yet have a description_") %>
    </div>
  </main>

  <aside class="article__aside">
    <div class="article__aside-content">
      <h3 class="mt-0">Article details</h3>

      Created at: <%= @initial_article.created_at.strftime("%d %b %Y %R") %> <br>
      Last updated at: <%= @article.created_at.strftime("%d %b %Y %R") %> <br>
      <%= link_to wiki_article_edits_path(@article.group_id) do %>
        <%= @edit_count %> Edit<%= "s" if @edit_count > 1 %>
      <% end %>

      <hr>

      Category: <%= link_to @article.category.title, wiki_category_path(@article.category.slug) %> <br>

      <% if @article.tags.present? %>
        Tags:

        <small>
          <% @article.tags.tr("[]", "").split(/,\s*/).each do |tag| %>
            <%= link_to tag + ", ", wiki_search_results_path(query: tag) %>
          <% end %>
        </small>
      <% end %>


      <% if is_arbiter?(current_user) %>
        <hr>

        <%= link_to "Edit article", edit_wiki_article_path(@article.slug), class: "button button--secondary button--small" %>
        <%= link_to "Destroy", wiki_article_path(@article.id), class: "button button--danger button--small", method: :delete, data: { confirm: "Are you sure you want to destroy this article? This cannot be undone." } %>
      <% end %>
    </div>
  </aside>
</article>
