<h2 class="text-center mt-1/1">Workshop unstable? <strong>There's options!</strong></h2>

<div class="standout-grid">
  <%= link_to editor_path, class: "standout standout--compact standout--editor", style: "--standout-color: var(--wiki)", target: "_blank" do %>
    <h3 class="standout__heading mt-0 mb-0">
      <strong>Workshop.codes Editor</strong>
    </h3>

    <small class="standout__subtitle block">By Workshop.codes</small>

    <span class="standout__description">
      A familiar syntax with new features such as folders, mixins, automatic variables, and more. All from within your browser!
    </span>
  <% end %>

  <%= link_to zez_ui_path, class: "standout standout--compact standout--editor", target: "_blank", rel: "noreferrer noopener" do %>
    <h3 class="standout__heading mt-0 mb-0">
      <strong>Zez's Workshop UI</strong>
    </h3>

    <small class="standout__subtitle block">By Zezombye</small>

    <span class="standout__description">
      The UI you know and love is back, now with built-in optimization!
    </span>
  <% end %>

  <%= link_to "https://github.com/Zezombye/overpy", class: "standout standout--compact standout--small standout--editor", style: "--standout-color: #ffdd6c", target: "_blank", rel: "noreferrer noopener" do %>
    <h3 class="standout__heading mt-0 mb-0">
      <strong>OverPy</strong>
    </h3>

    <small class="standout__subtitle block">By Zezombye</small>

    <span class="standout__description">
      Code your gamemodes with modern development practices and break the limitations of the workshop UI with features such as multiple files, macros, switches, enums, optimizations, string splitting, better syntax, etc.
    </span>
  <% end %>

  <%= link_to "https://github.com/ItsDeltin/Overwatch-Script-To-Workshop", class: "standout standout--compact standout--small standout--editor", style: "--standout-color: #69cfed", target: "_blank", rel: "noreferrer noopener" do %>
    <h3 class="standout__heading mt-0 mb-0">
      <strong>Deltin's Script To Workshop</strong>
    </h3>

    <small class="standout__subtitle block">By Deltin</small>

    <span class="standout__description">
      An abstraction over the workshop allowing programming features such as collections in the form of structs or classes, object oriented programming, and lambdas (or closures).
    </span>
  <% end %>

  <%= link_to "https://github.com/blockout22/OverwatchVisualScripting", class: "standout standout--compact standout--small standout--editor", style: "--standout-color: #9f4fff", target: "_blank", rel: "noreferrer noopener" do %>
    <h3 class="standout__heading mt-0 mb-0">
      <strong>Overwatch Visual Scripting</strong>
    </h3>

    <small class="standout__subtitle block">By blockout22</small>

    <span class="standout__description">
      Write Overwatch Scripts using node based scripting. Use a drag-and-drop based interface to quickly construct complex systems using visual tools.
    </span>
  <% end %>
</div>
