<div class="standout standout--compact standout--workshop-disabled mt-1/2 md:mt-1/1">
  <%= inline_svg_tag "warning_sign.svg", alt: "Overwatch 2 Logo", height: 60 %>

  <div>
    <h3 class="mt-0 mb-1/8">
      <strong><%= t("banner.workshop_disabled.title") %></strong>
    </h3>

    <span>
      <%= t("banner.workshop_disabled.content_html") %>
    </span>

    <% if ENV["BANNER_ROOT_URL"] %>
      <div>
        <%= link_to "Read more", ENV["BANNER_ROOT_URL"], class: "button button--link pb-0" %>
        <%= link_to "Check out our editor", editor_path(), class: "button button--link pb-0 sm:ml-1/2 block sm:inline-block text-primary text-center" %>
      </div>
    <% end %>
  </div>
</div>
