<div class="post-comment" data-comment="<%= comment.id %>">
  <div class="post-comment__information">
    <%= link_to comment.user.username, user_path(comment.user.username), class: "post-comment__author" %>

    <span class="post-comment__date"><%= time_ago_in_words(comment.created_at).humanize %> ago</span>

    <% if current_user %>
    <div class="post-comment__actions">
      <%= link_to "Reply", create_reply_form_path(comment.id), class: "post-comment__action", remote: true, data: { disable_with: "Retrieving..." } %>
      <%= link_to "Delete", comment_path(comment.id), class: "post-comment__action", remote: true, method: :delete, data: { confirm: "Are you sure?", disable_with: "Deleting..." } if comment.user == current_user %>
    </div>
    <% end %>
  </div>

  <div class="post-comment__content">
    <%= markdown(comment.content) %>
  </div>


  <%= render comment.post.comments.where(parent_id: comment.id) %>
</div>
