<div class="post-comment" data-comment="<%= comment.id %>" id="<%= comment.id %>">
  <div class="post-comment__information">
    <%= link_to user_profile_path(comment.user), class: "post-comment__author" do %>
      <div class="profile-image <%= "profile-image--empty" unless comment.user.profile_image.attached? || comment.user.provider_profile_image.present? %>">
        <%= render "profiles/image", user: comment.user, size: 40 %>
      </div>

      <span>
        <%= comment.user.username %>
        <%= tag.small t("comment.creator") if comment.user == @post.user %>
      </span>
    <% end %>

    <%= link_to user_profile_path(comment.user), class: "post-comment__author" do %>
      <span class="post-comment__date" title="Created at: <%= l comment.created_at %>">
        <span><%= time_ago_in_words(comment.created_at) %> ago</span>

        <% if comment.created_at != comment.updated_at %>
          <span title="This comment was edited at <%= l comment.updated_at %>">*</span>
        <% end %>
      </span>
    <% end %>

  </div>

  <div class="post-comment__content">
    <%= markdown(sanitize(comment.content)) %>
  </div>

  <% if current_user %>
    <div class="post-comment__actions">
      <%= link_to t("comment.reply"), create_reply_form_path(comment.id), class: "post-comment__action", remote: true, data: { disable_with: "Retrieving..." } %>

      <% if comment.user == current_user %>
        <%= link_to t("comment.edit"), create_edit_form_path(comment.id), class: "post-comment__action", remote: true, data: { disable_with: "Retrieving..." } %>
        <%= link_to t("comment.delete"), comment_path(comment.id), class: "post-comment__action", remote: true, method: :delete, data: { confirm: "Are you sure?", disable_with: "Deleting..." } %>
      <% end %>
    </div>
  <% end %>

  <%= render comment.post.comments.where(parent_id: comment.id).order(created_at: :desc) %>
</div>
