<% if current_user %>
  <%= form_for :comment,
    url: defined?(comment) ? comment_path(comment.id) : comments_path,
    method: defined?(comment) ? :patch : :post,
    remote: true,
    html: { class: "comment-form" } do |form| %>

    <%= form.hidden_field :post_id, value: post.id %>
    <%= form.hidden_field :parent_id, value: parent_id if defined?(parent_id) %>

    <div class="form-group">
      <%= form.text_area :content, class: "form-input form-textarea form-textarea--extra-small", placeholder: "Comment...", data: { role: "comment-input" } %>
    </div>

    <%= button_tag defined?(comment) ? t("comment.edit") : t("comment.submit"), class: "button mt-1/2" %>

    <small class="button-label">&nbsp; <%= t "comment.max_characters", count: 2000 %></small>
  <% end %>
<% else %>
  <div class="well well--dark block mb-1/1">
    <%= link_to t("comment.log_in"), login_path, class: "text-white" %> or <%= link_to t("comment.sign_up"), new_user_path, class: "text-white" %> to place a comment.
  </div>
<% end %>
