<div class="comments">
  <div class="items-heading mt-0 mb-1/2">
    <h2 class="mt-0 mb-0"><span data-role="comment-total"><%= @post.comments_count %></span> Comments</h2>
  </div>

  <%= render "comments/form", post: @post %>

  <div class="comments__wrapper"
       data-role="comments"
       data-id="<%= @post.id %>"
       data-comments-count="<%= @post.comments_count %>"><%= render @comments %></div>
</div>

