<div class="comments">
  <div class="items-heading mt-0 mb-1/2">
    <h2 class="mt-0 mb-0"><span data-role="comment-total"><%= @post.comments_count %></span> Comments</h2>
  </div>

  <%= render "comments/form", post: @post %>

  <div class="comments__wrapper"
       data-role="comments"
       data-id="<%= @post.id %>"
       data-page="1"
       data-page-size=<%= PAGE_SIZE %>
       data-comments-count="<%= @post.comments_count %>">
    <%= render @comments %>

    <% if @comments.count == PAGE_SIZE %>
      <div class="flex justify-center mt-1/2" data-role="load-more">
        <%= tag.button "Load more comments", class: "button", data: { action: "get-more-comments" } %>
      </div>
    <% end %>
  </div>
</div>

