<%= form_with url: path, model: snippet, local: true do |form| %>
  <% if snippet.errors.any? %>
    <div class="error-block">
      <h2 class="error-block__title"><strong><%= pluralize(snippet.errors.count, "error") %></strong> prohibited this Item from being saved:</h2>

      <ul>
      <% snippet.errors.full_messages.each do |message| %>
        <li><small><%= message %></small></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<%= form.text_field :title, class: "form-input form-input--large", placeholder: "Title" %>
	</div>

	<div class="form-group mt-full">
		<%= form.label :content, "Code Snippet", class: "form-label" %>

		<div class="form-hint">
			Get the snippet by using "Export" on your Workshop item. Please only include code that is relevant to what you are describing. Your code will be automatically formatted and highlighted. You can view a preview below.
		</div>

		<%= form.text_area :content, class: "form-input form-textarea form-textarea--small", data: { role: "ide-input" }, placeholder: "Code Snippet" %>
	</div>

	<div class="ide mt-half">
		<div class="ide__sidebar">
			<h3 class="ide__title">Rules</h3>

			<div class="ide__rules" data-role="ide-rules">
				No Rules are declared.
			</div>
		</div>

		<%= tag.pre(
			tag.div(
				tag.div(class: "ide__line-counter") +
				tag.code(
					class: "ide__code microlight syntax-highlight",
					spellcheck: "false",
					data: { role: "ide-content" }),
				class: "ide__code-wrapper"),
			class: "ide__content")
		%>
	</div>

	<div class="form-group top-offset">
    <%= form.label :description, class: "form-label" %>

    <div class="form-hint">
      Write a description that might help others understand what is going on. You could explain what each variable does, or how someone could alter the code to fit in their project.<br>
      <strong>This description is full Markdown enabled.</strong> **bold**, _italic_, <%= link_to "and everything else", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", target: "_blank" %>. Add YouTube videos using <code>[youtube VIDEO_ID]</code>
    </div>

    <%= form.text_area :description, class: "form-input form-textarea" %>
  </div>

  <div class="form-group-columns mt-full">
    <div class="form-group">
      <%= form.label :proficiency, class: "form-label" %>

      <div class="form-hint">
        Make an estimate of what kind of proficiency a user might need to understand and implement the code.
      </div>

      <%= form.select :proficiency, options_for_select(Snippet.proficiencies.map { |key, value| [key.humanize, key] }), {}, class: "form-select" %>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <div class="checkbox">
      <%= form.check_box :private %>
      <%= form.label :private, "This snippet is private" %>
    </div>

    <div class="form-hint">
      Making your snippet private will mean only you can view it. This can be used to store the full code of your Workshop Items to keep them backed up.
    </div>
  </div>

	<hr>

  <div>
    <center><%= form.submit class: "button" %></center>
  </div>
<% end %>
