<% content_for :page_title, "Overwatch Workshop Wiki" %>

<%= render "arbiter_banner" if is_arbiter?(current_user) %>

<blockquote class="mt-1/1 mb-0 logo-background">
  <strong>Welcome to the Overwatch Workshop Wiki.</strong> Here you will find in-depth information about the various aspects of the Overwatch Workshop. From events, conditions and actions, to effects and other details.
  We're still in the process of filling out the Wiki. In the future anyone will be able to contribute. If you wish to contribute now please contact someone on the Discord.
</blockquote>

<div class="wiki-cards mt-1/1">
  <div class="wiki-card">
    <h3 class="mt-0">Wiki categories</h3>
    <%= render @categories.where(is_documentation: false) %>

    <h3 class="mt-1/2">Workshop documentation</h3>
    <%= render @categories.where(is_documentation: true) %>
  </div>

  <div class="wiki-card">
    <h3 class="mt-1/2 md:mt-0">Latest changes</h3>

    <% @edits.each do |edit| %>
      <div class="wiki-card__item">
        <%= link_to edit.user.username, user_path(edit.user.username) %> <%= edit.content_type %> <%= link_to edit.article.title, wiki_article_path(edit.article.slug) %>
      </div>
    <% end %>

    <%= link_to "View all changes", wiki_edits_path, class: "button button--link" %>
  </div>
</div>
