<% content_for :page_title, @article.title %>
<% content_for :og_description, strip_tags(markdown(@article.content || "")).truncate(200).gsub("\n"," ") %>
<% content_for :og_summary_small, "true" %>
<% begin %><% content_for :og_image, "#{ landscape_large_variant_public_url(@article.cover_image) if @article.cover_image.present? }" %><% rescue %><% end %>

<% cache @article do %>
  <article class="blog">
    <h1 class="blog__title">
      <%= @article.title %>

      <small class="blog__subtitle mb-0" title="<%= @article.updated_at %>">
        Last updated <%= @article.updated_at.strftime("%B %d, %Y") %>
      </small>
    </h1>

    <div class="blog__image">
      <% if @article.cover_image.attached? %>
        <% begin %>
          <%= image_tag landscape_large_variant_public_url(@article.cover_image), loading: "lazy", alt: @article.title, width: 900, height: 500 %>
        <% rescue %>
        <% end %>
      <% end %>
    </div>

    <div class="blog__content item__description">
      <%= sanitized_markdown(@article.content) %>
    </div>
  </article>
<% end %>
