<div class="heading">
  <h1><center>Admin Dashboard</center></h1>
</div>

<div class="button-group justify-center">
  <%= link_to "Dashboard", admin_root_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_root_path) }" %>
  <%= link_to "Posts", admin_posts_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_posts_path) }" %>
  <%= link_to "Users", admin_users_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_users_path) }" %>
  <%= link_to "Collections", admin_collections_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_collections_path) }" %>
  <%= link_to "Comments", admin_comments_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_comments_path) }" %>
  <%= link_to "Favorites", admin_favorites_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_favorites_path) }" %>
  <%= link_to "Notifications", admin_notifications_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_notifications_path) }" %>
  <%= link_to "Emails", admin_email_notifications_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_email_notifications_path) }" %>
  <%= link_to "Activities", admin_activities_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_activities_path) }" %>
  <%= link_to "Reports", admin_reports_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_reports_path) }" %>
  <%= link_to "Projects", admin_projects_path, data: { prefetch: false }, class: "button #{ "button--secondary" unless current_page?(admin_projects_path) }" %>
</div>

<hr>
