<%= render "navigation" %>

<p>Total comments: <strong><%= Comment.all.size %></strong></p>
<p>Last comment: <strong><%= time_ago_in_words(@comments.first.created_at).humanize %></strong></p>
<p>Comments in last 7 days: <strong><%= Comment.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<table>
  <tr>
    <th>ID</th>
    <th>Content</th>
    <th>Post</th>
    <th>User</th>
    <th>Created at</th>
  </tr>

  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td><%= truncate(comment.content, length: 30) %></td>
      <td><%= comment.post.code %></td>
      <td><%= comment.user.username %></td>
      <td><%= time_ago_in_words(comment.created_at).humanize %></td>
    </tr>
  <% end %>
</table>

<%= paginate @comments %>
