<%= render "navigation" %>

<p>Total favorites: <strong><%= @favorites.count %></strong></p>
<p>Last favorite: <strong><%= time_ago_in_words(@favorites.first.created_at).humanize %></strong></p>
<p>Favorites in last 7 days: <strong><%= @favorites.where("created_at > ?", 1.week.ago).count %></strong></p>

<hr>

<table>
  <tr>
    <th>ID</th>
    <th>Post</th>
    <th>User</th>
    <th>Created at</th>
  </tr>

  <% @favorites.limit(200).each do |favorite| %>
    <tr>
      <td><%= favorite.id %></td>
      <td><%= favorite.post.code if favorite.post %></td>
      <td><%= favorite.user.username %></td>
      <td><%= time_ago_in_words(favorite.created_at).humanize %></td>
    </tr>
  <% end %>
</table>
