<%= render "navigation" %>

<p>Total posts: <strong><%= @posts.size %></strong></p>
<p>Total users: <strong><%= @users.size %></strong></p>
<p>Total comments: <strong><%= @comments.size %></strong></p>
<p>Total favorites: <strong><%= @favorites.size %></strong></p>
<p>Total notifications: <strong><%= @notifications.size %></strong></p>

<hr>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @unique_users.group_by { |x| x.on_date.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].map { |h| h[:value] }.sum %>
<% end %>

<h3 class="mt-full">Total unique users per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @all_views.group_by { |x| x.on_date.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].map { |h| h[:value] }.sum %>
<% end %>

<h3 class="mt-full">Total views per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @copies.group_by { |x| x.on_date.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].map { |h| h[:value] }.sum %>
<% end %>

<h3 class="mt-full">Total copies per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @posts.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].length %>
<% end %>

<h3 class="mt-full">Posts created per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @users.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].length %>
<% end %>

<h3 class="mt-full">Users created per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @favorites.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].length %>
<% end %>

<h3 class="mt-full">Favorites created per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @comments.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].length %>
<% end %>

<h3 class="mt-full">Comments created per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas>

<%= inline_js "chart.js" %>
