<%= render "navigation" %>

<div class="cards">
  <div class="card">
    <span class="card__title">Posts</span>
    <%= @posts.size %>
  </div>

  <div class="card">
    <span class="card__title">Users</span>
    <%= @users.size %>
  </div>

  <div class="card">
    <span class="card__title">Comments</span>
    <%= @comments.size %>
  </div>

  <div class="card">
    <span class="card__title">Favorites</span>
    <%= @favorites.size %>
  </div>

  <div class="card">
    <span class="card__title">Notifications</span>
    <%= @notifications.size %>
  </div>
</div>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @copies.group_by { |x| x.on_date.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].map { |h| h[:value] }.sum %>
<% end %>

<h3 class="mt-full">Total copies per day</h3>
<div><canvas height="300" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas></div>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @posts.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].length %>
<% end %>

<h3 class="mt-full">Posts created per day</h3>
<div><canvas height="300" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas></div>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @users.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].length %>
<% end %>

<h3 class="mt-full">Users created per day</h3>
<div><canvas height="300" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas></div>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @favorites.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].length %>
<% end %>

<h3 class="mt-full">Favorites created per day</h3>
<div><canvas height="300" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas></div>

<% date_counts = {} %>
<% (Date.parse("June 1 2019")...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @comments.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].length %>
<% end %>

<h3 class="mt-full">Comments created per day</h3>
<div><canvas height="300" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas></div>
