<p>Total posts: <strong><%= @posts.count %></strong></p>
<p>Total snippets: <strong><%= @snippets.count %></strong></p>
<p>Total users: <strong><%= @users.count %></strong></p>
<p>Total comments: <strong><%= @comments.count %></strong></p>
<p>Total favorites: <strong><%= @favorites.count %></strong></p>
<p>Total notifications: <strong><%= @notifications.count %></strong></p>
