<%= render "navigation" %>

<p>Total posts: <strong><%= @posts.count %></strong></p>
<p>Total users: <strong><%= @users.count %></strong></p>
<p>Total comments: <strong><%= @comments.count %></strong></p>
<p>Total favorites: <strong><%= @favorites.count %></strong></p>
<p>Total notifications: <strong><%= @notifications.count %></strong></p>

<hr>

<% dates = [] %>
<% counts = [] %>
<% @posts.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% dates.push(group[0]) %>
  <% counts.push(group[1].count) %>
<% end %>

<h3 class="mt-full">Posts per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= dates %>" data-values="<%= counts %>"></canvas>

<% dates = [] %>
<% counts = [] %>
<% @users.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% dates.push(group[0]) %>
  <% counts.push(group[1].count) %>
<% end %>

<h3 class="mt-full">Users per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= dates %>" data-values="<%= counts %>"></canvas>

<% dates = [] %>
<% counts = [] %>
<% @favorites.group_by { |x| x.created_at.strftime("%Y-%m-%d") }.each do |group| %>
  <% dates.push(group[0]) %>
  <% counts.push(group[1].count) %>
<% end %>


<h3 class="mt-full">Favorites per day</h3>
<canvas width="400" height="100" class="chart" data-role="chart" data-labels="<%= dates %>" data-values="<%= counts %>"></canvas>

<%= inline_js "chart.js" %>
