<%= render "navigation" %>

<p>Total notifications: <strong><%= Notification.all.size %></strong></p>
<p>Last notification: <strong><%= time_ago_in_words(@notifications.first.created_at).humanize %></strong></p>
<p>Notifications in last 7 days: <strong><%= Notification.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<table>
  <tr>
    <th>ID</th>
    <th>Content Type</th>
    <th>Con. Model</th>
    <th>Con. ID</th>
    <th>User</th>
    <th>Created at</th>
  </tr>

  <% @notifications.each do |notification| %>
    <tr>
      <td><%= notification.id %></td>
      <td><%= notification.content_type %></td>
      <td><%= notification.concerns_model %></td>
      <td><%= notification.concerns_id %></td>
      <td><%= notification.user.username %></td>
      <td><%= time_ago_in_words(notification.created_at).humanize %></td>
    </tr>
  <% end %>
</table>

<%= paginate @notifications %>
