<%= render "navigation" %>

<p>Total posts: <strong><%= @posts.size %></strong></p>
<p>Last post: <strong><%= time_ago_in_words(@posts.first.created_at).humanize %></strong></p>
<p>Posts in last 7 days: <strong><%= @posts.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Code</th>
    <th>User</th>
    <th>Favs.</th>
    <th>Impr.</th>
    <th>Hotn.</th>
    <th>Created at</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= truncate(post.title, length: 30) %></td>
      <td><%= link_to post.code, post_path(post.code) %></td>
      <td><%= link_to post.user.username, user_path(post.user.username) %></td>
      <td><%= post.favorites_count %></td>
      <td><%= post.impressions_count %></td>
      <td><%= post.hotness %></td>
      <td><%= time_ago_in_words(post.created_at).humanize %></td>
    </tr>
  <% end %>
</table>
