<%= render "navigation" %>

<p>Total posts: <strong><%= Post.all.size %></strong></p>
<p>Last post: <strong><%= time_ago_in_words(@posts.first.created_at).humanize %></strong></p>
<p>Posts in last 7 days: <strong><%= Post.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<table>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Title</th>
    <th>Code</th>
    <th>URL</th>
    <th>Fv</th>
    <th>Imp</th>
    <th>Hot</th>
    <th>Img?</th>
    <th>Email?</th>
    <th>Snip?</th>
    <th>Created at</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.id, admin_post_path(post.id) %></td>
      <td><%= link_to post.user.username, user_path(post.user.username) %></td>
      <td><%= truncate(post.title, length: 20) %></td>
      <td><%= link_to post.code, post_path(post.code) %></td>
      <td><%= link_to nice_url_path(post.nice_url) if post.nice_url.present? %></td>
      <td><%= post.favorites_count %></td>
      <td><%= post.impressions_count %></td>
      <td><%= post.hotness %></td>
      <td><%= "✔" if post.images.any? %></td>
      <td><%= "✔" if post.email_notifications.any? %></td>
      <td><%= "✔" if post.snippet.present? %></td>
      <td><small><%= time_ago_in_words(post.created_at).humanize %></small></td>
    </tr>
  <% end %>
</table>

<%= paginate @posts %>
