<%= render "navigation" %>

<p>Total posts: <strong><%= Post.all.size %></strong></p>
<p>Last post: <strong><%= time_ago_in_words(@posts.first.created_at).humanize %></strong></p>
<p>Posts in last 7 days: <strong><%= Post.where("created_at > ?", 1.week.ago).size %></strong></p>

<%= form_tag url: admin_find_post_path do %>
  <div class="flex mb-1/4">
    <%= label_tag :title, "", class: "form-label" %>
    <%= text_field_tag :title, "", class: "form-input w-auto mr-1/4", placeholder: "Find by exact title" %>

    <%= submit_tag "Search", class: "button button--small button--secondary" %>
  </div>
<% end %>

<table>
  <tr>
    <th><%= link_to "ID", admin_posts_path %></th>
    <th>User</th>
    <th>Title</th>
    <th>Code</th>
    <th>Prv?</th>
    <th>Unl?</th>
    <th>URL</th>
    <th><%= link_to "Fv", admin_posts_path(order: "favorites_count") %></th>
    <th><%= link_to "Imp", admin_posts_path(order: "impressions_count") %></th>
    <th><%= link_to "Lst", admin_posts_path(order: "listings_count") %></th>
    <th><%= link_to "Hot", admin_posts_path(order: "hotness") %></th>
    <th>Rev</th>
    <th>Com</th>
    <th>Img?</th>
    <th>Email?</th>
    <th>Snip?</th>
    <th>Created</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><small><%= link_to post.id, admin_post_path(post.id) %></small></td>
      <td><small><%= link_to post.user.username, user_path(post.user.username) %></small></td>
      <td><small><%= truncate(post.title, length: 50) %></small></td>
      <td><small><%= link_to post.code, post_path(post.code) %></small></td>
      <td><%= "✔" if post.private? %></td>
      <td><%= "✔" if post.unlisted? %></td>
      <td><small><%= link_to nice_url_path(post.nice_url) if post.nice_url.present? %></small></td>
      <td><%= post.favorites_count %></td>
      <td><%= post.impressions_count %></td>
      <td><%= post.listings_count %></td>
      <td><%= post.hotness %></td>
      <td><%= post.revisions.count %></td>
      <td><%= post.comments.count %></td>
      <td><%= "✔" if post.images.any? %></td>
      <td><%= "✔" if post.email_notifications.any? %></td>
      <td><%= "✔" if post.snippet.present? %></td>
      <td><small><%= time_ago_in_words(post.created_at).humanize %></small></td>
    </tr>
  <% end %>
</table>

<%= paginate @posts %>
