<%= render "navigation" %>

<div class="wrapper wrapper--no-padding">
  <h3 class="mt-0">Report for: <strong><%= @report.concerns_model %> <%= @report.concerns_id %></strong></h3>

  <div class="mb-1/2">
    Status: <span class="<%= "text-primary" if @report.status == "accepted" %> <%= "text-red" if @report.status == "rejected" %>"><%= @report.status %></span> <br>
    Created at: <%= @report.created_at %>
  </div>

  <div class="mb-1/2">
    <strong>Report Category</strong>:<br>
    <%= @report.category %>
  </div>

  <% if @post.present? %>
    <div class="mt-1/2 mb-1/2">
      <strong>Post info:</strong> <br>
      Title: <%= @post.title %> <br>
      Author: <%= @post.user.username %> <br>
      Number of reports received: <%= Report.where(concerns_id: @report.concerns_id, concerns_model: "post").count %> <br>
      <%= link_to "view post in admin", admin_post_path(@post.id), class: "button button--link" %> <br>
      <%= link_to "view post", post_path(@post.code), class: "button pt-0 button--link" %>
    </div>
  <% end %>

  <div class="mt-1/2 mb-1/2">
    <strong>Submitted by:</strong> <br>

    <% if @report.user.present? %>
      <%= @report.user.username %>
      <small>(<%= @report.user.id %>)</small> -
      <em><%= link_to "view user", admin_user_path(@report.user_id) %></em>
    <% else %>
      <em>User was not signed in when submitting this report.</em>
    <% end %>
  </div>

  <div class="mt-1/2">
    <strong>Reason for report:</strong> <br>
    <%= @report.content.present? ? @report.content : "No reason given" %>
  </div>

  <% if @report.status == "unresolved" %>
    <div class="flex mt-1/2">
      <%= button_to "Accept", report_path(@report),
                              class: "button button--small",
                              method: :patch,
                              params: { status: :accepted } %>

      <%= button_to "Reject", report_path(@report),
                              class: "button button--danger button--small ml-1/4",
                              method: :patch,
                              params: { status: :rejected } %>
    </div>
  <% end %>
</div>
