<%= render "navigation" %>

<div class="wrapper wrapper--no-padding">
  <% @reports.each do |report| %>
    <div class="well mb-1/2 <%= 'faded' if report.status != "unresolved" %>">
      <div>
        <h3 class="mt-0">Report for: <strong><%= report.concerns_model %> <%= report.concerns_id %></strong></h3>

        Status: <span class="<%= "text-primary" if report.status == "accepted" %> <%= "text-red" if report.status == "rejected" %>"><%= report.status %></span> <br>
        Created at: <%= report.created_at %> <br>

        <%= link_to "View", admin_report_path(report), class: "button button--link pt-1/4 pb-0" %>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @reports %>
