<%= render "navigation" %>

<p>Total users: <strong><%= User.all.size %></strong></p>
<p>Last user: <strong><%= time_ago_in_words(@users.first.created_at).humanize %></strong></p>
<p>Users in last 7 days: <strong><%= User.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Provider</th>
    <th>Email?</th>
    <th>Img?</th>
    <th>Link?</th>
    <th>Desc?</th>
    <th>Posts</th>
    <th>Comts</th>
    <th>Favs</th>
    <th>Date</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.username, user_path(user.username) %></td>
      <td><%= user.provider %></td>
      <td><%= "✔" if user.email.present? %>
      <td><%= "✔" if user.profile_image.attached? %>
      <td><%= "✔" if user.link.present? %>
      <td><%= "✔" if user.description.present? %>
      <td><%= user.posts.count %></td>
      <td><%= user.comments.count %></td>
      <td><%= user.favorites.count %></td>
      <td><small><%= time_ago_in_words(user.created_at).humanize %></small></td>
    </tr>
  <% end %>
</table>

<%= paginate @users %>
