<%= render "navigation" %>

<div class="heading mt-1/2 mb-0">
  <h2><strong><%= @user.username %></strong> <small>(#<%= @user.id %>)</small></h2>
</div>

<div class="well well--dark">
  <%= form_for @user, url: admin_update_user_path do |form| %>
    <% if flash[:alert] %>
      <div class="warning mt-0 mb-1/4"><mark><%= flash[:alert] %></mark></div>
    <% end %>

    <%= form.label :level, class: "form-label" %>
    <%= form.select :level, User.levels.keys.to_a, {}, class: "form-select w-auto" %>

    <div class="checkbox mt-1/2">
      <%= form.check_box :verified %>
      <%= form.label :verified, "Verified" %>
    </div>

    <% if @user.verified? %>
      <div class="mt-1/8">
        Verified nice url: <%= @user.nice_url %>
      </div>
    <% end %>

    <div class="mt-1/4">
      <%= form.submit class: "button button--small button--secondary" %>
    </div>
  <% end %>
</div>

<div class="well well--dark block mt-1/1">
  <h4 class="mt-0">Send this user a notifcation</h4>

  <%= form_tag :admin_send_user_notification do %>
    <div class="form-group mb-1/4">
      <%= hidden_field :user_id, "", value: @user.id %>
      <%= label_tag "Notification content (supports markdown)" %>
      <%= text_area_tag :notification_content, "", class: "form-input mt-1/8" %>
    </div>

    <%= submit_tag "Send notification", class: "button button--secondary" %>
  <% end %>
</div>

<div class="well well--dark block mt-1/1">
  <h4 class="mt-0">Badges</h4>

  <div class="well block mb-1/2">
    <div>
      <% if @user.badges.any? %>
        <% @user.badges.each do |badge| %>
          <%= render "badges/badge", badge: badge, large: true %>
        <% end %>
      <% else %>
        <em>No badges</em>
      <% end %>
    </div>
  </div>

  <%= form_for :badge, url: badges_path do |form| %>
    <%= form.hidden_field :user_id, value: @user.id %>

    <%= form.label :badge_id, class: "form-label" %>
    <%= form.select :badge_id, badges.map { |b| ["#{ b["en"]["label"] } - #{ b["en"]["description"] }", b["id"]] }, {}, class: "form-select w-auto" %>

    <br />

    <%= submit_tag "Give badge", class: "button button--secondary mt-1/8" %>
  <% end %>
</div>

<hr>

<table class="w-auto mt-1/1">
  <tr><td>Posts</td> <td><%= @user.posts.size %></td></tr>
  <tr><td>Favorites</td> <td><%= @user.favorites.size %></td></tr>
  <tr><td>Comments</td> <td><%= @user.comments.size %></td></tr>
  <tr><td>Collections</td> <td><%= @user.collections.size %></td></tr>
  <tr><td>Notifications</td> <td><%= @user.notifications.size %></td></tr>
  <tr><td>Activities</td> <td><%= @user.activities.size %></td></tr>
  <tr><td>Remember tokens</td> <td><%= @user.remember_tokens.size %></td></tr>
  <tr><td>Forgot password tokens</td> <td><%= @user.forgot_password_tokens.size %></td></tr>
</table>


<h3 class="mt-1/1">Posts by <%= @user.username %></h3>

<table class="w-auto">
  <% @user.posts.each do |post| %>
    <tr>
      <td><strong><%= link_to post.code, post_path(post.code) %></strong></td>
      <td><%= link_to post.title, admin_post_path(post.id) %><td>
    </tr>
  <% end %>

  <tr><td><%= "No posts" if @user.posts.none? %></td></tr>
</table>
