<% random_id = SecureRandom.alphanumeric(8) %>

<div class="gallery">
  <% images.each do |title, image| %>
    <button class="gallery__item" data-action="show-modal set-gallery" data-target="gallery-<%= random_id %>" data-url="<%= image %>">
      <%= image_tag image, alt: title || "", loading: "lazy" %>

      <% if title.present? %>
        <span class="gallery__title" aria-hidden="true"><%= title %></span>
      <% end %>
    </button>
  <% end %>
</div>

<div class="modal modal--auto" data-hide-on-close style="display: none" data-modal="gallery-<%= random_id %>">
  <div class="modal__backdrop" data-role="modal-backdrop"></div>

  <div class="modal__content p-0">
    <%= image_tag "//:0", data: { gallery: "gallery-#{ random_id }" }, class: "img-fluid" %>
  </div>
</div>
