<% hero_image = hero.present? ? hero_name_to_icon_url(hero, 100) : nil %>

<div class="update-notes" id="<%= hero %>">
  <% if hero.present? %>
    <div class="update-notes__header <%= "update-notes__header--no-image" if !hero_image.present? %>">
      <% if hero_image.present? %>
        <div class="update-notes__icon">
          <%= image_tag hero_image, loading: "lazy" %>
        </div>
      <% end %>

      <h5 class="update-notes__title"><%= title.present? ? title : hero %></h5>
    </div>
  <% end %>

  <div class="update-notes__body">
    <% if description.present? %>
      <div class="update-notes__description">
        <%= description %>
      </div>
    <% end %>

    <% if abilities.present? %>
      <div class="update-notes__list">
        <% abilities.each do |key, strings| %>
          <div class="update-notes__item">
            <% begin %>
              <% ability_image = ability_name_to_icon_url(key, 50) %>
              <%= image_tag ability_image, loading: "lazy", class: "update-notes__ability" if ability_image.present? %>
            <% rescue; end %>

            <div>
              <div class="update-notes__name"><%= key %></div>

              <ul class="update-notes__changes">
                <% strings.each do |string| %>
                  <li><%= string %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
