<% content_for :page_title, "While You Wait" %>

<div class="heading mb-half">
  <h1><strong>While You Wait</strong> - <small>Codes to play while in queue</small></h1>
</div>

<div class="w-md-75">
  A curated list of games that are fun to play while you wait. Most of these are games that require no other players so you can get started right away. No need to queue while you queue!
</div>

<div class="while-you-wait">
  <div class="while-you-wait__column">
    <picture>
      <source srcset="<%= image_url "while_you_wait/header-parkour.webp" %>" type="image/webp">
      <source srcset="<%= image_url "while_you_wait/header-parkour.jpg" %>" type="image/jpg">
      <%= image_tag "while_you_wait/header-parkour.jpg", alt: "Parkour" %>
    </picture>

    <p class="mb-half"><small><em>Test your skills in navigating the maps with multiple heroes. In doing so you might learn a thing or two about mobility.</em></small></p>

    <% @while_you_waits.where(category: "Parkour").each do |while_you_wait| %>
      <%= render "post", post: while_you_wait.post %>
    <% end %>
  </div>

  <div class="while-you-wait__column">
    <picture>
      <source srcset="<%= image_url "while_you_wait/header-aim-practice.webp" %>" type="image/webp">
      <source srcset="<%= image_url "while_you_wait/header-aim-practice.jpg" %>" type="image/jpg">
      <%= image_tag "while_you_wait/header-aim-practice.jpg", alt: "Aim Practice" %>
    </picture>

    <p class="mb-half"><small><em>Get ready for your games by practicing your aim. Is your sensitivity correct? Can you take down that Pharah? Find out!</em></small></p>

    <% @while_you_waits.where(category: "Aim Practice").each do |while_you_wait| %>
      <%= render "post", post: while_you_wait.post %>
    <% end %>
  </div>

  <div class="while-you-wait__column">
    <picture>
      <source srcset="<%= image_url "while_you_wait/header-deathmatch.webp" %>" type="image/webp">
      <source srcset="<%= image_url "while_you_wait/header-deathmatch.jpg" %>" type="image/jpg">
      <%= image_tag "while_you_wait/header-deathmatch.jpg", alt: "Deathmatch" %>
    </picture>

    <p class="mb-half"><small><em>Take on friends (or strangers) in some special Deathmatch modes that can be completed in minutes.</em></small></p>

    <% @while_you_waits.where(category: "Deathmatch").each do |while_you_wait| %>
      <%= render "post", post: while_you_wait.post %>
    <% end %>
  </div>

  <div class="while-you-wait__column">
    <picture>
      <source srcset="<%= image_url "while_you_wait/header-minigames.webp" %>" type="image/webp">
      <source srcset="<%= image_url "while_you_wait/header-minigames.jpg" %>" type="image/jpg">
      <%= image_tag "while_you_wait/header-minigames.jpg", alt: "Minigames" %>
    </picture>

    <p class="mb-half"><small><em>Looking for something fun and different? Try some of these minigames and see what else Overwatch has to offer.</em></small></p>

    <% @while_you_waits.where(category: "Minigames").each do |while_you_wait| %>
      <%= render "post", post: while_you_wait.post %>
    <% end %>
  </div>
</div>
