<% content_for :page_title, t("accessibility.edit.title") %>

<%= render "layouts/account", title: t("accessibility.edit.title") do %>
  <% if flash[:alert] %>
    <div class="warning mt-0 mb-1/2"><%= flash[:alert] %></div>
  <% end %>

  <p class="mt-0 mb-1/2">
    <%= t "accessibility.edit.content"  %>
  </p>

  <div class="well well--dark mb-1/4">
    <%= button_to t("accessibility.edit.high_contrast.label"), update_accessibility_path, method: :patch, params: { user: { high_contrast: !current_user.high_contrast } },
                  class: "switch__input",
                  form_class: "switch #{ "switch--active" if current_user.high_contrast }" %>

    <p class="form-hint mt-0 mb-0">
      <%= t "accessibility.edit.high_contrast.description" %>
    </p>
  </div>

  <div class="well well--dark mb-1/4">
    <%= button_to t("accessibility.edit.large_fonts.label"), update_accessibility_path, method: :patch, params: { user: { large_fonts: !current_user.large_fonts } },
                  class: "switch__input",
                  form_class: "switch #{ "switch--active" if current_user.large_fonts }" %>

    <p class="form-hint mt-0 mb-0">
      <%= t "accessibility.edit.large_fonts.description" %>
    </p>
  </div>
<% end %>
