<% content_for :page_title, t("accessibility.edit.title") %>

<%= render "layouts/account", title: t("accessibility.edit.title") do %>
  <% if flash[:alert] %>
    <div class="warning mt-0 mb-1/2"><mark><%= flash[:alert] %></mark></div>
  <% end %>

  <p class="mt-0 mb-1/2">
    <%= t "accessibility.edit.content"  %>
  </p>

  <div class="well well--dark mb-1/4">
    <%= button_to t("accessibility.edit.high_contrast.label"), update_accessibility_path, method: :patch, params: { user: { high_contrast: !current_user.high_contrast } },
                  class: "switch__input",
                  form_class: "switch #{ "switch--active" if current_user.high_contrast }" %>

    <p class="form-hint mt-0 mb-0">
      <%= t "accessibility.edit.high_contrast.description" %>
    </p>
  </div>

  <div class="well well--dark mb-1/4">
    <%= button_to t("accessibility.edit.large_fonts.label"), update_accessibility_path, method: :patch, params: { user: { large_fonts: !current_user.large_fonts } },
                  class: "switch__input",
                  form_class: "switch #{ "switch--active" if current_user.large_fonts }" %>

    <p class="form-hint mt-0 mb-0">
      <%= t "accessibility.edit.large_fonts.description" %>
    </p>
  </div>

  <div class="well well--dark mb-1/4">
    <%= button_to t("accessibility.edit.simple_view.label"), update_accessibility_path, method: :patch, params: { user: { simple_view: !current_user.simple_view } },
                  class: "switch__input",
                  form_class: "switch #{ "switch--active" if current_user.simple_view }" %>

    <p class="form-hint mt-0 mb-0">
      <%= t "accessibility.edit.simple_view.description" %>
    </p>
  </div>

  <div class="well well--dark block">
    <h4 class="mt-0 mb-1/4 text-base"><%= t "accessibility.edit.pagination_type.title" %></h4>

    <div class="flex">
      <%= button_to t("accessibility.edit.pagination_type.pagination"), update_accessibility_path, method: :patch, params: { user: { pagination_type: "pagination" } },
                    class: "mr-1/8 button #{ "button--secondary" unless current_user.pagination_type == "pagination" }" %>

      <%= button_to t("accessibility.edit.pagination_type.infinite_scroll"), update_accessibility_path, method: :patch, params: { user: { pagination_type: "infinite_scroll" } },
                    class: "mr-1/8 button #{ "button--secondary" unless current_user.pagination_type == "infinite_scroll" }" %>

      <%= button_to t("accessibility.edit.pagination_type.load_more_button"), update_accessibility_path, method: :patch, params: { user: { pagination_type: "load_more" } },
                    class: "mr-1/8 button #{ "button--secondary" unless current_user.pagination_type == "load_more" }" %>
    </div>
  </div>
<% end %>
