<div class="form-group-max-width">
  <%= form_for @user, url: url do |f| %>
    <% if user.errors.any? %>
      <div class="error-block">
        <h2 class="error-block__title"><strong><%= pluralize(user.errors.count, "error") %></strong> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><small><%= message %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field">
      <%= f.label :username, class: "form-label" %>
      <%= f.text_field :username, placeholder: "Username", class: "form-input" %>
    </div>

    <hr class="small">

    <div class="form-field">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-input" %>

      <div class="form-hint">Please use a unique password that is different from the one you use for Overwatch. Passwords are encrypted and securely stored.</div>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-input" %>
    </div>

    <hr class="small">

    <div class="form-field">
      <%= f.label :email, "Emailaddress (Optional)", class: "form-label" %>
      <%= f.email_field :email, placeholder: "Emailaddress", class: "form-input" %>

      <div class="form-hint">Your emailaddress is used to recover your account when you forget your password. <strong>This is completely optional.</strong> Your emailaddress is encrypted and securely stored. It will not be used for anything unless explicitely allowed by you.</div>
    </div>

    <hr class="small">

    <div class="form-group checkbox">
      <%= check_box_tag :remember_me, disabled: true %>
      <%= label_tag :remember_me, "Remember me (uses cookies)" %>
    </div>

    <hr class="small">

    <%= submit_tag "Submit", class: "button" %>
  <% end %>
</div>
