<div class="form-group-max-width">
  <%= form_for @user, url: url do |f| %>
    <% if user.errors.any? %>
      <div class="error-block">
        <h2 class="error-block__title"><strong><%= pluralize(user.errors.count, "error") %></strong> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><small><%= message %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field">
      <%= f.label :username, t("users.form.username.label"), class: "form-label" %>
      <%= f.text_field :username, placeholder: t("users.form.username.label"), class: "form-input" %>
    </div>

    <hr class="small">

    <div class="form-field">
      <%= f.label :password, t("users.form.password.label"), class: "form-label" %>
      <%= f.password_field :password, placeholder: t("users.form.password.label"), class: "form-input" %>

      <div class="form-hint"><%= t("users.form.password.help") %></div>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation, t("users.form.password_confirmation.label"), class: "form-label" %>
      <%= f.password_field :password_confirmation, placeholder: t("users.form.password_confirmation.label"), class: "form-input" %>
    </div>

    <hr class="small">

    <div class="form-field">
      <%= f.label :email, "#{ t("users.form.email.label") } #{ t("users.form.optional") }", class: "form-label" %>
      <%= f.email_field :email, placeholder: "Emailaddress", class: "form-input" %>

      <div class="form-hint"><%= t("users.form.email.help_html") %></div>
    </div>

    <hr class="small">

    <div class="form-group checkbox">
      <%= check_box_tag :remember_me %>
      <%= label_tag :remember_me, t("users.form.remember_me") %>
    </div>

    <p class="form-hint"><%= t("users.form.tos_html", terms_of_service: link_to(t("footer.tos"), tos_path, class: "text-white")) %></p>

    <%= submit_tag t("users.form.submit"), class: "button w-100" %>
  <% end %>
</div>
