<% content_for :page_title, "Your account" %>

<div class="heading mt-full">
  <h1><center>Your account</center></h1>
</div>

<div class="profile">
  <div>
    <h3>Details</h3>

    <p>You are logged in as <strong><%= current_user.username %></strong></p>

    <%= link_to "Admin Dashboard", admin_path, class: "profile__action" if current_user.username == "admin" %>
    <%= link_to "View your profile", user_path(current_user.username), class: "profile__action" %>
    <%= link_to "View your notifications", notifications_path, class: "profile__action" %>

    <br>

    <%= link_to "Edit your account", edit_user_path, class: "profile__action" %>
    <%= link_to "Logout", logout_path, class: "profile__action" %>
  </div>

  <div class="activities">
    <h3>Activity log</h3>
    <%= render @activities %>

    <p class="text-right"><%= link_to "View all activity", activities_path, class: "profile__action" %></p>
  </div>
</div>

<main class="items top-offset">
  <h2>Items you've liked</h2>

  <% @favorites.each do |favorite| %>
    <%= render "posts/post", post: favorite.post %>
  <% end %>

  <%= tag.em "You've not yet liked any Items" if @favorites.blank? %>

  <%= paginate @favorites %>

  <h2 class="top-offset">Your Items</h2>

  <% @posts.each do |post| %>
    <div class="item item--small">
      <div class="item__title">
        <%= link_to post.title, post_path(post.code) %>
      </div>

      <div class="item__actions">

        <div class="favorite favorite--is-active">
          <%= inline_svg_tag "icons/icon-heart.svg", style: "height: 16px" %>
          <span class="favorite__label"><%= post.favorites_count %></span>
        </div>

        <div>
          <%= link_to "Edit", edit_post_path(post.code), class: "button button--secondary" %>
          <%= link_to "Delete", post_path(post.code), class: "button button--danger", method: :delete, data: { confirm: "Are you sure you want to delete this item? This cannot be undone." } %>
        </div>
      </div>
    </div>
  <% end %>

  <%= tag.em "You've not yet posted any Items" if @posts.blank? %>

  <div class="mt-half">
    <%= link_to "Create new Item", new_post_path, class: "button" %>
  </div>
</main>
