<% content_for :page_title, "Your account" %>

<div class="heading items-heading">
  <h1>Your account</h1>

  <%= render "profile_block" %>
</div>

<div class="profile">
  You are logged in as <strong><%= current_user.username %></strong>

  <p>
    <%= link_to "Notifications", notifications_path, class: "button button--secondary" %>
  </p>

  <hr>

  <p>
    <%= link_to "Edit your account", edit_user_path, class: "button" %>
  </p>

  <p>
    <%= link_to "Logout", logout_path, class: "button button--secondary" %>
  </p>
</div>

<main class="items">
  <div class="heading">
    <h1>Items you've liked</h1>
  </div>

  <% @favorites.each do |favorite| %>
    <%= render "posts/post", post: favorite.post %>
  <% end %>

  <%= tag.em "You've not yet liked any Items" if @favorites.blank? %>

  <%= paginate @favorites %>

  <h1 class="heading">Your Items</h1>

  <% @posts.each do |post| %>
    <div class="item item--small">
      <div class="item__title">
        <%= link_to post.title, post_path(post.code) %>
      </div>

      <div class="item__actions">

        <div class="favorite favorite--is-active">
          <%= inline_svg "icons/icon-heart.svg", style: "height: 16px" %>
          <span class="favorite__label"><%= post.favorites_count %></span>
        </div>

        <div>
          <%= link_to "Edit", edit_post_path(post.code), class: "button button--secondary" %>
          <%= link_to "Delete", post_path(post.code), class: "button button--danger", method: :delete, data: { confirm: "Are you sure you want to delete this item? This cannot be undone." } %>
        </div>
      </div>
    </div>
  <% end %>

  <%= tag.em "You've not yet posted any Items" if @posts.blank? %>

  <div class="mt-half">
    <%= link_to "Create new Item", new_post_path, class: "button" %>
  </div>

  <h1 class="heading">Your Snippets</h1>

  <% current_user.snippets.each do |snippet| %>
    <div class="item item--small">
      <div class="item__title">
        <%= link_to snippet.title, snippet_path(snippet.unique_id) %>
      </div>

      <div class="item__actions">
        <div>
          <%= link_to "Edit", edit_snippet_path(snippet.unique_id), class: "button button--secondary" %>
          <%= link_to "Delete", snippet_path(snippet.unique_id), class: "button button--danger", method: :delete, data: { confirm: "Are you sure you want to delete this snippet? This cannot be undone." } %>
        </div>
      </div>
    </div>
  <% end %>

  <%= tag.em "You've not yet posted any Snippets" if current_user.snippets.blank? %>

  <div class="mt-half">
    <%= link_to "Create new Snippet", new_snippet_path, class: "button" %>
  </div>
</main>
