<% content_for :page_title, "Edit your account" %>

<%= render "layouts/account", title: "<strong>Edit</strong> your account" do %>
  <div class="wrapper--small ml-0">
    <% if flash[:alert] %>
      <div class="warning mt-0 mb-1/2 w-100"><%= flash[:alert] %></div>
    <% end %>

    <div class="well well--dark">
      <% if @user.provider.present? %>
        <p class="mt-0">
          <%= t("users.edit.provider", provider: @user.provider.humanize) %>
        </p>
      <% else %>
        <%= render "form", user: @user, url: update_user_path %>
      <% end %>

      <div class="form-group-max-width">
        <div class="form-danger-zone">
          <%= t("users.edit.destroy.title") %>

          <%= link_to t("users.edit.destroy.action"), destroy_user_path, method: :delete, data: { confirm: t("users.edit.destroy.confirm") } %>

          <div class="form-hint mb-0">
            <%= t("users.edit.destroy.help") %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
