<% content_for :page_title, "Your account" %>

<%= render "layouts/account", title: "Hello there, <strong>#{ current_user.username }</strong>" do %>
  <% if current_user.link.blank? && current_user.profile_image.blank? && current_user.description.blank? && current_user.featured_posts.blank? %>
    <div class="well mt-0 mb-1/2">
      <%= link_to "â† Customise your profile", edit_profile_path %>
    </div>
  <% end %>

  <div class="cards">
    <div class="card">
      <span class="card__title">Favorites received</span>
      <%= number_with_delimiter(@favorites_received.size) %>
    </div>

    <div class="card">
      <span class="card__title">Views received</span>
      <%= number_with_delimiter(@views_received.pluck(:value).sum) %>
    </div>

    <div class="card">
      <span class="card__title">Copies received</span>
      <%= number_with_delimiter(@copies_received.pluck(:value).sum) %>
    </div>
  </div>

  <% date_counts = {} %>
  <% if @posts.any? %>
    <% (Date.parse(@posts.first.created_at.strftime("%Y-%m-%d"))...DateTime.now).each do |date| %>
      <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
    <% end %>
  <% else %>
    <% date_counts[DateTime.now.strftime("%Y-%m-%d")] = 0 %>
  <% end %>

  <% @copies_received.group_by { |x| (x.on_date - 1.day).strftime("%Y-%m-%d") }.each do |group| %>
    <% date_counts[group[0]] = group[1].map { |h| h[:value] }.sum %>
  <% end %>

  <h3 class="mt-1/1">Copies received per day</h3>
  <p class="form-hint mt-1/4">
    This is the total amount of times people clicked on the "copy" button for your items. Keep in mind that not all users will press this button to use your code. Anyone using the Workshop on Console, or anyone using this website on their phone will not be using this button. The same goes for those who select and copy the code manually.
  </p>

  <div style="position: relative"><canvas height="300" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas></div>

  <% if @posts.any? && @copies_received.any? && @posts.first.created_at < @copies_received.first.created_at %>
    <p class="form-hint">
      Note: This data was not recorded before <%= Statistic.where(content_type: :copy).first.created_at.strftime("%Y-%m-%d") %>
    </p>
  <% end %>

  <% @views_received.group_by { |x| (x.on_date - 1.day).strftime("%Y-%m-%d") }.each do |group| %>
    <% date_counts[group[0]] = group[1].map { |h| h[:value] }.sum %>
  <% end %>

  <h3 class="mt-1/1">Views received per day</h3>
  <p class="form-hint mt-1/4">
    This is the total amount of times people viewed all of your posts. A view is counted when someone visits the page, not when it shows up in a list. Views are unique, multiple visits by the same person do not count.
  </p>

  <div style="position: relative"><canvas height="300" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas></div>

  <% if @posts.any? && @views_received.any? && @posts.first.created_at < @views_received.first.created_at %>
    <p class="form-hint">
      Note: This data was not recorded before <%= Statistic.where(content_type: :visit).first.created_at.strftime("%Y-%m-%d") %>
    </p>
  <% end %>
<% end %>
