<% content_for :page_title, "Your account" %>

<%= render "layouts/account", title: "Hello there, <strong>#{ current_user.username }</strong>" do %>
  <% if current_user.link.blank? && current_user.profile_image.blank? && current_user.description.blank? && current_user.featured_posts.blank? %>
    <div class="well mt-0 mb-1/2">
      <%= link_to "â† Customise your profile", edit_profile_path %>
    </div>
  <% end %>

  <div class="cards cards--auto">
    <div class="card">
      <span class="card__title">Favorites received</span>
      <%= number_with_delimiter(@posts.pluck(:favorites_count).sum) %>
    </div>

    <div class="card">
      <span class="card__title">Views received</span>
      <%= number_with_delimiter(@views_received.pluck(:value).sum) %>
    </div>

    <div class="card">
      <span class="card__title">Copies received</span>
      <%= number_with_delimiter(@copies_received.pluck(:value).sum) %>
    </div>

    <div class="card">
      <span class="card__title flex">
        Listings

        <div class="tooltip align align-center ml-1/8">
          <small class="text-dark">(new)</small>

          <div class="tooltip__content">
            Started recording this value since <%= Statistic.where(content_type: :listing).first.created_at.strftime("%Y-%m-%d") %>
          </div>
        </div>

      </span>
      <%= number_with_delimiter(@posts.pluck(:listings_count).sum) %>
    </div>
  </div>

  <div data-user-analytics data-reveal-by-select-parent>
    <label class="form-label mt-1/1">Analytics type</label>

    <select class="form-select" data-action="get-user-analytics reveal-by-select" autocomplete="off">
      <option value="copies" selected>Copies received per day</option>
      <option value="views">Views received per day</option>
      <option value="listings">Listings per day</option>
    </select>

    <div data-reveal-by-select-target="copies">
      <h3 class="mt-1/2">Copies received per day</h3>
      <p class="form-hint mt-1/4">
        This is the total amount of times people clicked on the "copy" button for your items. Keep in mind that not all users will press this button to use your code. Anyone using the Workshop on Console, or anyone using this website on their phone will not be using this button. The same goes for those who select and copy the code manually.
      </p>

      <% if @posts.any? && @copies_received.any? && @posts.first.created_at < @copies_received.first.created_at %>
        <p class="form-hint">
          Note: This data was not recorded before <%= Statistic.where(content_type: :copy).first.created_at.strftime("%Y-%m-%d") %>
        </p>
      <% end %>
    </div>

    <div data-reveal-by-select-target="views" class="visibility-hidden">
      <h3 class="mt-1/2">Views received per day</h3>
      <p class="form-hint mt-1/4">
        This is the total amount of times people viewed all of your posts. A view is counted when someone visits the page, not when it shows up in a list. Views are unique, multiple visits by the same person do not count.
      </p>

      <% if @posts.any? && @views_received.any? && @posts.first.created_at < @views_received.first.created_at %>
        <p class="form-hint">
          Note: This data was not recorded before <%= Statistic.where(content_type: :visit).first.created_at.strftime("%Y-%m-%d") %>
        </p>
      <% end %>
    </div>

    <div data-reveal-by-select-target="listings" class="visibility-hidden">
      <h3 class="mt-1/2">Listings per day</h3>
      <p class="form-hint mt-1/4">
        This is the total amount of times your post appear in a list. This can be on the homepage, search results, your profile, or anywhere else posts appear. This value is unique per page. If someone sees your mode twice on the homepage, it counts as one. If someones sees your mode on the homepage and then again in a search result, both are counted.
      </p>

      <% if @posts.any? && @listings_received.any? && @posts.first.created_at < @listings_received.first.created_at %>
        <p class="form-hint">
          Note: This data was not recorded before <%= Statistic.where(content_type: :listing).first.created_at.strftime("%Y-%m-%d") %>
        </p>
      <% end %>
    </div>

    <div class="chart-wrapper">
      <canvas height="300" class="chart" data-role="chart" data-labels="[]" data-values="[]"></canvas>
    </div>
  </div>
<% end %>
