<% content_for :page_title, "Your account" %>

<%= render "layouts/account", title: t(".welcome_html", name: current_user.username) do %>
  <% if current_user.link.blank? && current_user.profile_image.blank? && current_user.description.blank? && current_user.featured_posts.blank? %>
    <div class="well mt-0 mb-1/2">
      <%= link_to "â† Customise your profile", edit_profile_path %>
    </div>
  <% end %>

  <div class="cards">
    <div class="card">
      <span class="card__title"><%= t("users.show.favorites_received") %></span>
      <big><%= number_with_delimiter(@favorites_count) %></big>
    </div>

    <div class="card">
      <span class="card__title"><%= t("users.show.views_received") %></span>
      <big><%= number_with_delimiter(@views_count) %></big>
    </div>

    <div class="card">
      <span class="card__title"><%= t("users.show.copies_received") %></span>
      <big><%= number_with_delimiter(@copies_count) %></big>
    </div>
  </div>

  <div data-user-analytics data-reveal-by-select-parent>
    <label class="form-label mt-1/1"><%= t("account.analytics.label") %></label>

    <select class="form-select" data-action="get-user-analytics reveal-by-select" autocomplete="off">
      <option value="copies" selected><%= t("account.analytics.copies.label") %></option>
      <option value="views"><%= t("account.analytics.views.label") %></option>
      <option value="favorites"><%= t("account.analytics.favorites.label") %></option>
    </select>

    <div data-reveal-by-select-target="copies">
      <p class="form-hint mt-1/4">
        <%= t("account.analytics.copies.description") %>
      </p>
    </div>

    <div data-reveal-by-select-target="views" class="visibility-hidden">
      <p class="form-hint mt-1/4">
        <%= t("account.analytics.views.description") %>
      </p>
    </div>

    <div data-reveal-by-select-target="favorites" class="visibility-hidden">
      <p class="form-hint mt-1/4"></p>
    </div>

    <p class="form-hint">
      <%= t("account.analytics.date_note") %>
    </p>

    <div class="chart-wrapper pb-0">
      <div class="chart" data-role="chart" data-markers="<%= current_user.posts.pluck(:title, :code, :created_at).to_json %>"></div>
    </div>
  </div>
<% end %>
