<% content_for :page_title, "Your account" %>

<%= render "layouts/account", title: t(".welcome_html", name: current_user.username) do %>
  <% if current_user.link.blank? && current_user.profile_image.blank? && current_user.description.blank? && current_user.featured_posts.blank? %>
    <div class="well mt-0 mb-1/2">
      <%= link_to "â† Customise your profile", edit_profile_path %>
    </div>
  <% end %>

  <div class="profile-analytics">
    <div class="profile-analytics__cards">
      <div class="card">
        <span class="card__title"><%= t "users.show.favorites_received" %></span>
        <%= number_with_delimiter(@posts.pluck(:favorites_count).sum) %>
      </div>

      <div class="card">
        <span class="card__title"><%= t "users.show.views_received" %></span>
        <%= number_with_delimiter(@views_received.pluck(:value).sum) %>
      </div>

      <div class="card">
        <span class="card__title"><%= t "users.show.copies_received" %></span>
        <%= number_with_delimiter(@copies_received.pluck(:value).sum) %>
      </div>

      <div class="card">
        <span class="card__title flex">
          <%= t "users.show.listings_received" %>

          <div class="tooltip align align-center ml-1/8">
            <small class="text-dark">(new)</small>

            <div class="tooltip__content">
              Started recording this value since <%= Statistic.where(content_type: :listing).any? ? Statistic.where(content_type: :listing).first.created_at.strftime("%Y-%m-%d") : "today" %>
            </div>
          </div>
        </span>

        <%= number_with_delimiter(@posts.pluck(:listings_count).sum) %>
      </div>
    </div>

    <%= render_async listings_path, container_class: "listings listings--loading" do %>
      <em class="spinner"></em>
    <% end %>
  </div>

  <div data-user-analytics data-reveal-by-select-parent>
    <label class="form-label mt-1/1"><%= t "account.analytics.label" %></label>

    <select class="form-select" data-action="get-user-analytics reveal-by-select" autocomplete="off">
      <option value="copies" selected><%= t "account.analytics.copies.label" %></option>
      <option value="views"><%= t "account.analytics.views.label" %></option>
      <option value="listings"><%= t "account.analytics.listings.label" %></option>
    </select>

    <div data-reveal-by-select-target="copies">
      <p class="form-hint mt-1/4">
        <%= t "account.analytics.copies.description" %>
      </p>

      <% if @posts.any? && @copies_received.any? && @posts.first.created_at < @copies_received.first.created_at %>
        <p class="form-hint">
          <%= t "account.analytics.date_note", date: Statistic.where(content_type: :copy).first.created_at.strftime("%Y-%m-%d") %>
        </p>
      <% end %>
    </div>

    <div data-reveal-by-select-target="views" class="visibility-hidden">
      <p class="form-hint mt-1/4">
        <%= t "account.analytics.views.description" %>
      </p>

      <% if @posts.any? && @views_received.any? && @posts.first.created_at < @views_received.first.created_at %>
        <p class="form-hint">
          <%= t "account.analytics.date_note", date: Statistic.where(content_type: :visit).first.created_at.strftime("%Y-%m-%d") %>
        </p>
      <% end %>
    </div>

    <div data-reveal-by-select-target="listings" class="visibility-hidden">
      <p class="form-hint mt-1/4">
        <%= t "account.analytics.listings.description" %>
      </p>

      <% if @posts.any? && @listings_received.any? && @posts.first.created_at < @listings_received.first.created_at %>
        <p class="form-hint">
          <%= t "account.analytics.date_note", date: Statistic.where(content_type: :listing).first.created_at.strftime("%Y-%m-%d") %>
        </p>
      <% end %>
    </div>

    <div class="chart-wrapper pb-0">
      <div class="chart" data-role="chart" data-markers="<%= current_user.posts.pluck(:title, :code, :created_at).to_json %>"></div>
    </div>
  </div>
<% end %>
