<% content_for :page_title, "Admin | Emails" %>

<%= render "admin/navigation"  %>

<h3>Email notifications</h3>

<p>Total notifications: <strong><%= EmailNotification.all.size %></strong></p>
<% if @email_notifications.any? %>
  <p>Last notification: <strong><%= time_ago_in_words(@email_notifications.first.created_at).humanize %></strong></p>
<% end %>
<p>Notifications in last 7 days: <strong><%= EmailNotification.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<table>
  <tr>
    <th>ID</th>
    <th>Content Type</th>
    <th>Post</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

  <% @email_notifications.each do |email_notification| %>
    <tr>
      <td><%= email_notification.id %></td>
      <td><%= email_notification.content_type %></td>
      <td><%= link_to email_notification.post.code, post_path(email_notification.post.code) %></td>
      <td><%= time_ago_in_words(email_notification.created_at).humanize %></td>
      <td><%= time_ago_in_words(email_notification.updated_at).humanize %></td>
    </tr>
  <% end %>
</table>

<hr>

<h3>Forgot password tokens</h3>

<p>Total Forgot Password Tokens: <strong><%= ForgotPasswordToken.all.size %></strong></p>
<% if @forgot_password_tokens.any? %>
  <p>Last Forgot Password Tokens: <strong><%= time_ago_in_words(@forgot_password_tokens.first.created_at).humanize %></strong></p>
<% end %>
<p>Forgot Password Tokens in last 7 days: <strong><%= ForgotPasswordToken.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<table>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

  <% @forgot_password_tokens.each do |token| %>
    <tr>
      <td><%= token.id %></td>
      <td><%= token.user.username %></td>
      <td><%= time_ago_in_words(token.created_at).humanize %></td>
      <td><%= time_ago_in_words(token.updated_at).humanize %></td>
    </tr>
  <% end %>
</table>

<%= paginate @email_notifications %>
