<% item ||= "" %>

<% buttons = [
    ["None", ""],
    ["Custom...", "Custom"],
    ["Ability 1", "Ability 1"],
    ["Ability 2", "Ability 2"],
    ["Crouch", "Crouch"],
    ["Interact", "Interact"],
    ["Jump", "Jump"],
    ["Melee", "Melee"],
    ["Primary Fire", "Primary Fire"],
    ["Reload", "Reload"],
    ["Secondary Fire", "Secondary Fire"],
    ["Ultimate", "Ultimate"]
  ] %>

  <div class="controls-form-item mb-1/4" data-role="controls-item">
    <% (0..2).each do |i| %>
      <span class="controls-form-item__button">
        <div data-role="select-with-custom">
          <%= select_tag "controls-item-button-#{ i }",
                          options_for_select(buttons, selected: controls_button_value(item, i)),
                          class: "form-select",
                          data: { role: "controls-item-select controls-item-input" } %>

          <%= text_field_tag "controls-item-button-#{ i }", controls_button_custom_value(item, i),
                              class: "form-input controls-form-item__custom #{ "hidden" unless controls_button_value(item, i) == "Custom" }",
                              data: { role: "controls-item-custom controls-item-input" },
                              maxlength: 15 %>
        </div>

        <%= tag.span "+" if i < 2 %>
      </span>
    <% end %>

    <div class="controls-form-item__description">
      <%= text_field_tag "controls-item-description", item["description"], class: "form-input pt-1/4 pb-1/4 md:ml-1/4", placeholder: "Description", data: { role: "controls-item-input" } %>

      <%= link_to "â‡…", "#", data: { role: "controls-item-move-handle" } %>
      <%= link_to "ðŸ—‘ï¸", "#", data: { action: "controls-item-remove" } %>
    </div>
  </div>
