<%= form_with url: path, model: post, data: { role: "post-form tabs" }, html: { autocomplete: "off" }, remote: true do |form| %>
  <%= render "form_errors", errors: post.errors if post.errors.any? %>

  <div class="standout p-0">
    <div class="p-1/4">
      <div class="form-group-uneven">
        <div class="form-group mt-0">
          <%= form.text_field :title, class: "form-input form-input--large", placeholder: t("posts.form.title") %>
        </div>

        <div class="form-group relative show-on-focus-within sm:mt-0">
          <%= form.text_field :code, class: "form-input form-input--large", placeholder: t("posts.form.code"), data: { action: "reveal-on-difference", original: @post.code }, autocomplete: "off" %>

          <% if current_user.posts.none? %>
            <div class="bubble bubble--warning show-on-focus-within__content">
              Not sure where to get a code? <br>
              <%= link_to "Get started here", "https://workshop.codes/wiki/articles/uploading+new+content+to+existing+import+code", class: "button button--small button--light text-orange mt-1/8", target: "_blank" %>
              <hr />
              Looking to get started with the Workshop? <br>
              <%= link_to "Check out our Editor", editor_path, class: "button button--small button--light text-orange mt-1/8", target: "_blank" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="warning warning--mild mt-1/4 pt-1/8 pb-1/8" data-role="reveal-on-difference" style="display: none">
        <p class="mb-0"><mark><%= t("posts.form.code_change.attention") %></mark></p>
        <p class="mt-0"><small><%= t("posts.form.code_change.explanation_html", article_url: "https://workshop.codes/wiki/articles/uploading+new+content+to+existing+import+code") %></small></p>
        <p class="mt-0"><small><%= t("posts.form.code_change.current_code_html", current_code: @post.code) %></small></p>
      </div>

      <%= svelte_component "DerivativesForm", { currentSources: post.source_derivs.map(&:source_code), maxCodes: Post::MAX_SOURCES } %>
    </div>

    <%= render "posts/form/tabs", form: form %>
  </div>

  <% tabs = ["description", "images", "snippet", "settings", "heroes", "maps"] %>
  <% tabs << "revision" if @post.persisted? %>

  <% tabs.each_with_index do |tab, index| %>
    <div class="tabs-content <%= "tabs-content--active" if index == 0 %>" data-tab="<%= tab %>">
      <%= render "posts/form/tabs/#{ tab }", form: form %>

      <hr class="mt-1/2 mb-1/2" />

      <div class="flex">
        <%= link_to "🠨 #{ tabs[index - 1] }", "#", class: "button button--secondary", data: { action: "set-tab", target: tabs[index - 1] } if index > 0 %>
        <%= link_to "#{ tabs[index + 1] } 🠦", "#", class: "button button--secondary ml-auto", data: { action: "set-tab", target: tabs[index + 1] } if index + 1 < tabs.size %>

        <%= form.submit class: "button ml-auto", data: { disable_with: "..." } if index + 1 == tabs.size  %>
      </div>
    </div>
  <% end %>
<% end %>
