<div class="well well--dark block mt-1/4">
  <%= form.file_field :images, multiple: true, direct_upload: true, class: "hidden-field", data: { action: "form-images" } %>
  <%= form.hidden_field :image_order %>

  <%= svelte_component("Dropzone", {
        images: (@ordered_images || {}).map { |i| {
          id: i.blob_id,
          url: rails_public_blob_url(i.variant(quality: 95, resize_to_fill: [200, 200 / 9 * 5]).processed),
          preview_url: rails_public_blob_url(i.variant(quality: 95).processed)
        } },
        label: "Drop images here to add them to your post",
        help: "Images will be displayed in a 900x500 format (max 2MB per image, jpeg/png only)",
        button: "Browse files on device",
        input: "post[images][]",
        orderInput: "post[image_order]"
      }) %>

  <div class="form-group-uneven mt-1/4">
    <div class="form-group">
      <%= form.label :carousel_video, "YouTube video", class: "form-label" %>

      <div class="form-hint">
        Include a video as the first item in the carousel. Enter only the YouTube video ID, not the full url. (Video ID is in bold: youtube.com/watch?v=<strong>FqnKB22pOC0</strong>)
      </div>

      <%= form.text_field :carousel_video, class: "form-input", placeholder: "A video ID looks like this: FqnKB22pOC0" %>

      <p class="error-help-text mb-0">Please provide a valid YouTube video link or video ID</p>
    </div>
  </div>
</div>
