<div class="item item--single mt-half">
  <div class="item__title item__title--small">
    <div><%= revision.version unless revision.version.empty? %><%= tag.small " (latest)" if revision == revision.post.revisions.last %></div>

    <small class="ml-auto">
      <span title="Created at: <%= revision.created_at %>" data-role="timeago" datetime="<%= revision.created_at %>"></span>

      <% if revision.created_at < 6.months.ago %>
        <small class="tooltip">
          ⚠

          <div class="tooltip__content">
            <strong>This code is over 6 months old.</strong> This might mean the code has expired and will no longer function.
          </div>
        </small>
      <% end %>
    </small>
  </div>

  <div class="item__code">
    <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger", data: { action: "copy-to-clipboard", target: revision.code } %>

    <span class="copy">
      <span data-copy="<%= revision.code %>" data-track-copy><%= revision.code %></span>
    </span>
  </div>
</div>

<% if revision.post.user == current_user %>
  <div class="mt-quarter">
    <%= link_to "Edit Revision", edit_revision_path(revision.id), class: "post-comment__action" %>
  </div>
<% end %>

<% unless revision.description.blank? %>
  <div class="item__description mt-0">
    <%= markdown(revision.description) %>
  </div>
<% end %>

<% if revision.snippet.present? && revision != revision.post.revisions.last %>
<%= link_to "Compare snippet to latest", revision_path(revision.id), class: "post-comment__action mt-quarter" %>
<% end %>
