<% content_for :page_title, "Viewing snippet of #{ @revision.code }" %>

<%= link_to "Return to post", post_path(@post.code), class: "button button--secondary button--small mb-quarter mt-full" %>

<h2 class="mt-0 mb-quarter">
  <% if @compare_revision.present? %>
    Comparing difference between
  <% else %>
    Viewing snippet of
  <% end %>
  <div class="dropdown" data-dropdown>
    <strong><%= link_to @revision.code, "#", class: "dropdown__toggle", data: { action: "toggle-dropdown" } %></strong>

    <div class="dropdown__content" data-dropdown-content>
      <% @post.revisions.order(created_at: :desc).each do |revision| %>
        <%= link_to difference_path(revision.id, @compare_revision.present? ? @compare_revision.id : ""), class: "dropdown__item" do %>
          <strong><%= revision.code %></strong>
          <em>- <%= revision.version %></em>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @compare_revision.present? %>
    and
    <div class="dropdown" data-dropdown>
      <strong><%= link_to @compare_revision.code, "#", class: "dropdown__toggle", data: { action: "toggle-dropdown" } %></strong>

      <div class="dropdown__content" data-dropdown-content>
        <% @post.revisions.order(created_at: :desc).each do |revision| %>
          <%= link_to difference_path(@revision.id, revision.id), class: "dropdown__item" do %>
            <strong><%= revision.code %></strong>
            <em>- <%= revision.version %></em>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</h2>

<div data-role="difference-header">
  <div class="difference-header">
    <div class="difference-header__item p-0">
      <select class="form-select form-select--small w-auto" data-action="jump-to-rule">
        <option>Jump to rule...</option>
      </select>
    </div>

    <%= link_to "View raw", raw_snippet_path(@revision.id, "json"), class: "difference-header__item" %>

    <div class="difference-header__item checkbox">
      <%= check_box_tag :hide_unchanged, "", false, data: { action: "toggle-unchanged-difference" } %>
      <%= label_tag :hide_unchanged, "Hide unchanged lines" %>
    </div>
  </div>
</div>

<div class="well">
  <%= @difference.html_safe %>
</div>
