<% if @previous_revision.present? %>
  <% content_for :page_title, "Viewing difference between #{ @revision.code } and #{ @previous_revision.code }" %>
  <h2 class="heading mb-quarter">Comparing difference between <strong><%= @revision.code %></strong> and <strong><%= @previous_revision.code %></strong></h2>
<% else %>
  <% content_for :page_title, "Viewing initial snippet for #{ @revision.code }" %>
  <h2 class="heading mb-quarter">Viewing initial snippet for <strong><%= @revision.code %></strong></h2>
<% end %>

<%= link_to "Return to post", post_path(@post.code) %>

<p class="mt-half">
  <small>
    <strong>Green</strong> = What has been added in this version. <br>
    <strong>Red</strong> = What has been removed in this version.
  </small>
</p>

<div class="well mt-half">
  <%= @difference.html_safe %>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {
    const elements = document.querySelectorAll(".diff li")
    elements.forEach(element => {
      element.classList.add("microlight")
    })
  })
</script>
