<% content_for :page_title, "Admin | Favorites" %>

<%= render "admin/navigation"  %>

<p>Total favorites: <strong><%= Favorite.all.size %></strong></p>
<p>Last favorite: <strong><%= time_ago_in_words(@favorites.first.created_at).humanize %></strong></p>
<p>Favorites in last 7 days: <strong><%= Favorite.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<table>
  <tr>
    <th>ID</th>
    <th>Post</th>
    <th>User</th>
    <th>Created at</th>
  </tr>

  <% @favorites.each do |favorite| %>
    <tr>
      <td><%= favorite.id %></td>
      <td><%= link_to favorite.post.code, post_path(favorite.post.code) if favorite.post %></td>
      <td><%= favorite.user.username %></td>
      <td><%= time_ago_in_words(favorite.created_at).humanize %></td>
    </tr>
  <% end %>
</table>

<%= paginate @favorites %>
