<% content_for :page_title, "Admin | Projects" %>

<%= render "admin/navigation"  %>

<p>Total projects: <strong><%= Project.all.size %></strong></p>
<p>Last project: <strong><%= time_ago_in_words(@projects.first.created_at).humanize %></strong></p>
<p>Projects in last 7 days: <strong><%= Project.where("created_at > ?", 1.week.ago).size %></strong></p>

<hr>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Number of backups</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.title, editor_path(uuid: project.id), target: "_blank" %></td>
      <td><%= project.user.username %></td>
      <td><%= project.project_backups.size %></td>
      <td><span title="<%= project.created_at %>"><%= time_ago_in_words(project.created_at).humanize %> ago</span></td>
      <td><span title="<%= project.updated_at %>"><%= time_ago_in_words(project.updated_at).humanize %> ago</span></td>
    </tr>
  <% end %>
</table>

<%= paginate @projects %>
