<% return unless block_property(block, "questions").present? && block_property(block, "questions").any? %>

<div class="faq faq--<%= block.id %>">
  <% block_property(block, "questions").each_with_index do |question, index| %>
    <% next unless question.present? %>

    <% label_id = "label-#{ block.id }-#{ index }" %>
    <% controls_id = "faq-#{ block.id }-#{ index }" %>

    <div class="faq__item" data-toggle-content>
      <button class="faq__question" data-action="toggle-content" aria-controls="<%= controls_id %>">
        <%= tag.div sanitize(question), id: label_id %>
        <div class="faq__icon" aria-hidden="true">▼</div>
      </button>

      <div data-role="content-to-toggle" style="display: none" id="<%= controls_id %>" aria-labelledby="<%= label_id %>">
        <div class="p-1/4 pt-0">
          <hr class="mt-0 mb-1/4" />
          <%= sanitize(markdown(block_property(block, "answers")[index])) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
