<div class="form-group mt-1/2">
  <%= form.label "Title (optional)", class: "form-label" %>
  <%= form.text_field "properties[title]", value: block_property(block, "title"), class: "form-input", autocomplete: "off" %>
</div>

<div class="form-group mt-1/2">
  <%= form.label "Codes (max 6)", class: "form-label" %>
  <p class="form-hint">Select up to 6 codes to display in a grid pattern.</p>

  <% if @user.posts.any? %>
    <%= form.select "properties[posts]",
          @user.posts.select(:id, :title, :created_at).public?.order(created_at: :desc).collect {|p| [ p.title, p.id ] },
          { include_hidden: false, selected: block_property(block, "posts") },
          { multiple: true, size: 5, class: "form-select", autocomplete: "off" } %>
  <% else %>
    <p><%= t "profile.form.featured_posts.empty" %></p>
  <% end %>
</div>
