<%= render "admin/navigation" %>

<h3 class="mt-0">Post: <strong><%= @post.title %></strong></h3>
<p>Code: <strong><%= link_to @post.code, post_path(@post.code) %></strong>
<p>Created at: <strong><%= @post.created_at %></strong>
<p>Updated at: <strong><%= @post.created_at %></strong>

<br><br>
<p>Total revisions: <strong><%= @post.revisions.size %></strong></p>
<p>Total comments: <strong><%= @post.comments.size %></strong></p>
<p>Total views: <strong><%= @post.impressions_count %></strong></p>
<p>Hotness: <strong><%= @post.hotness %></strong></p>
<p>Top hotness: <strong><%= @post.top_hotness %></strong></p>
<p>Top hotness at: <strong><%= @post.top_hotness_at %></strong></p>

<hr>

<h4>Destroy post</h4>

<%= form_tag :admin_post, url: admin_post_path(@post.id), method: :delete do %>
  <div class="form-group mb-1/4">
    <%= label_tag "Notify user of why their post will been deleted (supports markdown)" %>
    <%= text_area_tag :notification_content, "", class: "form-input mt-1/8", placeholder: "Leave empty to not send a notification" %>
  </div>

  <%= submit_tag "Destroy post", class: "button button--danger", data: { confirm: "Are you sure you want to delete this item? This cannot be undone." } %>
<% end %>

<hr>

<% date_counts = {} %>
<% (Date.parse(@post.created_at.strftime("%Y-%m-%d"))...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @views.group_by { |x| x["on_date"].to_date.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].map { |h| h[:value] }.sum %>
<% end %>

<h3 class="mt-1/1">Total views per day</h3>
<div><canvas height="300" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas></div>

<% date_counts = {} %>
<% (Date.parse(@post.created_at.strftime("%Y-%m-%d"))...DateTime.now).each do |date| %>
  <% date_counts[date.strftime("%Y-%m-%d")] = 0 %>
<% end %>

<% @copies.group_by { |x| x["on_date"].to_date.strftime("%Y-%m-%d") }.each do |group| %>
  <% date_counts[group[0]] = group[1].map { |h| h[:value] }.sum %>
<% end %>

<h3 class="mt-1/1">Total copies per day</h3>
<div><canvas height="300" class="chart" data-role="chart" data-labels="<%= date_counts.keys %>" data-values="<%= date_counts.values %>"></canvas></div>
