<% content_for :page_title, @category.title + " | Wiki" %>

<div class="action-header top-offset mb-1/2">
  <h1 class="mt-0">
    Category <strong><%= @category.title %></strong>

    <% if @category.is_documentation? %>
      <div>
        <small>Workshop documentation</small>
      </div>
    <% end %>
  </h1>

  <% if is_arbiter?(current_user) %>
    <div class="action-header__actions">
      <%= link_to "Edit", edit_wiki_category_path(@category.slug), class: "button button--secondary", remote: true %>
    </div>
  <% end %>
</div>

<% if @category.description.present? %>
  <blockquote class="mt-0 mb-0">
    <%= @category.description %>
  </blockquote>
<% end %>

<div class="mt-1/1">
  <%= render(@articles) || render("no_results") %>
</div>

<%= paginate @articles %>
