<% content_for :page_title, @category.title + " | Wiki" %>

<div class="action-header top-offset mb-half">
  <h1 class="mt-0">Category <strong><%= @category.title %></strong></h1>

  <% if is_arbiter?(current_user) %>
    <div class="action-header__actions">
      <%= link_to "Edit", edit_wiki_category_path(@category.slug), class: "button button--secondary", remote: true %>
    </div>
  <% end %>
</div>

<% if @category.description %>
  <blockquote class="mt-0 mb-0">
    <%= @category.description %>
  </blockquote>
<% end %>

<div class="mt-full">
  <%= render(@articles) || render("no_results") %>
</div>

<%= paginate @articles %>
