<title>Zez's Workshop UI Recreation</title>

<%= stylesheet_link_tag "zez_ui.css" %>

<link rel="icon" type="image/png" src="/zez-ui/img/favicon.png" />

<div id="app-wrapper-wrapper" :style="{'background-image': 'url(&quot;/zez-ui/img/backgrounds/'+background+'&quot;)'}">
    <div id="app-wrapper">
        <div id="app" class="<%= "signed-in" if current_user %>">
            <div class="sign-in-alert" v-if="!signedIn">
                {{ translate("modeWillNotBeSaved", workshopUiCustomKw) }}
                <a href="/login">{{ translate("pleaseSignIn", workshopUiCustomKw) }}</a>
            </div>

            <div class="sign-in-alert top" v-if="!isOwner">
                {{ translate("youDoNotOwnThisProject2", workshopUiCustomKw) }}
            </div>

            <div id="workshop-title" class="font-bignoodle">{{ translate("zezWorkshopUiRecreation", workshopUiCustomKw) }}</div>
            <div id="workshop-subtitle">{{ customGameSettings?.main?.modeName || translate("untitledMode", workshopUiCustomKw) }}</div>
            <div id="workshop-header">
                <div id="workshop-header-left">
                    <div id="rules-title">{{ translate("rules", workshopUiKw) }}</div>
                    <div id="rules-nb">({{ rules.length || 0}})</div>
                    <img id="button-info" class="img-button button-header" src="/zez-ui/img/info.png" v-on:click="displayInfo = true"/>
                    <img id="button-metrics" class="img-button button-header" src="/zez-ui/img/metrics.png" v-on:click="displayMetricsScreen()"/>
                    <img id="button-import" class="img-button button-header" src="/zez-ui/img/import.png" v-on:click="displayImport = true"/>
                    <!--<img id="button-export" class="img-button button-header" src="/zez-ui/img/export.png" v-on:click="showExportLink()"/>-->
                    <img id="button-settings" class="img-button button-header" src="/zez-ui/img/settings.png" v-on:click="editCustomGameSettings()"/>
                    <img id="button-save" class="img-button button-header" src="/zez-ui/img/save.png" v-on:click="saveGamemode()"/>
                </div>
                <div id="workshop-header-right">
                    <img id="button-extensions" class="img-button button-header" src="/zez-ui/img/extensions.png" v-on:click="editExtensions()"/>
                    <img id="button-var-names" class="img-button button-header" src="/zez-ui/img/var_names.png" v-on:click="editVariables()"/>
                    <img id="button-subroutine-names" class="img-button button-header" src="/zez-ui/img/subroutine_names.png" v-on:click="editSubroutines()"/>
                    <div id="button-separator"></div>
                    <template v-if="rules.some(x => x.isSelected)">
                        <img class="img-button button-header button-delete" src="/zez-ui/img/delete.png" v-on:click="deleteSelectedRules()"/>
                        <div id="buttons-move-up-down" class="button-header">
                            <img id="button-move-up" class="img-button" src="/zez-ui/img/move_up.png" v-on:click="moveSelectedRules(true)"/>
                            <img id="button-move-down" class="img-button" src="/zez-ui/img/move_down.png" v-on:click="moveSelectedRules(false)"/>
                        </div>
                        <img id="button-toggle" class="img-button button-header" src="/zez-ui/img/toggle.png" v-on:click="toggleSelectedRules()"/>
                        <img id="button-copy" class="img-button button-header" src="/zez-ui/img/copy.png" v-on:click="copySelectedRules()"/>
                    </template>
                    <img v-if="clipboard?.type === 'rules'" id="button-paste" class="img-button button-header" src="/zez-ui/img/paste.png" v-on:click="pasteRules()"/>
                    <img id="button-select-all" class="img-button button-header" src="/zez-ui/img/select_all.png" v-on:click="selectAllRules()"/>
                    <img id="button-add" class="img-button button-header" src="/zez-ui/img/add.png" v-on:click="addRule()"/>
                </div>
            </div>

            <%= render "editor/zez_ui/rules" %>
            <%= render "editor/zez_ui/ast_edit" %>
            <%= render "editor/zez_ui/delete_confirmation" %>
            <%= render "editor/zez_ui/variable_edit_screen" %>
            <%= render "editor/zez_ui/subroutine_edit_screen" %>
            <%= render "editor/zez_ui/extensions_edit_screen" %>
            <%= render "editor/zez_ui/metrics_screen" %>
            <%= render "editor/zez_ui/info_screen" %>
            <%= render "editor/zez_ui/import_screen" %>
            <%= render "editor/zez_ui/settings_screen" %>
        </div>
    </div>
</div>

<%= render "editor/zez_ui/templates/function_display" %>
<%= render "editor/zez_ui/templates/custom_game_settings" %>

<%= javascript_include_tag "/zez-ui/js/overpy.min.js?v=3" %> <!-- TODO: Add actual cache buster -->
<%= javascript_pack_tag "zez-ui.js", "data-turbolinks-track": "reload", defer: false %>
