<h2 class="mt-1/1"><%= t("posts.form.description.title") %></h2>

<%= render "blocks/post/edit_blocks" %>

<div class="form-group">
  <div class="form-hint">
    <%= t("posts.form.description.help_html", link: link_to("and everything else", "https://workshop.codes/wiki/articles/markdown+on+workshop-codes", target: "_blank")) %>
  </div>

  <%= link_to t("posts.form.description.show_preview"), "#", class: "button button--secondary mt-1/4 mb-1/4", data: { action: "markdown-preview" } %>

  <%= form.text_area :description, class: "form-input form-textarea", data: { role: "simple-mde markdown-textarea" } %>
</div>

<div class="modal modal--content-width" data-modal="markdown-preview" data-hide-on-close style="display: none">
  <div class="modal__backdrop" data-role="modal-backdrop"></div>

  <div class="modal__content">
    <div class="item__description" data-role="markdown-preview"></div>
  </div>
</div>
