<h2 class="mt-1/1">
  Maps
  <span class="form-required">(Required)</span>
</h2>

<div data-checkbox-group>
  <div class="form-group checkbox">
    <%= form.check_box :checkbox_group_maps, data: { action: "checkbox-select-all" } %>
    <%= form.label :checkbox_group_maps, "Check all maps" %>
  </div>

  <div class="form-group-triple">
    <% maps.group_by { |item| item["type"] }.each do |map_type, maps| %>
      <div class="form-group" data-checkbox-group>
        <h3><%= map_type[current_locale] %></h3>

        <% if maps.count > 1 %>
          <div class="checkbox">
            <%= form.check_box "checkbox_group_#{ map_type["en"] }", data: { action: "checkbox-select-all" } %>
            <%= form.label "checkbox_group_#{ map_type["en"] }", "Check all #{map_type["en"]} maps" %>
          </div>

          <br>
        <% end %>

        <% maps.each do |map| %>
          <div class="checkbox">
            <%= form.check_box :maps, { multiple: true, checked: (@post.maps.include?(map["en"]) if @post.maps) }, map["en"], false %>
            <%= form.label "maps_#{ map["en"].downcase.gsub(" ", "_").gsub(":", "").gsub("'", "") }" do %>
              <%= i18n_value_in_array(maps, map["en"]) %>
              <%= tag.small "OW2", class: "text-overwatch-2" if map["overwatch_2"].present? %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
