<% return unless @post.persisted? %>

<h2 class="mt-1/1">Update log</h2>

<div data-reveal-by-checkbox>
  <div class="checkbox">
    <%= form.check_box :revision, data: { action: "reveal-by-checkbox" } %>
    <%= form.label :revision, t("posts.form.revision.label") %>
  </div>

  <span class="form-hint">
    Checking this tells our system you've updated your Workshop code. This will allow you to write a summary of what has changed. This should only be used if you've made changes to your gamemode, not if you've only made changes to your post on this website.<br>
    If your share code has changed the URL to your old code will continue to function, even if you do not check this box.
  </span>

  <div class="form-group mt-1/2" data-role="hidden-by-checkbox" style="<%= "display: none" %>">
    <div class="form-group form-group-max-width mb-1/2">
      <%= form.label :version, t("posts.form.version.label"), class: "form-label" %>

      <div class="form-hint">
        Update the version number if you are creating a revision. If you already changed it in the Settings tab you don't need to do it here again.
      </div>

      <%= form.text_field :version, class: "form-input", placeholder: t("posts.form.version.placeholder"), data: { role: "linked-input", key: "version" } %>
    </div>

    <div class="form-group mt-0">
      <%= form.label :revision_description, t("posts.form.revision.input.label"), class: "form-label" %>

      <div class="form-hint">
        Write a short summary of what has changed in this version in relation to the previous. <strong>This description is full Markdown enabled.</strong>

      </div>

      <%= form.text_area :revision_description, class: "form-input form-textarea", data: { role: "simple-mde", max_length: REVISION_DESCRIPTION_LIMIT } %>
    </div>
  </div>
</div>
