<% return unless @post.persisted? %>

<h2 class="mt-1/1"><%= t("posts.form.revision.title") %></h2>

<div data-reveal-by-checkbox>
  <div class="checkbox">
    <%= form.check_box :revision, data: { action: "reveal-by-checkbox" } %>
    <%= form.label :revision, t("posts.form.revision.label") %>
  </div>

  <span class="form-hint">
    <%= t("posts.form.revision.help_html") %>
  </span>

  <div class="form-group mt-1/2" data-role="hidden-by-checkbox" style="<%= "display: none" %>">
    <div class="form-group form-group-max-width mb-1/2">
      <%= form.label :version, t("posts.form.version.label"), class: "form-label" %>

      <div class="form-hint">
        Update the version number if you are creating a revision. If you already changed it in the Settings tab you don't need to do it here again.
      </div>

      <%= form.text_field :version, class: "form-input", placeholder: t("posts.form.version.placeholder"), data: { role: "linked-input", key: "version" } %>
    </div>

    <div class="form-group mt-0">
      <%= form.label :revision_description, t("posts.form.revision.input.label"), class: "form-label" %>

      <div class="form-hint">
        <%= t("posts.form.revision.input.help_html") %>
      </div>

      <%= form.text_area :revision_description, class: "form-input form-textarea", data: { role: "simple-mde", max_length: REVISION_DESCRIPTION_LIMIT } %>
    </div>
  </div>
</div>
