<h2 class="mt-1/1"><%= t("posts.form.snippet.title") %></h2>

<div class="form-group">
  <span class="form-hint">
    <p><%= t("posts.form.snippet.help_html") %></p>
    <p><%= t("posts.form.snippet.hint") %></p>
  </span>

  <%= form.text_area :snippet, class: "form-input form-textarea form-textarea--small" %>
</div>

<hr class="mt-1/2 mb-1/2" />

<div class="flex justify-between">
  <%= link_to "🠨 Images", "#", class: "button button--secondary", data: { action: "set-tab", target: "images" } %>
  <%= link_to "Settings 🠦", "#", class: "button button--secondary", data: { action: "set-tab", target: "settings" } %>
</div>
