<div class="mt-1/2 mb-1/2">
  <strong>Post Info:</strong> <br>
  Title at time of report: <%= report_model_property(@report, "post", "title") %> <br>
  Code at time of report: <%= report_model_property(@report, "post", "code") %> <br>

  <% if @post.present? %>
    Current Title: <%= @post.title %> <br>
    Number of received reports for post: <%= Report.where(concerns_id: @report.concerns_id, concerns_model: "post").count %> <br>
    <%= link_to "view post in admin", admin_post_path(@post.id), class: "button button--link" %> <br>
    <%= link_to "view post", post_path(@post.code), class: "button pt-0 button--link" %>
  <% end %>
</div>
