<%= render "admin/navigation"  %>

<div class="wrapper wrapper--no-padding">
  <h3 class="mt-0">Report for: <strong><%= @report.concerns_model %> <%= @report.concerns_id %></strong></h3>

  <div class="mb-1/2">
    Status: <span class="<%= "text-green" if @report.status == "accepted" %> <%= "text-red" if @report.status == "rejected" %>"><%= @report.status %></span> <br>
    Created at: <%= @report.created_at %>
  </div>

  <div class="mb-1/2">
    <strong>Report Category</strong>:<br>
    <%= @report.category %>
  </div>

  <% if @report.reported_user.present? %>
    <div class="mb-1/2">
      <strong>Reported Content Author</strong>:<br>
      <%= @report.reported_user.username %>
      <small>(<%= @report.reported_user.id %>)</small> -
      <em><%= link_to "view user", admin_user_path(@report.reported_user.id) %></em>
    </div>
  <% end %>

  <%# https://stackoverflow.com/a/8180410 %>
  <% if lookup_context.exist?(@report.concerns_model, lookup_context.prefixes, partial = true) %>
    <%= render @report.concerns_model %>
  <% else %>
    <div class="mb-1/2">
      <p>Invalid concerns_model <strong><%= @report.concerns_model %></strong></p>
    </div>
  <% end %>

  <div class="mt-1/2 mb-1/2">
    <strong>Submitted by:</strong> <br>

    <% if @report.user.present? %>
      <%= @report.user.username %>
      <small>(<%= @report.user.id %>)</small> -
      <em><%= link_to "view user", admin_user_path(@report.user_id) %></em>
    <% else %>
      <em>User was not signed in when submitting this report.</em>
    <% end %>
  </div>

  <div class="mt-1/2">
    <strong>Reason for report:</strong> <br>
    <%= @report.content.present? ? @report.content : "No reason given" %>
  </div>

  <% if @report.status == "unresolved" %>
    <div class="flex mt-1/2">
      <%= button_to "Accept", report_path(@report),
                              class: "button button--small",
                              method: :patch,
                              params: { status: :accepted } %>

      <%= button_to "Reject", report_path(@report),
                              class: "button button--danger button--small ml-1/4",
                              method: :patch,
                              params: { status: :rejected } %>
    </div>
  <% end %>
</div>
