<%= render "admin/navigation" %>

<h3>Unique visits</h3>

<div class="chart-wrapper pb-0">
  <div class="chart" data-role="chart" data-data="<%= @unique_visits.to_json %>"></div>
</div>

<h3 class="mt-1/1">Admin activity log</h3>

<% @admin_activity.each do |activity| %>
  <div class="well block mb-1/8">
    <div class="mb-1/4 text-lightest">
      <small><%= time_ago_in_words(activity.created_at) %> ago &nbsp;</small>
      <strong><%= activity.user.username %></strong> - <%= activity.content_type %>
    </div>

    <div>
      <strong>Relevant data:</strong> <%= activity.properties.to_json %>
    </div>
  </div>
<% end %>
