<% content_for :page_title, "Admin dashboard" %>

<%= render "admin/navigation" %>

<p>
  <strong>Analytics since:</strong>

  <span class="button-group inline-flex ml-1/4">
    <%= link_to "1 week ago", admin_root_path(from: 1.week.ago, period: "short"), class: "button button--secondary button--small" %>
    <%= link_to "2 weeks ago", admin_root_path(from: 2.weeks.ago, period: "short"), class: "button button--secondary button--small" %>
    <%= link_to "1 month ago", admin_root_path(from: 1.month.ago, period: "short"), class: "button button--secondary button--small" %>
    <%= link_to "6 months ago", admin_root_path(from: 6.months.ago), class: "button button--secondary button--small" %>
    <%= link_to "1 year ago", admin_root_path(from: 1.year.ago), class: "button button--secondary button--small" %>
    <%= link_to "2 years ago", admin_root_path(from: 2.years.ago), class: "button button--secondary button--small" %>
    <%= link_to "Forever", admin_root_path, class: "button button--secondary button--small" %>
  </span>
</p>

<div class="flex gap-1/4">
  <div style="width: 50%">
    <h3>Unique visits to individual posts</h3>

    <div class="chart-wrapper pb-0">
      <div class="chart" data-role="chart" data-data="<%= @unique_visits.to_json %>"></div>
    </div>
  </div>

  <div style="width: 50%">
    <h3>Unique copies</h3>

    <div class="chart-wrapper pb-0">
      <div class="chart" data-role="chart" data-data="<%= @unique_copies.to_json %>"></div>
    </div>
  </div>
</div>

<h3 class="mt-1/1">Admin activity log</h3>

<% @admin_activity.each do |activity| %>
  <div class="well block mb-1/8">
    <div class="mb-1/4 text-lightest">
      <small><%= time_ago_in_words(activity.created_at) %> ago &nbsp;</small>
      <strong><%= activity.user.username %></strong> - <%= activity.content_type %>
    </div>

    <div>
      <strong>Relevant data:</strong> <%= activity.properties.to_json %>
    </div>
  </div>
<% end %>
