<div class="content-block mt-1/4" data-id="<%= block.id %>" data-toggle-content data-sortable-block>
  <div class="content-block__title">
    <h3 class="mt-0 mb-0"><%= block.name.humanize %></h3>

    <div>
      <%= link_to "Edit", "#",
          class: "text-white",
          data: { action: "toggle-content", show_with: "Hide", hide_with: "Edit" } %>

     <%= link_to "Destroy", block_path(block.id),
         method: :delete,
         remote: true,
         data: { disable_with: "Loading...", confirm: "Are you sure? This cannot be undone." },
         class: "text-red" %>
    </div>
  </div>

  <div data-role="content-to-toggle" style="display: none">
    <%= form_for :block, url: block_path(block.id), method: :patch, remote: true do |form| %>
        <%= render "blocks/profile/settings/#{ block.name }", block: block, form: form %>

        <%= submit_tag "Save", class: "button mt-1/4", data: { disable_with: "Submitting..." } %>
    <% end %>
  </div>
</div>
