<% return unless block_property(block, "post").present? %>

<% post = @posts.except(:limit, :offset).find_by(id: block_property(block, "post")) %>

<% return unless post %>

<div class="item item--large" data-code="<%= post.code %>">
  <div>
    <%= link_to post_path(post.code), class: "item__thumbnail" do %>
      <%= image_tag url_for_post_thumbnail(post, 692, 394, "large"), alt: post.title, width: 692, height: 394, loading: "lazy", class: "mb-1/4" %>
    <% end %>

    <%= render "posts/code", post: post %>
  </div>

  <div>
    <div class="item__title pb-0">
      <%= link_to post.title, post_path(post.code) %>

      <div class="item__favorite mt-0 mr-0 ml-auto pl-1/4">
        <%= render "favorites/form", post: post %>
      </div>
    </div>


    <div class="item__description mt-0">
      <%= sanitize(markdown(truncate(block_property(block, "description"), length: 500))) %>
    </div>

    <%= link_to "View more", post_path(post.code), class: "button button--secondary mt-1/8 pl-1/1 pr-1/1" %>
  </div>
</div>
