<% content_for :page_title, t("archive.navigation.title") %>

<div class="wrapper">
  <div class="heading">
    <h1 class="text-md-center text-pure-white">
      <%= @post.title %><br>
      Code: <%= @post.code %><br>
      <%= t("archive.navigation.title") %>
    </h1>
  </div>


  <% if @archive_authorization.present? %>
    <%= render "archive_controls", post: @post %>
  <% else %>
    <div class="well well--dark">
      <div class="w-100">
        <% if session[:oauth_uid].blank? %>
          <%= render "needs_auth" %>
        <% else %>
          <%= render "not_authorized" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
