<% content_for :page_title, "#{ t "archive.navigation.title" } for #{ @post.code }" %>

<div class="wrapper">
  <div class="heading">
    <h1 class="text-md-center text-pure-white">
      <%= @post.title %><br>
      Code: <%= @post.code %><br>
      Archive Actions
    </h1>
  </div>


  <% if @archive_authorization.present? %>
    <%= render "archive_controls", post: @post %>
  <% else %>
    <div class="well well--dark">
      <div class="w-100">
        <% if session[:oauth_uid].blank? %>
          <p class="mt-0">You must authenticate in order to transfer or delete this archive post.</p>
          <p>Authenticating via the button below will not create a Workshop.codes account or permanently store any additional data on our servers.</p>
        <% else %>
          <p class="mt-0 text-red">You are not authorized to take action on this archive post.</p>
          <p class="text-red">If you believe this is in error, you may need to <a href="https://battle.net" target="_blank" rel="noreferrer noopener" class="text-white">go to Battle.net</a> and switch accounts there before trying to authenticate again.</p>
        <% end %>

        <%= link_to "/auth/bnet?auth_only_no_user=1&redirect_path=#{archive_path(code: @post.code)}", method: :post, class: "button button--bnet mt-1/8", data: { prefetch: false } do %>
          <%= inline_svg_tag "bnet.svg", height: 24 %>
          <%= t "archive.navigation.authenticate" %>
        <% end %>


        <% if current_user.present? %>
          <hr class="mt-1/4 mb-1/4">

          <p class="text-orange">Your current Workshop.codes account is not associated with the Battle.net account which originally created this post.</p>
          <p>If you were not expecting this to be the case, double-check that you have logged into the right Workshop.codes account and that at least one of the following two things are true:</p>

          <ul>
            <li>You logged into this Workshop.codes account via the correct Battle.net account, or</li>
            <li>You have linked the correct Battle.net account to your current Workshop.codes account</li>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
