<div class="favorite favorite--is-active ml-0 mt-1/2">
  <%= inline_svg_tag "icons/icon-heart.svg", style: "height: 16px" %>
  <span class="favorite__label"><%= post.favorites_count %></span>
</div>

<% if post.hotness %>
  <div class="tooltip align-center ml-0">
    <%= inline_svg_tag "icons/icon-onfire.svg", height: 16, width: 16 %>
    <span class="favorite__label"><%= post.hotness %></span>

    <div class="tooltip__content">
      <strong>On Fire score</strong> This value is an indicator of how popular a code is at the moment. Higher = better.
    </div>
  </div>
<% end %>

<div data-post-analytics data-reveal-by-select-parent class="mt-1/2">
  <label class="form-label">Analytics type</label>

  <select class="form-select" data-action="get-post-analytics reveal-by-select" data-post-id="<%= post.id %>" autocomplete="off">
    <option value="daily-copies">Copies per day</option>
    <option value="daily-views">Views per day</option>
  </select>

  <div data-reveal-by-select-target="daily-copies">
    <p class="form-hint mt-1/4">
      This is the total amount of times people clicked on the "copy" button for this. Keep in mind that not all users will press this button to use your code. Anyone using the Workshop on Console, or anyone using this website on their phone will not be using this button. The same goes for those who select and copy the code manually.
    </p>
  </div>

  <div data-reveal-by-select-target="daily-views" class="visibility-hidden">
    <p class="form-hint mt-1/4">
      This is the total amount of times people viewed this post. A view is counted when someone visits the page, not when it shows up in a list. Views are unique, multiple visits by the same person do not count.
    </p>
  </div>

  <p class="form-hint">
    Note: Updates daily. Shows up to 6 months.
  </p>

  <div class="chart-wrapper pb-0 mb-1/1">
    <div class="chart" data-role="chart" data-post-id="<%= post.id %>"></div>
  </div>
</div>
