<% preload ||= false %>
<% image_small = rails_public_blob_url(image.variant(saver: { quality: 95 }, resize_to_fill: [450, 250], format: :webp).processed) %>
<% image_large = rails_public_blob_url(image.variant(saver: { quality: 95 }, resize_to_fill: [900, 500], format: :webp).processed) %>
<% image_breakpoint = 560 %>

<% content_for :preload do %>
  <link rel="preload" fetchpriority="high" as="image" type="image/webp" href="<%= image_large %>" media="(min-width: <%= image_breakpoint %>px)">
  <link rel="preload" fetchpriority="high" as="image" type="image/webp" href="<%= image_small %>" media="(max-width: <%= image_breakpoint - 1 %>px)">
<% end if preload && index == 0 %>

<div class="carousel__item">
  <img
    <%= "data-" if index >= 2 %>src="<%= image_large %>"
    <%= "data-" if index >= 2 %>srcset="
      <%= image_small %> <%= image_breakpoint - 1 %>w,
      <%= image_large %> 900w"
    sizes="
      (max-width: <%= image_breakpoint - 1 %>px) 100vw,
      (min-width: <%= image_breakpoint %>px) 900px"
    fetchpriority="<%= index == 0 ? "high" : "low" %>"
    width="900"
    height="500"
    alt="">

  <div class="carousel__actions">
    <div
      class="button button--small button--secondary"
      data-action="show-modal set-gallery"
      data-target="carousel-modal"
      data-url="<%= rails_public_blob_url(image.variant(saver: { quality: 95 }).processed) %>">
      View original size
    </div>
  </div>
</div>
