<% image_ids = @post.image_order || "[]" %>
<% ordered_images = JSON.parse(image_ids).collect {|i| @post.images.find_by_blob_id(i) } %>

<div class="carousel">
  <div class="carousel__wrapper">
    <div data-role="carousel">
      <% ordered_images.each_with_index do |image, index| %>
        <div class="carousel__item">
          <picture>
            <source media="(min-width: 560px)" <%= "data-" if index >= 2 %>srcset="<%= url_for image.variant(quality: 95, resize_to_fill: [900, 500]).processed %>" type="image/jpeg">
            <source media="(min-width: 0px)" <%= "data-" if index >= 2 %>srcset="<%= url_for image.variant(quality: 95, resize_to_fill: [450, 280]).processed %>" type="image/jpeg">
            <img <%= "data-" if index >= 2 %>src="<%= url_for image.variant(quality: 95, resize_to_fill: [900, 500]).processed %>" %>
          </picture>
        </div>
      <% end %>
    </div>
  </div>

  <div class="carousel__navigation">
    <% ordered_images.each_with_index do |image, index| %>
      <div class="carousel__navigation-item" data-action="carousel-go-to" data-target="<%= index %>">
        <%= image_tag image.variant(quality: 95, resize_to_fill: [120, 120]).processed %>
      </div>
    <% end %>
  </div>
</div>
