<div class="carousel">
  <div class="carousel__wrapper">
    <div data-role="carousel">
      <% if @post.carousel_video.present? %>
        <div class="carousel__item">
          <%= render "carousel_video" %>
        </div>
      <% end %>

      <% @ordered_images.each_with_index do |image, index| %>
        <div class="carousel__item">
          <picture>
            <source media="(min-width: 560px)" <%= "data-" if index >= 2 %>srcset="<%= ENV["CDN"] + image.variant(quality: 95).processed.key %>" type="image/jpeg">
            <source media="(min-width: 0px)" <%= "data-" if index >= 2 %>srcset="<%= ENV["CDN"] + image.variant(quality: 95, resize_to_fill: [450, 250]).processed.key %>" type="image/jpeg">
            <img <%= "data-" if index >= 2 %>src="<%= ENV["CDN"] + image.variant(quality: 95).processed.key %>" aria-label="Image for '<%= @post.title %>'" />
          </picture>
        </div>
      <% end %>
    </div>
  </div>

  <div class="carousel__navigation">
    <% if @post.carousel_video.present? %>
      <div class="carousel__navigation-item" data-action="carousel-go-to" data-target="0">
        <div class="carousel__navigation-item-video-overlay"></div>
        <%= image_tag "https://i.ytimg.com/vi/#{ @post.carousel_video }/default.jpg" %>
      </div>
    <% end %>

    <% @ordered_images.each_with_index do |image, index| %>
      <div class="carousel__navigation-item" data-action="carousel-go-to" data-target="<%= @post.carousel_video.present? ? index + 1 : index %>">
        <%= image_tag ENV["CDN"] + image.variant(quality: 95, resize_to_fill: [120, 120]).processed.key, aria: { label: "Thumbnail image for '#{ @post.title }'" } %>
      </div>
    <% end %>
  </div>
</div>
