<% eager_load_first_index ||= false %>
<% loading = eager_load_first_index && post_counter == 0 ? "eager" : "lazy" %>

<% cache_unless current_user, [post, "card"] do %>
  <% image_url = url_for_post_thumbnail(post, 300, 171, "medium") %>

  <div class="card" data-code="<%= post.code %>">
    <%= link_to post_path(post.code), title: post.title, tabindex: -1 do %>
      <%= image_tag image_url,
        srcset: "
          #{ image_url } 1x,
          #{ url_for_post_thumbnail(post, 600, 342, "large") } 2x",
        alt: post.title,
        width: 300,
        height: 171,
        loading: loading,
        class: "card__image" %>
    <% end %>

    <div class="relative z-1 flex mb-auto">
      <div class="mr-1/8">
        <%= link_to truncate(post.title, length: 40), post_path(post.code), class: "card__title pb-0", title: (post.title) %>

        <small class="card__author">
          by
          <%= link_to post.user.clean_username, user_profile_path(post.user), rel: "author" %>
        </small>
      </div>

      <div class="item__favorite mt-0 mr-0 ml-auto">
        <%= render "favorites/form", post: post %>
      </div>
    </div>

    <%= image_tag image_url,
      width: 300,
      height: 171,
      loading: loading,
      fetchpriority: loading === "eager" ? "high" : nil,
      class: "card__blurred-background",
      alt: "",
      role: "presentation" %>

    <%= render "posts/code", post: post, item_class: "code mt-1/4" %>
  </div>
<% end %>
