<% preload ||= false %>
<% image_breakpoint = 560 %>

<% content_for :preload do %>
  <link rel="preload" fetchpriority="high" as="image" type="image/webp" href="<%= landscape_large_variant_public_url(image) %>" media="(min-width: <%= image_breakpoint %>px)">
  <link rel="preload" fetchpriority="high" as="image" type="image/webp" href="<%= landscape_small_variant_public_url(image) %>" media="(max-width: <%= image_breakpoint - 1 %>px)">
<% end if preload && index == 0 %>

<div class="carousel__item">
  <img
    <%= "data-" if index >= 2 %>src="<%= landscape_large_variant_public_url(image) %>"
    <%= "data-" if index >= 2 %>srcset="
      <%= landscape_small_variant_public_url(image) %> <%= image_breakpoint - 1 %>w,
      <%= landscape_large_variant_public_url(image) %> 900w"
    sizes="
      (max-width: <%= image_breakpoint - 1 %>px) 100vw,
      (min-width: <%= image_breakpoint %>px) 900px"
    fetchpriority="<%= index == 0 ? "high" : "low" %>"
    width="900"
    height="500"
    alt="">

  <div class="carousel__actions">
    <div
      class="button button--small button--secondary"
      data-action="show-modal set-gallery"
      data-target="carousel-modal"
      data-url="<%= original_variant_public_url(image) %>">
      View original size
    </div>
  </div>
</div>
