<% begin %>
  <div class="carousel">
    <% if @ordered_images.present? && @ordered_images.one? && !@post.carousel_video.present? %>
      <div class="shadow-block bg-darker overflow-hidden" data-use-blur="true">
        <%= render "carousel_item", image: @ordered_images.first, index: 0 %>
      </div>
    <% elsif (@ordered_images.present? && @ordered_images.many?) || (@post.carousel_video.present? && @ordered_images.present?) %>
      <div class="shadow-block bg-darker" data-role="carousel" data-use-blur="true">
        <% if @post.carousel_video.present? %>
          <div class="carousel__item">
            <%= render "carousel_video" %>
          </div>
        <% end %>

        <% @ordered_images.each_with_index do |image, index| %>
          <%= render "carousel_item", image: image, index: index %>
        <% end %>
      </div>

      <div class="carousel__navigation">
        <% if @post.carousel_video.present? %>
          <div class="carousel__navigation-item" data-action="carousel-go-to" data-target="0">
            <div class="carousel__navigation-item-video-overlay"></div>
            <%= image_tag "https://i.ytimg.com/vi/#{ @post.carousel_video }/default.jpg" %>
          </div>
        <% end %>

        <% @ordered_images.each_with_index do |image, index| %>
          <div class="carousel__navigation-item" data-action="carousel-go-to" data-target="<%= @post.carousel_video.present? ? index + 1 : index %>">
            <%= image_tag rails_public_blob_url(image.variant(quality: 95, resize_to_fill: [120, 120], format: :webp).processed), aria: { label: "Thumbnail image for '#{ @post.title }'" }, height: 120, width: 120 %>
          </div>
        <% end %>
      </div>
    <% elsif !@ordered_images.present? && @post.carousel_video.present? %>
      <div>
        <%= render "carousel_video" %>
      </div>
    <% end %>

    <div class="carousel__blur" data-role="carousel-blur"></div>
  </div>
<% rescue %>
  <p><small><em>Images are temporarily unavailable.</em></small></p>
<% end %>

<div class="modal modal--auto" data-hide-on-close style="display: none" data-modal="carousel-modal">
  <div class="modal__content p-0">
    <%= image_tag "//:0", data: { gallery: "carousel-modal" }, class: "img-fluid" %>
  </div>

  <div class="modal__backdrop" data-role="modal-backdrop"></div>
</div>
