<% item_class ||= "item__code" %>

<div class="<%= item_class %>" data-action="copy-to-clipboard" data-target="<%= post.code %>">
  <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger" %>

  <span class="copy">
    <span data-copy="<%= post.code %>" data-track-copy><%= post.code %></span>
  </span>

  <% if post.ptr? %>
    <div class="item__code-flag">PTR</div>
  <% end %>
</div>
