<% item_class ||= "code" %>

<button class="<%= item_class %>" data-action="copy-to-clipboard" data-target="<%= post.code %>">
  <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger", width: 18, height: 18 %>

  <span class="copy">
    <span data-copy="<%= post.code %>" data-track-copy aria-label="<%= post.code.chars.join(" ") %>"><%= post.code %></span>
  </span>

  <% if post.ptr? %>
    <div class="code__flag">PTR</div>
  <% end %>
</button>
