<% item_class ||= "code" %>

<button class="<%= item_class %>" data-action="copy-to-clipboard" data-target="<%= post.code %>">
  <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger" %>

  <span class="copy">
    <span data-copy="<%= post.code %>" data-track-copy><%= post.code %></span>
  </span>

  <% if post.ptr? %>
    <div class="code__flag">PTR</div>
  <% end %>

  <% if post.overwatch_2_compatible? %>
    <div class="code__flag bg-overwatch-2">OW2</div>
  <% end %>
</button>
