<% tabs = ["workshop", "pc", "playstation", "xbox", "switch"] %>

<div class="mt-1/2 mb-1/1" data-role="tabs">
  <div class="controls-header">
    <h3 class="mt-0 mb-0 mr-1/4">Controls</h3>

    <div class="tabs tabs--buttons">
      <% tabs.each do |tab| %>
        <%= link_to inline_svg_tag("controls/#{ tab }.svg"), "#", class: "tabs__item #{ "tabs__item--active" if tab == "workshop" }", data: { action: "set-tab", target: tab } %>
      <% end %>
    </div>
  </div>

  <% tabs.each do |tab| %>
    <div class="tabs-content <%= "tabs-content--active" if tab == "workshop" %>"data-tab="<%= tab %>">
      <div class="controls">
        <% @post.parsed_controls.each do |item| %>
          <div class="controls__buttons">
            <% item["buttons"].each_with_index do |button, index| %>
              <% if tab == "workshop" || button["Custom"] %>
                <kbd><%= button["Custom"] || button %></kbd>
              <% else %>
                <%= image_tag "controls/#{ tab }/#{ button.downcase.gsub(" ", "-") }.png", loading: "lazy" %></kbd>
              <% end %>

              <%= tag.strong "+" unless index + 1 == item["buttons"].length %>
            <% end %>
          </div>

          <div class="controls__description"><%= item["description"] %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
