<%= form_with url: path, model: post, local: true, data: { role: "post-form" } do |form| %>
  <% if post.errors.any? %>
    <div class="error-block">
      <h2 class="error-block__title"><strong><%= pluralize(post.errors.count, "error") %></strong> prohibited this Item from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><small><%= message %></small></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group-uneven">
    <div class="form-group">
      <%= form.text_field :title, class: "form-input form-input--large", placeholder: "Title" %>
    </div>

    <div class="form-group">
      <%= form.text_field :code, class: "form-input form-input--large", placeholder: "Code", autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group mt-1/2">
    <div class="checkbox">
      <%= form.check_box :private, checked: @post.private? %>
      <%= form.label :private, "Set to private" %>
    </div>

    <p class="form-hint">
      This will prevent your code from being found. It will not appear in search results, or in direct visits. <br>
      Only you can visit it via your account page.
    </p>
  </div>

  <div class="form-group mt-1/2" data-reveal-by-checkbox>
    <div class="checkbox">
      <%= form.check_box :include_nice_url, checked: @post.nice_url.present?, data: { action: "reveal-by-checkbox" } %>
      <%= form.label :include_nice_url, "Include Pretty URL" %>
    </div>

    <p class="form-hint">
      Include a pretty URL that is easier to remember and will always link to your most recent code. Keep in mind that if you change the code, all previous codes will continue to link to your newest code.
    </p>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @post.nice_url.present? %>">
      <div class="form-group-uneven">
        <div class="form-group">
          <label class="form-input url-input">
            <%= request.base_url %>/
            <%= form.text_field :nice_url, class: "inline-input" %>
          </label>
        </div>
      </div>

      <ul class="form-hint">
        <li><strong>Keep the URL relevant to your game.</strong></li>
        <li>Misused URLs will be removed. "havana-parkour" is fine, "privacy-policy" is not.</li>
        <li>You can use letters, numbers, and dashes "-".</li>
        <li>All letter must be lowercase. <small>(The URL itself is not case sensitive.)</small></li>
        <li>Minimum of 7 characters, maximum of 20.</li>
      </ul>
    </div>
  </div>

  <div class="form-group mt-1/1" data-reveal-by-checkbox>
    <label class="form-label">Images</label>

    <div class="checkbox mt-1/4">
      <%= form.check_box :include_images, checked: @ordered_images.present? || @post.carousel_video.present?, data: { action: "reveal-by-checkbox" } %>
      <%= form.label :include_images, "Include image (or video) banner" %>
    </div>

    <p class="form-hint">
      <strong>Include an image (or video) at the top of your post.</strong> If you add more than 1 image it turns in to an image slider. All images are resized to a 900x500 format. <br>
      Alternatively you can use a 3rd party (Imgur) to add images to your description in the next step.<br>
      <strong>The first image will be your Thumbnail.</strong>
    </p>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @ordered_images.present? || @post.carousel_video.present? %>">
      <div class="well well--dark mt-1/4">
        <%= form.file_field :images, multiple: true, direct_upload: true, class: "hidden-field", data: { action: "form-images" } %>
        <%= form.hidden_field :image_order %>

        <div class="dropzone" data-role="dropzone">
          <span>Drop (or paste) images here to add them to your post</span>

          <small>Images will be processed to a 900x500 format, regardless of their original size</small>
        </div>

        <div class="images-preview" data-role="form-image-thumbnails sortable"><%= render partial: "ordered_image", collection: @ordered_images if @ordered_images.present? %></div>

        <div class="form-group-uneven mt-1/4">
          <div class="form-group">
            <%= form.label :carousel_video, "Youtube video", class: "form-label" %>

            <div class="form-hint">
              Include a video as the first item in the carousel. Enter only the YouTube video ID, not the full url. (Video ID is in bold: youtube.com/watch?v=<strong>FqnKB22pOC0</strong>)
            </div>

            <%= form.text_field :carousel_video, class: "form-input", placeholder: "A video ID looks like this: FqnKB22pOC0" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mt-1/1">
    <%= form.label :description, class: "form-label" %>

    <div class="form-hint">
      Write a short description that will help people play your game. A quick description of the controls and rules will help explain what's going on. <br>
      <strong>This description is full Markdown enabled.</strong> **bold**, _italic_, <%= link_to "and everything else", "https://workshop.codes/wiki/articles/markdown+on+workshop-codes", target: "_blank" %>. Add YouTube videos using <code>[youtube VIDEO_ID]</code>. (Video ID is in bold: youtube.com/watch?v=<strong>FqnKB22pOC0</strong>)
    </div>

    <%= link_to "Show Preview", "#", class: "button button--secondary mt-1/4 mb-1/4", data: { action: "markdown-preview" } %>

    <div data-role="markdown-preview-wrapper">
      <%= form.text_area :description, class: "form-input form-textarea", data: { role: "simple-mde" } %>
    </div>

    <div class="item__description" data-role="markdown-preview"></div>
  </div>

  <div data-reveal-by-checkbox>
    <h2 class="heading mb-1/2">Code Snippet</h2>

    <div class="checkbox">
      <%= form.check_box :include_snippet, data: { action: "reveal-by-checkbox" }, checked: @post.snippet.present? %>
      <%= form.label :include_snippet, "Include code snippet" %>
    </div>

    <span class="form-hint">
      <strong>Workshop Codes expire after 6 months.</strong> If at this point you no longer have the original code, your Workshop item is lost forever. Saving the code snippet allows you to copy paste it at any point.
    </span>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @post.snippet.present? %>">
      <div class="form-group mt-1/2">
        <%= form.label :snippet, "Code Snippet", class: "form-label" %>

        <div class="form-hint">
          To get the code snippet select all your rules and copy them. Simply paste it here and you're good to go.
        </div>

        <%= form.text_area :snippet, class: "form-input form-textarea form-textarea--small" %>
      </div>
    </div>
  </div>

  <h2 class="heading mb-1/2">Settings</h2>

  <div class="form-group-columns">
    <div class="form-group">
      <%= form.label :categories, class: "form-label" %>

      <div class="form-hint">
        Select categories that fit your item. You can select up to 3 categories that you feel are relevant. Selecting a large amount of categories might result in your item being more difficult to find.
      </div>

      <%= form.select :categories, options_for_select(categories, (@post.categories if @post.categories)), { include_hidden: false }, { multiple: true, size: 5, class: "form-select" } %>
    </div>

    <div class="form-group">
      <%= form.label :tags, class: "form-label" %>

      <div class="form-hint">
        Choose tags that people might search for to find your item. You can choose up to 5 tags. A large amount of irrelevant tags might result in your item being more difficult to find. <strong>Separate tags with a comma and a space ",&nbsp;".</strong>
      </div>

      <%= form.text_field :tags, class: "form-input", placeholder: "These, are, separate, tags" %>
    </div>

    <div class="form-group">
      <%= form.label :version, class: "form-label" %>

      <div class="form-hint">
        Add a version number if you plan on making revisions in the future. This will help people find the most up to date version of your item.
      </div>

      <%= form.text_field :version, class: "form-input", placeholder: "E.g. 1.0.5" %>
    </div>

    <div class="form-group">
      <%= form.label :collection, class: "form-label" %>

      <div class="form-hint">
        Collections allow you to group multiple Codes together to help users more quickly find the others. This can for example be used when you have a gamemode with different codes for different maps.
      </div>

      <%= form.select :collection_id, options_from_collection_for_select(current_user.collections, "id", "title", @post.collection_id), { include_blank: current_user.collections.any? ? "Select..." : "You have not yet created a collection" }, { class: "form-select form-select--small" } %>
      <%= form.text_field :new_collection, value: @post.new_collection.present? ? @post.new_collection : "", class: "form-input mt-1/4", placeholder: "Create new collection" %>

      <div class="form-hint mt-1/4 mb-0">
        <small>Min 3, max 50 characters.</small>
      </div>
    </div>
  </div>

  <div data-checkbox-group>
    <h2 class="heading mb-1/2">Heroes</h2>

    <div class="form-group checkbox">
      <%= form.check_box :checkbox_group_heroes, data: { action: "checkbox-select-all" } %>
      <%= form.label :checkbox_group_heroes, "Check all Heroes" %>
    </div>

    <div class="form-group-triple">
      <% heroes.group_by { |item| item["category"] }.each do |hero_category, heroes| %>
        <div class="form-group" data-checkbox-group>
          <h3><%= hero_category %></h3>

          <div class="checkbox">
            <%= form.check_box "checkbox_group_#{ hero_category }", data: { action: "checkbox-select-all" } %>
            <%= form.label "checkbox_group_#{ hero_category }", "Check all #{ hero_category } Heroes" %>
          </div>

          <br>

          <% heroes.each do |hero| %>
            <div class="checkbox">
              <%= form.check_box :heroes, { multiple: true, checked: (@post.heroes.include?(hero["name"]) if @post.heroes) }, hero["name"], false %>
              <%= form.label "heroes_#{ hero["name"].downcase.gsub(" ", "_").gsub(":", "").gsub(".", "") }", hero["name"] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div data-checkbox-group>
    <h2 class="heading mb-1/2">Maps</h2>

    <div class="form-group checkbox">
      <%= form.check_box :checkbox_group_maps, data: { action: "checkbox-select-all" } %>
      <%= form.label :checkbox_group_maps, "Check all maps" %>
    </div>

    <div class="form-group-triple">
      <% maps.group_by { |item| item["type"] }.each do |map_type, maps| %>
        <div class="form-group" data-checkbox-group>
          <h3><%= map_type %></h3>

          <% if maps.count > 1 %>
            <div class="checkbox">
              <%= form.check_box "checkbox_group_#{ map_type }", data: { action: "checkbox-select-all" } %>
              <%= form.label "checkbox_group_#{ map_type }", "Check all #{ map_type } maps" %>
            </div>

            <br>
          <% end %>

          <% maps.each do |map| %>
            <div class="checkbox">
              <%= form.check_box :maps, { multiple: true, checked: (@post.maps.include?(map["name"]) if @post.maps) }, map["name"], false %>
              <%= form.label "maps_#{ map["name"].downcase.gsub(" ", "_").gsub(":", "").gsub("'", "") }", map["name"] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

  <div data-reveal-by-checkbox>
    <h2>Expiry Notifications</h2>
    <p class="form-hint">
      <strong>Workshop Codes may expire after 6 months.</strong> If at this point you no longer have the original code, your Workshop item is lost forever. <mark>We will send you a notification on Workshop.codes if your code has not been updated in 5 months</mark>, giving you 1 month to update the code. We will also send you a notification when your code has expired.<br>
      <small>Popular codes may be marked as "immortal" and do not expire. It is not known when this happens.</small>
    </p>

    <br>

    <div class="checkbox">
      <%= form.check_box :email_notification, checked: @post.email_notification.present? || (@post.persisted? && @post.email_notifications.any?), data: { action: "reveal-by-checkbox" } %>
      <%= form.label :email_notification, "Also notify me by email" %>
    </div>

    <span class="form-hint">
      Check this if you would like to receive a notification by email when your code has not been updated for 5 months. <strong>Your emailaddress is encrypted on our server</strong> and will be removed right after the notification has been send. We will not use it for any other purposes.
    </span>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @post.email_notification.present? || (@post.persisted? && @post.email_notifications.any?) %>">
      <div class="form-group-columns">
        <div class="form-group mt-0">
          <%= form.label :email, "Email address", class: "form-label" %>
          <%= form.email_field :email, value: (@post.email_notifications.last.email if @post.email_notifications.any?) || @post.email, class: "form-input" %>

          <p class="form-hint">To make sure we don't end up in your spam folder, add <strong>notifications@workshop.codes</strong> to your approved senders list.</p>
        </div>
      </div>
    </div>
  </div>

  <% if @post.persisted? %>
    <hr>

    <div data-reveal-by-checkbox>
      <h2>Update log</h2>

      <div class="checkbox">
        <%= form.check_box :revision, data: { action: "reveal-by-checkbox" } %>
        <%= form.label :revision, "This is a revision" %>
      </div>

      <span class="form-hint">
        Checking this tells our system you've updated your Workshop code. This will allow you to write a summary of what has changed. This should only be used if you've made changes to your gamemode, not if you've only made changes to your post on this website.<br>
        If your share code has changed the URL to your old code will continue to function, even if you do not check this box.
      </span>

      <div data-role="hidden-by-checkbox" style="display: none">
        <div class="form-group mt-1/2">
          <%= form.label :revision_description, "Update Notes", class: "form-label" %>

          <div class="form-hint">
            Write a short summary of what has changed in this version in relation to the previous.
            <strong>This description is full Markdown enabled.</strong>
          </div>

          <%= form.text_area :revision_description, class: "form-input form-textarea", data: { role: "simple-mde" } %>
        </div>
      </div>
    </div>
  <% end %>

  <hr>

  <div>
    <center><%= form.submit class: "button" %></center>
  </div>
<% end %>
