<%= form_with url: path, model: post, local: true do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group-uneven">
    <div class="form-group">
      <%= form.text_field :title, class: "form-input form-input--large", placeholder: "Title" %>
    </div>

    <div class="form-group">
      <%= form.text_field :code, class: "form-input form-input--large", placeholder: "Code" %>
    </div>
  </div>

  <div class="form-group top-offset">
    <%= form.label :description, class: "form-label" %>

    <div class="form-hint">
      Write a short description that will help people play your game. A quick description of the controls and rules will help explain what's going on. <br>
      <strong>This description is full Markdown enabled.</strong> **bold**, _italic_, <%= link_to "and everything else", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", target: "_blank" %>
    </div>

    <%= form.text_area :description, class: "form-input form-textarea" %>
  </div>

  <h2 class="heading">Settings</h2>

  <div class="form-group-columns">
    <div class="form-group">
      <%= form.label :categories, class: "form-label" %>

      <div class="form-hint">
        Select categories that fit your item. You can select as many categories as you see fit, but selecting a large amount of categories might result in your item being more difficult to find.
      </div>

      <%= form.select :categories, options_for_select(categories, (JSON.parse(@post.categories) if @post.heroes)), { include_hidden: false }, { multiple: true, size: 5, class: "form-select" } %>
    </div>

    <div class="form-group">
      <%= form.label :tags, class: "form-label" %>

      <div class="form-hint">
        Choose tags that people might search for to find your item. A large amount of irrelevant tags might result in your item being more difficult to find. <strong>Separate tags with a comma and a space ",&nbsp;".</strong>
      </div>

      <%= form.text_field :tags, class: "form-input", placeholder: "These, are, separate, tags" %>
    </div>

    <div class="form-group">
      <%= form.label :version, class: "form-label" %>

      <div class="form-hint">
        Add a version number if you plan on making revisions in the future. This will help people find the most up to date version of your item.
      </div>

      <%= form.text_field :version, class: "form-input", placeholder: "E.g. 1.0.5" %>
    </div>
  </div>

  <div data-checkbox-group>
    <h2 class="heading">Heroes</h2>

    <div class="form-group">
      <%= form.check_box :checkbox_group_heroes, data: { action: "checkbox-select-all" } %>
      <%= form.label :checkbox_group_heroes, "Check all Heroes" %>
    </div>

    <div class="form-group-triple">
      <% heroes.group_by { |item| item["category"] }.each do |hero_category, heroes| %>
        <div class="form-group" data-checkbox-group>
          <h3><%= hero_category %></h3>

          <div>
            <%= form.check_box "checkbox_group_#{ hero_category }", data: { action: "checkbox-select-all" } %>
            <%= form.label "checkbox_group_#{ hero_category }", "Check all #{ hero_category } Heroes" %>
          </div>

          <br>

          <% heroes.each do |hero| %>
            <div>
              <%= form.check_box :heroes, { multiple: true, checked: (JSON.parse(@post.heroes).include?(hero["name"]) if @post.heroes) }, hero["name"], false %>
              <%= form.label "heroes_#{ hero["name"].downcase.gsub(" ", "_").gsub(":", "").gsub(".", "") }", hero["name"] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div data-checkbox-group>
    <h2 class="heading">Maps</h2>

    <div class="form-group">
      <%= form.check_box :checkbox_group_maps, data: { action: "checkbox-select-all" } %>
      <%= form.label :checkbox_group_maps, "Check all maps" %>
    </div>

    <div class="form-group-triple">
      <% maps.group_by { |item| item["type"] }.each do |map_type, maps| %>
        <div class="form-group" data-checkbox-group>
          <h3><%= map_type %></h3>

          <div>
            <%= form.check_box "checkbox_group_#{ map_type }", data: { action: "checkbox-select-all" } %>
            <%= form.label "checkbox_group_#{ map_type }", "Check all #{ map_type } maps" %>
          </div>

          <br>

          <% maps.each do |map| %>
            <div>
              <%= form.check_box :maps, { multiple: true, checked: (JSON.parse(@post.maps).include?(map["name"]) if @post.heroes) }, map["name"], false %>
              <%= form.label "maps_#{ map["name"].downcase.gsub(" ", "_").gsub(":", "") }", map["name"] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

  <div>
    <center><%= form.submit class: "button" %></center>
  </div>
<% end %>
