<%= form_with url: path, model: post, local: true, data: { role: "post-form" } do |form| %>
  <% if post.errors.any? %>
    <div class="error-block">
      <h2 class="error-block__title"><strong><%= pluralize(post.errors.count, "error") %></strong> prohibited this Item from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><small><%= message %></small></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group-uneven">
    <div class="form-group">
      <%= form.text_field :title, class: "form-input form-input--large", placeholder: "Title" %>
    </div>

    <div class="form-group">
      <%= form.text_field :code, class: "form-input form-input--large", placeholder: "Code", autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group top-offset">
    <label class="form-label">Images</label>

    <%= form.file_field :images, multiple: true, direct_upload: true, class: "hidden-field" %>
    <%= form.hidden_field :image_order %>

    <div class="dropzone mt-half" data-role="dropzone">
      <span>Drop images here to add them to your post</span>

      <small>Images will be processed to a 900x500 format</small>
    </div>

    <% begin %>
      <div class="images-preview top-offset" data-role="form-image-thumbnails sortable">
        <% image_ids = @post.image_order || "[]" %>
        <% ordered_images = JSON.parse(image_ids).collect { |i| @post.images.find_by_blob_id(i) } %>

        <% ordered_images.each do |image| %>
          <div class="images-preview__item" data-id="<%= image.blob_id %>">
            <div class="images-preview__action" data-action="remove-image">Remove</div>
            <%= image_tag image.variant(convert: "jpg", quality: 85, resize_to_fill: [200, 200]).processed %>
          </div>
        <% end %>
      </div>
    <% rescue %>
    <% end %>

    <div class="images-preview" data-role="form-image-thumbnails sortable"></div>
  </div>

  <div class="form-group top-offset">
    <%= form.label :description, class: "form-label" %>

    <div class="form-hint">
      Write a short description that will help people play your game. A quick description of the controls and rules will help explain what's going on. <br>
      <strong>This description is full Markdown enabled.</strong> **bold**, _italic_, <%= link_to "and everything else", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", target: "_blank" %>. Add YouTube videos using <code>[youtube VIDEO_ID]</code>. (Video ID is in bold: youtube.com/watch?v=<strong>FqnKB22pOC0</strong>)
    </div>

    <%= link_to "Show Preview", "#", class: "button button--secondary mt-half", data: { action: "markdown-preview" } %>

    <div data-role="markdown-preview-wrapper">
      <%= form.text_area :description, class: "form-input form-textarea", data: { role: "simple-mde" } %>
    </div>

    <div class="item__description" data-role="markdown-preview"></div>
  </div>

  <div data-reveal-by-checkbox>
    <h2 class="heading">Code Snippet</h2>

    <div class="checkbox">
      <%= form.check_box :include_snippet, data: { action: "reveal-by-checkbox" }, checked: @post.snippet.present? %>
      <%= form.label :include_snippet, "Include code snippet" %>
    </div>

    <span class="form-hint">
      <strong>Workshop Codes expire after 6 months.</strong> If at this point you no longer have the original code, your Workshop item is lost forever. Saving the code snippet allows you to copy paste it at any point.
    </span>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @post.snippet.present? %>">
      <div class="form-group mt-half">
        <%= form.label :snippet, "Code Snippet", class: "form-label" %>

        <div class="form-hint">
          To get the code snippet select all your rules and copy them. Simply paste it here and you're good to go.
        </div>

        <%= form.text_area :snippet, class: "form-input form-textarea form-textarea--small" %>
      </div>
    </div>
  </div>

  <h2 class="heading">Settings</h2>

  <div class="form-group-columns">
    <div class="form-group">
      <%= form.label :categories, class: "form-label" %>

      <div class="form-hint">
        Select categories that fit your item. You can select up to 3 categories that you feel are relevant. Selecting a large amount of categories might result in your item being more difficult to find.
      </div>

      <%= form.select :categories, options_for_select(categories, (JSON.parse(@post.categories) if @post.categories)), { include_hidden: false }, { multiple: true, size: 5, class: "form-select" } %>
    </div>

    <div class="form-group">
      <%= form.label :tags, class: "form-label" %>

      <div class="form-hint">
        Choose tags that people might search for to find your item. You can choose up to 5 tags. A large amount of irrelevant tags might result in your item being more difficult to find. <strong>Separate tags with a comma and a space ",&nbsp;".</strong>
      </div>

      <%= form.text_field :tags, class: "form-input", placeholder: "These, are, separate, tags" %>
    </div>

    <div class="form-group">
      <%= form.label :version, class: "form-label" %>

      <div class="form-hint">
        Add a version number if you plan on making revisions in the future. This will help people find the most up to date version of your item.
      </div>

      <%= form.text_field :version, class: "form-input", placeholder: "E.g. 1.0.5" %>
    </div>
  </div>

  <div data-checkbox-group>
    <h2 class="heading">Heroes</h2>

    <div class="form-group checkbox">
      <%= form.check_box :checkbox_group_heroes, data: { action: "checkbox-select-all" } %>
      <%= form.label :checkbox_group_heroes, "Check all Heroes" %>
    </div>

    <div class="form-group-triple">
      <% heroes.group_by { |item| item["category"] }.each do |hero_category, heroes| %>
        <div class="form-group" data-checkbox-group>
          <h3><%= hero_category %></h3>

          <div class="checkbox">
            <%= form.check_box "checkbox_group_#{ hero_category }", data: { action: "checkbox-select-all" } %>
            <%= form.label "checkbox_group_#{ hero_category }", "Check all #{ hero_category } Heroes" %>
          </div>

          <br>

          <% heroes.each do |hero| %>
            <div class="checkbox">
              <%= form.check_box :heroes, { multiple: true, checked: (JSON.parse(@post.heroes || "[]").include?(hero["name"]) if @post.heroes) }, hero["name"], false %>
              <%= form.label "heroes_#{ hero["name"].downcase.gsub(" ", "_").gsub(":", "").gsub(".", "") }", hero["name"] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div data-checkbox-group>
    <h2 class="heading">Maps</h2>

    <div class="form-group checkbox">
      <%= form.check_box :checkbox_group_maps, data: { action: "checkbox-select-all" } %>
      <%= form.label :checkbox_group_maps, "Check all maps" %>
    </div>

    <div class="form-group-triple">
      <% maps.group_by { |item| item["type"] }.each do |map_type, maps| %>
        <div class="form-group" data-checkbox-group>
          <h3><%= map_type %></h3>

          <% if maps.count > 1 %>
            <div class="checkbox">
              <%= form.check_box "checkbox_group_#{ map_type }", data: { action: "checkbox-select-all" } %>
              <%= form.label "checkbox_group_#{ map_type }", "Check all #{ map_type } maps" %>
            </div>

            <br>
          <% end %>

          <% maps.each do |map| %>
            <div class="checkbox">
              <%= form.check_box :maps, { multiple: true, checked: (JSON.parse(@post.maps || "[]").include?(map["name"]) if @post.maps) }, map["name"], false %>
              <%= form.label "maps_#{ map["name"].downcase.gsub(" ", "_").gsub(":", "").gsub("'", "") }", map["name"] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

  <div data-reveal-by-checkbox>
    <h2>Expiry Notifications</h2>
    <p class="form-hint"><strong>Workshop Codes expire after 6 months.</strong> If at this point you no longer have the original code, your Workshop item is lost forever. <mark>We will send you a notification on Workshop.codes if your code has not been updated in 5 months</mark>, giving you 1 month to update the code. We will also send you a notification when your code has expired.</p>

    <br>

    <div class="checkbox">
      <%= form.check_box :email_notification, checked: @post.email_notification.present? || (@post.persisted? && @post.email_notifications.any?), data: { action: "reveal-by-checkbox" } %>
      <%= form.label :email_notification, "Also notify me by email" %>
    </div>

    <span class="form-hint">
      Check this if you would like to receive a notification by email when your code has not been updated for 5 months. <strong>Your emailaddress is encrypted on our server</strong> and will be removed right after the notification has been send. We will not use it for any other purposes.
    </span>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @post.email_notification.present? || (@post.persisted? && @post.email_notifications.any?) %>">
      <div class="form-group-columns">
        <div class="form-group mt-0">
          <%= form.label :email, "Email address", class: "form-label" %>
          <%= form.email_field :email, value: (@post.email_notifications.last.email if @post.email_notifications.any?) || @post.email, class: "form-input" %>

          <p class="form-hint">To make sure we don't end up in your spam folder, add <strong>notifications@workshop.codes</strong> to your approved senders list.</p>
        </div>
      </div>
    </div>
  </div>

  <% if @post.persisted? %>
    <hr>

    <div data-reveal-by-checkbox>
      <h2>Update log</h2>

      <div class="checkbox">
        <%= form.check_box :revision, data: { action: "reveal-by-checkbox" } %>
        <%= form.label :revision, "This is a revision" %>
      </div>

      <span class="form-hint">
        Check this if this is an update and you'd like to keep the old code around. This will help your players keep up with what you've been updating and make sure they can always play the correct version. <br>
        The URL to your old code will continue to function, even if you do not check this box.
      </span>

      <div data-role="hidden-by-checkbox" style="display: none">
        <div class="form-group mt-half">
          <%= form.label :revision_description, "Update Notes", class: "form-label" %>

          <div class="form-hint">
            Write a short summary of what has changed in this version in relation to the previous.
            <strong>This description is full Markdown enabled.</strong>
          </div>

          <%= form.text_area :revision_description, class: "form-input form-textarea", data: { role: "simple-mde" } %>
        </div>
      </div>
    </div>
  <% end %>

  <hr>

  <div>
    <center><%= form.submit class: "button" %></center>
  </div>
<% end %>

<%= inline_css "form.css" %>
<%= inline_js "form.js" %>
