<%= form_with url: path, model: post, data: { role: "post-form" }, remote: true do |form| %>
  <%= render "errors", errors: post.errors if post.errors.any? %>

  <div class="form-group-uneven">
    <div class="form-group">
      <%= form.text_field :title, class: "form-input form-input--large", placeholder: t("posts.form.title") %>
    </div>

    <div class="form-group">
      <%= form.text_field :code, class: "form-input form-input--large", placeholder: t("posts.form.code"), autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group-uneven mt-1/2" data-reveal-by-select-parent>
    <div class="well well--dark block">
      <div class="checkbox">
        <%= form.radio_button :status, "public", checked: !@post.unlisted && !@post.private %>
        <%= form.label :status, t("posts.form.public.label"), value: "public" %>
      </div>

      <div class="form-hint mt-1/8">
        <%= t("posts.form.public.help") %>
      </div>

      <div class="checkbox">
        <%= form.radio_button :status, "unlisted", checked: @post.unlisted %>
        <%= form.label :status, t("posts.form.unlisted.label"), value: "unlisted" %>
      </div>

      <div class="form-hint mt-1/8">
        <%= t("posts.form.unlisted.help") %>
      </div>

      <div class="checkbox">
        <%= form.radio_button :status, "private", checked: @post.private %>
        <%= form.label :status, t("posts.form.private.label"), value: "private" %>
      </div>

      <div class="form-hint mt-1/8 mb-0">
        <%= t("posts.form.private.help") %>
      </div>
    </div>

    <div class="form-group mt-1/2 sm:mt-0">
      <div class="checkbox">
        <%= form.check_box :ptr, checked: @post.ptr?, autocomplete: "off" %>
        <%= form.label :ptr, t("posts.form.ptr.label") %>
      </div>
    </div>
  </div>

  <div class="form-group mt-1/1" data-reveal-by-checkbox>
    <div class="checkbox">
      <%= form.check_box :include_nice_url, checked: @post.nice_url.present?, data: { action: "reveal-by-checkbox" }, autocomplete: "off" %>
      <%= form.label :include_nice_url, t("posts.form.nice_url.label") %>
    </div>

    <p class="form-hint">
      <%= t("posts.form.nice_url.help") %>
    </p>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @post.nice_url.present? %>">
      <div class="form-group-uneven">
        <div class="well well--dark block">
          <div class="form-group mt-0">
            <label class="form-input url-input">
              <%= request.base_url %>/
              <%= form.text_field :nice_url, class: "inline-input" %>
            </label>
          </div>

          <ul class="form-hint mb-0">
            <%= t("posts.form.nice_url.list_html") %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mt-1/1" data-reveal-by-checkbox>
    <label class="form-label"><%= t("posts.form.images.title") %></label>

    <div class="checkbox mt-1/4">
      <%= form.check_box :include_images, checked: @ordered_images.present? || @post.carousel_video.present?, data: { action: "reveal-by-checkbox" } %>
      <%= form.label :include_images, t("posts.form.images.label") %>
    </div>

    <p class="form-hint">
      <%= t("posts.form.images.help_html") %>
    </p>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @ordered_images.present? || @post.carousel_video.present? %>">
      <div class="well well--dark mt-1/4">
        <%= form.file_field :images, multiple: true, direct_upload: true, class: "hidden-field", data: { action: "form-images" } %>
        <%= form.hidden_field :image_order %>

        <div class="dropzone" data-role="dropzone">
          <span><%= t("posts.form.images.dropzone.label") %></span>

          <small><%= t("posts.form.images.dropzone.help") %></small>
        </div>

        <div class="images-preview" data-role="form-image-thumbnails sortable"><%= render partial: "ordered_image", collection: @ordered_images if @ordered_images.present? %></div>

        <div class="form-group-uneven mt-1/4">
          <div class="form-group">
            <%= form.label :carousel_video, t("posts.form.images.video.label"), class: "form-label" %>

            <div class="form-hint">
              <%= t("posts.form.images.video.help_html") %>
            </div>

            <%= form.text_field :carousel_video, class: "form-input", placeholder: t("posts.form.images.video.placeholder") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mt-1/1">
    <%= form.label :description, t("posts.form.description.label"), class: "form-label" %>

    <div class="form-hint">
      <%= t("posts.form.description.help_html", link: link_to("and everything else", "https://workshop.codes/wiki/articles/markdown+on+workshop-codes", target: "_blank")) %>
    </div>

    <%= link_to t("posts.form.description.show_preview"), "#", class: "button button--secondary mt-1/4 mb-1/4", data: { action: "markdown-preview" } %>

    <div data-role="markdown-preview-wrapper">
      <%= form.text_area :description, class: "form-input form-textarea", data: { role: "simple-mde" } %>
    </div>

    <div class="item__description" data-role="markdown-preview"></div>
  </div>

  <div data-reveal-by-checkbox>
    <h2 class="heading mb-1/2"><%= t("posts.form.snippet.title") %></h2>

    <div class="checkbox">
      <%= form.check_box :include_snippet, data: { action: "reveal-by-checkbox" }, checked: @post.snippet.present? %>
      <%= form.label :include_snippet, t("posts.form.snippet.label") %>
    </div>

    <span class="form-hint">
      <%= t("posts.form.snippet.help_html") %>
    </span>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @post.snippet.present? %>">
      <div class="form-group mt-1/2">
        <%= form.label :snippet, t("posts.form.snippet.label"), class: "form-label" %>

        <div class="form-hint">
          <%= t("posts.form.snippet.hint") %>
        </div>

        <%= form.text_area :snippet, class: "form-input form-textarea form-textarea--small" %>
      </div>
    </div>
  </div>

  <h2 class="heading mb-1/2"><%= t("posts.form.settings") %></h2>

  <div class="form-group-columns">
    <div class="form-group">
      <%= form.label :categories, t("posts.form.categories.label"), class: "form-label" %>

      <div class="form-hint">
        <%= t("posts.form.categories.help") %>
      </div>

      <%= form.select :categories, options_for_select(
                                    categories.map { |category| [category[current_locale], category["en"]] },
                                    (@post.categories if @post.categories)),
                                  { include_hidden: false },
                                  { multiple: true, size: 5, class: "form-select" } %>
    </div>

    <div class="form-group">
      <%= form.label :tags, t("posts.form.tags.label"), class: "form-label" %>

      <div class="form-hint">
        <%= t("posts.form.tags.help_html") %>
      </div>

      <%= form.text_field :tags, class: "form-input", placeholder: t("posts.form.tags.placeholder") %>
    </div>

    <div class="form-group">
      <%= form.label :version, t("posts.form.version.label"), class: "form-label" %>

      <div class="form-hint">
        <%= t("posts.form.version.help") %>
      </div>

      <%= form.text_field :version, class: "form-input", placeholder: t("posts.form.version.placeholder") %>
    </div>

    <div class="form-group">
      <%= form.label :collection, t("posts.form.collection.label"), class: "form-label" %>

      <div class="form-hint">
        <%= t("posts.form.collection.help") %>
      </div>

      <%= form.select :collection_id, options_from_collection_for_select(current_user.collections, "id", "title", @post.collection_id), { include_blank: current_user.collections.any? ? t("posts.form.collection.none") : t("posts.form.collection.empty") }, { class: "form-select form-select--small" } %>
      <%= form.text_field :new_collection, value: @post.new_collection.present? ? @post.new_collection : "", class: "form-input mt-1/4", placeholder: t("posts.form.collection.placeholder") %>

      <div class="form-hint mt-1/8 mb-0">
        <small><%= t("posts.form.collection.limit") %></small>
      </div>
    </div>
  </div>

  <div data-checkbox-group>
    <h2 class="heading mb-1/2"><%= t("posts.form.heroes.title") %></h2>

    <div class="form-group checkbox">
      <%= form.check_box :checkbox_group_heroes, data: { action: "checkbox-select-all" } %>
      <%= form.label :checkbox_group_heroes, t("posts.form.heroes.check_all") %>
    </div>

    <div class="form-group-triple">
      <% heroes.group_by { |item| item["category"] }.each do |hero_category, heroes| %>
        <div class="form-group" data-checkbox-group>
          <h3><%= hero_category[current_locale] %></h3>

          <div class="checkbox">
            <%= form.check_box "checkbox_group_#{ hero_category }", data: { action: "checkbox-select-all" } %>
            <%= form.label "checkbox_group_#{ hero_category }", t("posts.form.heroes.check_all_type", type: hero_category[current_locale]) %>
          </div>

          <br>

          <% heroes.each do |hero| %>
            <div class="checkbox">
              <%= form.check_box :heroes, { multiple: true, checked: (@post.heroes.include?(hero["en"]) if @post.heroes) }, hero["en"], false %>
              <%= form.label "heroes_#{ hero["en"].downcase.gsub(" ", "_").gsub(":", "").gsub(".", "") }", i18n_value_in_array(heroes, hero["en"]) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div data-checkbox-group>
    <h2 class="heading mb-1/2"><%= t("posts.form.maps.title") %></h2>

    <div class="form-group checkbox">
      <%= form.check_box :checkbox_group_maps, data: { action: "checkbox-select-all" } %>
      <%= form.label :checkbox_group_maps, t("posts.form.maps.check_all") %>
    </div>

    <div class="form-group-triple">
      <% maps.group_by { |item| item["type"] }.each do |map_type, maps| %>
        <div class="form-group" data-checkbox-group>
          <h3><%= map_type[current_locale] %></h3>

          <% if maps.count > 1 %>
            <div class="checkbox">
              <%= form.check_box "checkbox_group_#{ map_type }", data: { action: "checkbox-select-all" } %>
              <%= form.label "checkbox_group_#{ map_type }", t("posts.form.maps.check_all_type", type: map_type[current_locale]) %>
            </div>

            <br>
          <% end %>

          <% maps.each do |map| %>
            <div class="checkbox">
              <%= form.check_box :maps, { multiple: true, checked: (@post.maps.include?(map["en"]) if @post.maps) }, map["en"], false %>
              <%= form.label "maps_#{ map["en"].downcase.gsub(" ", "_").gsub(":", "").gsub("'", "") }", i18n_value_in_array(maps, map["en"]) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

  <div data-reveal-by-checkbox>
    <h2><%= t("posts.form.expiry_notifications.title") %></h2>
    <p class="form-hint">
      <%= t("posts.form.expiry_notifications.help_html") %>
    </p>

    <div class="checkbox">
      <%= form.check_box :email_notification, checked: @post.email_notification.present? || (@post.persisted? && @post.email_notifications.any?), data: { action: "reveal-by-checkbox" }, autocomplete: "off" %>
      <%= form.label :email_notification, t("posts.form.expiry_notifications.label") %>
    </div>

    <span class="form-hint">
      <%= t("posts.form.expiry_notifications.content_html") %>
    </span>

    <div data-role="hidden-by-checkbox" style="<%= "display: none" unless @post.email_notification.present? || (@post.persisted? && @post.email_notifications.any?) %>">
      <div class="form-group-columns">
        <div class="well well--dark block">
          <div class="form-group mt-0">
            <%= form.label :email, t("posts.form.expiry_notifications.email.label"), class: "form-label" %>
            <%= form.email_field :email, value: (@post.email_notifications.last.email if @post.email_notifications.any?) || @post.email, class: "form-input" %>

            <p class="form-hint mb-0"><%= t("posts.form.expiry_notifications.email.help_html") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @post.persisted? %>
    <hr>

    <div data-reveal-by-checkbox>
      <h2><%= t("posts.form.revision.title") %></h2>

      <div class="checkbox">
        <%= form.check_box :revision, data: { action: "reveal-by-checkbox" } %>
        <%= form.label :revision, t("posts.form.revision.label") %>
      </div>

      <span class="form-hint">
        <%= t("posts.form.revision.help_html") %>
      </span>

      <div data-role="hidden-by-checkbox" style="display: none">
        <div class="form-group mt-1/2">
          <%= form.label :revision_description, t("posts.form.revision.input.label"), class: "form-label" %>

          <div class="form-hint">
            <%= t("posts.form.revision.input.help_html") %>
          </div>

          <%= form.text_area :revision_description, class: "form-input form-textarea", data: { role: "simple-mde" } %>
        </div>
      </div>
    </div>
  <% end %>

  <hr>

  <div>
    <center><%= form.submit class: "button", data: { disable_with: t("posts.form.submitting") } %></center>
  </div>
<% end %>
