<article class="item">
  <div class="item__title">
    <%= link_to post.title, post_path(post.code) %>

    <%= render "favorites/form", post: post %>
  </div>

  <% cache [post, current_user] do %>
    <div class="item__code">
      <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger", data: { action: "copy-to-clipboard", target: post.code } %>

      <span class="copy">
        <span data-copy="<%= post.code %>" data-track-copy><%= post.code %></span>
      </span>
    </div>

    <div class="item__details">
      <div class="item__details-item">
        By |
        <%= link_to post.user.username, user_path(post.user.username) %>
      </div>

      <div class="item__details-item">
        Categories |

        <% JSON.parse(post.categories).each do |category| %>
          <%= link_to category, filter_path(category: to_slug(category)) %><%= "," unless category == JSON.parse(post.categories).last %>
        <% end %>
      </div>

      <% if post.tags.present? %>
        <div class="item__details-item">
          Tags |

          <% post.tags.tr("[]", "").split(/,\s*/).take(5).each do |tag| %>
            <%= link_to tag.downcase, root_path + "search/#{ tag.downcase }", class: "tag" %>
          <% end %>

          <% post_length = post.tags.tr("[]", "").split(/,\s*/).length %>

          <% if post_length > 5 %>
            <small>+<%= post_length - 5 %></small>
          <% end %>
        </div>
      <% end %>

      <% if (post.revisions.any? && post.revisions.last.created_at < 6.months.ago) || (post.revisions.none? && post.updated_at < 6.months.ago) %>
        <div class="item__details-item">
          <div class="tooltip">
            ⚠ Possibly expired

            <div class="tooltip__content">
              <strong>This code is over 6 months old.</strong> This might mean the code has expired and will no longer function.
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= link_to post_path(post.code), class: "item__action" do %>
      View Item

      <%= inline_svg_tag "icons/icon-right-arrow.svg" %>
    <% end %>
  <% end %>
</article>
