<% display_type ||= "list" %>
<% disable_cache ||= false %>
<% pagination_params ||= {} %>
<% labelledby ||= nil %>

<% cache_if !current_user && !disable_cache, [@posts] do %>
  <main class="<%= display_type == "list" ? "items" : "cards" %>" <%= "aria-labelledby=#{labelledby}" if labelledby %>>
    <% if @posts.any? %>
      <% if display_type == "list" %>
        <%= render @posts %>
      <% else %>
        <%= render collection: @posts, partial: "posts/card", as: :post  %>
      <% end %>

      <% if @posts.size == PAGE_SIZE %>
        <div class="infinite-scroll grid-full-width" data-role="infinite-scroll-marker" data-load-method="infinite-scroll" data-url="<%= request.original_url %>"></div>

        <div class="flex justify-center grid-full-width" data-role="infinite-scroll-backup-pagination">
          <%= paginate @posts, params: pagination_params, theme: :simple, window: 2 %>
        </div>
      <% end %>
    <% else %>
      <div class="grid-full-width">
        <% if flash[:error] %>
          <div><button class="button" onclick="location.reload()">Try again?</button></div>
        <% else %>
          <p><em>There doesn't seem to be anything here</em></p>
        <% end %>

        <blockquote>
          <% quote = quotes.sample %>
          <em><%= quote["quote"] %></em>
          -&nbsp;<%= quote["by"] %>
        </blockquote>
      </div>
    <% end %>
  </main>
<% end %>
