<% cache_unless current_user, [post] do %>
  <article class="item" data-code="<%= post.code %>">
    <% cache [post, "title_thumbnail"] do %>
      <%= render "posts/thumbnail", post: post %>

      <div class="item__title">
        <%= link_to post.title, post_path(post.code) %>
      </div>
    <% end %>

    <div class="item__favorite">
      <%= render "favorites/form", post: post %>
    </div>

    <% cache [post, "information"] do %>
      <%= render "posts/code", post: post %>

      <div class="item__details">
        <div class="item__details-item">
          by
          <%= link_to post.user.clean_username, user_profile_path(post.user) %>
        </div>

        <div class="item__details-item">
          Categories |

          <% post.categories.each do |category| %>
            <%= link_to category, filter_path(category: to_slug(category)) %><%= "," unless category == post.categories.last %>
          <% end %>
        </div>

        <div class="item__details-item" title="Last updated: <%= post.last_revision_created_at %>">
          Last updated:

          <% if post.last_revision_created_at.blank? %>
            Draft
          <% else %>
            <time data-role="timeago timeago-static" datetime="<%= post.last_revision_created_at %>"></time>
          <% end %>
        </div>
      </div>
    <% end %>
  </article>
<% end %>
