<% cache_unless current_user, [current_locale, post] do %>
  <article class="item" data-code="<%= post.code %>">
    <% cache [current_locale, post, "title_thumbnail"] do %>
      <%= render "posts/thumbnail", post: post %>

      <div class="item__title">
        <%= link_to post.title, post_path(post.code) %>
      </div>
    <% end %>

    <div class="item__favorite">
      <%= render "favorites/form", post: post %>
    </div>

    <% cache [current_locale, post, "information"] do %>
      <%= render "posts/code", post: post %>

      <div class="item__details">
        <div class="item__details-item">
          <%= t("post.author") %> |
          <%= link_to post.user.username.split("#")[0], user_profile_path(post.user) %>
        </div>

        <div class="item__details-item">
          <%= t("post.categories") %> |

          <% post.categories.each do |category| %>
            <%= link_to i18n_value_in_array(categories, category), filter_path(category: to_slug(category)) %><%= "," unless category == post.categories.last %>
          <% end %>
        </div>

        <% if post.expired? %>
          <div class="item__details-item">
            <div class="tooltip">
              ⚠ <%= t("post.expired.title") %>

              <div class="tooltip__content">
                <%= t("post.expired.tooltip_html") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </article>
<% end %>
