<div class="standout shadow-block text-left p-0">
  <div class="item__header">
    <div>
      <%= link_to user_profile_path(@post.user), class: "item__author" do %>
        <div class="item__avatar <%= "profile-image--empty" unless @post.user.profile_image.attached? %>">
          <%= render "profiles/image", user: @post.user, size: 32 %>
        </div>

        <%= @post.user.clean_username %>
      <% end %>

      <h1 class="item__title item__title--large">
        <%= @post.title %>

        <% if @post.source_derivs.any? %>
          <a href="#sources" class="item__sub-title" data-turbolinks="false">
            + <%= @post.source_derivs.count %> sources
          </a>
        <% end %>
      </h1>
    </div>

    <%= render "favorites/form", post: @post %>
    <%= render "code", post: @post %>
  </div>

  <% cache_unless params[:tab].present?, [@post, @post.comments_count, @revisions_count, @derivations_count, "tabs"] do %>
    <%= render "tabs" %>
  <% end %>
</div>
