<article class="item" data-code="F4S5X" aria-labelledby="post-title-F4S5X">
  <%= tag.div class: "item__thumbnail" do %>
    <%= image_tag "legendary-lootbox.jpg",
      alt: "Farm for free legendary lootboxes",
      width: 120,
      height: 68,
      loading: "lazy" %>
  <% end %>

  <div class="item__title" id="post-title-F4S5X">
    <%= tag.div "Free legendary lootboxes idle farm" %>
  </div>

  <div class="item__favorite">
    <%= tag.div class: "favorite" do %>
      <%= image_tag "icons/icon-heart-border.svg", width: 24, height: 24, alt: "" %>
    <% end %>
  </div>

  <button class="code" data-action="copy-to-clipboard" data-target="F4S5X" aria-labelledby="F4S5X-sr">
    <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger", width: 18, height: 18 %>

    <span class="copy">
      <span data-copy="F4S5X">F4S5X</span>
      <div class="sr-only" id="F4S5X-sr">F 4 S 5 X</div>
    </span>
  </button>

  <div class="item__details">
    <div class="item__details-item">
      by
      <%= tag.span "Junkrat", class: "text-light" %>
    </div>

    <div class="item__details-item">
      Categories |

      <%= tag.span "Free for all", class: "text-light" %>
    </div>

    <div class="item__details-item" title="Last updated: Yesterday">
      Updated
      <time><%= time_ago_in_words(DateTime.now).gsub("about ", "").gsub("over ", "") %> ago</time>
    </div>
  </div>
</article>
