<section class="revisions">
  <div class="heading items-heading">
    <h2>Update Log</h2>
  </div>

  <% @post.revisions.where(visible: true).order(created_at: :desc).each do |revision| %>
    <div class="item item--single mt-half">
      <div class="item__title item__title--small">
        <%= revision.version unless revision.version.empty? %>

        <small class="ml-auto">
          <%= time_ago_in_words(revision.created_at).humanize %> ago

          <% if revision.created_at < 6.months.ago %>
            <small class="tooltip">
              ⚠

              <div class="tooltip__content">
                <strong>This code is over 6 months old.</strong> This might mean the code has expired and will no longer function.
              </div>
            </small>
          <% end %>
        </small>
      </div>

      <div class="item__code">
        <%= inline_svg "icons/icon-copy.svg", class: "copy-trigger", data: { action: "copy-to-clipboard", target: revision.code } %>

        <span class="copy">
          <span data-copy="<%= revision.code %>"><%= revision.code %></span>
        </span>
      </div>
    </div>

    <% unless revision.description.blank? %>
      <div class="item__description mt-0">
        <%= markdown(revision.description) %>
      </div>
    <% end %>
  <% end %>
</section>
