<% content_for :page_title, "#{ params[:category].gsub("-", " ").humanize } #{ "| Page #{ params[:page] }" if params[:page] }" %>

<div class="heading items-heading mb-0">
  <h1>Workshop Codes in <strong><%= params[:category].gsub("-", " ").split.map(&:capitalize).join(" ") %></strong> <%= tag.em "- Page #{ params[:page] }" if params[:page] %></h1>

  <%= render "profile_block" %>
</div>

<div class="item item--bottom mt-0 mb-full">
  <div class="item__details">
    <div class="item__details-item">
      Sort by |
      <%= link_to "Recent", category_path(params[:category]), class: "#{ "text-white" if params[:sort].blank? }" %> |
      <%= link_to "On fire", category_path(params[:category], "on-fire"), class: "#{ "text-white" unless params[:sort].blank? }" %>
    </div>
  </div>
</div>

<main class="items">
  <%= render "posts" %>

  <%= paginate @posts %>
</main>
