<% content_for :bg_size, "large" %>

<main class="top-offset">
  <h2 aria-level="1" class="mt-1/2 text-black">
    <span aria-hidden="true"><%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon", width: 21, height: 21 %></span>
    <strong>On Fire</strong> Workshop Codes
  </h2>

  <%= render "on_fire_carousel" %>

  <div class="logo-background" style="--image-data-uri: url(<%= svg_data_uri("layout/overwatch-logo.svg") %>)">
    <%= render "filter/quick_filter" %>

    <%= render "application/banners/workshop_crap" if ENV["BANNER_ROOT"] == "Workshop_Crap" %>
    <%= render "application/banners/stadium_unavailable" if ENV["BANNER_ROOT"] == "Stadium_Unavailable" %>
    <%= render "application/banners/ow_armory" if ENV["BANNER_ROOT"] == "OW_Armory" %>
    <%= render "application/banners/workshop_disabled" if ENV["BANNER_ROOT"] == "Workshop_Disabled" %>

    <%= render "application/banners/editor" %>
  </div>

  <%= render "user_recommendations" if current_user && current_user.recommended_posts.any? %>

  <h2 class="mt-1/1" aria-level="1" id="latest"><strong>Latest</strong> Codes</h2>

  <%= render "posts", labelledby: "latest" %>
</main>
