<% content_for :page_title, "#{ t("navigation.recent") } | Page #{ params[:page] }" if params[:page] %>
<% content_for :bg_size, "large" unless params[:page] %>

<main class="top-offset">
  <% unless params[:page] %>
    <h2 class="mt-1/2 <%= "text-black" unless current_user.present? && current_user.simple_view? %>">
      <%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %>
      <%= t(".on_fire.title_html") %>
    </h2>

    <%= render "on_fire_carousel" %>

    <div class="logo-background logo-background--overwatch">
      <%= render "filter/quick_filter" %>

      <% if ENV["BANNER_ROOT"] == "OW2" %>
        <%= render "application/banners/overwatch_2" %>
      <% end %>
    </div>
  <% end %>

  <%= render "recommended_posts" if current_user && current_user.recommended_posts.any? %>

  <div class="action-header">
    <% if params[:page] %>
      <h1>
        <%= t(".recent.title_html") %>
        <%= tag.small "- Page #{ params[:page] }" if params[:page].to_i > 1 %>
      </h1>
    <% else %>
      <h2 class="mt-1/1"><%= t(".recent.title_html") %></h2>
    <% end %>
  </div>

  <%= render "posts" %>
</main>
