<% content_for :page_title, "All items | Page #{ params[:page] }" if params[:page] %>

<div class="heading items-heading">
  <h1 class="hidden visible-sm">Overwatch Workshop Codes</h1>

  <%= render "profile_block" %>
</div>

<main class="items">
  <% unless params[:page] %>
    <h2 class="top-offset"><strong>On Fire</strong> Items</h2>

    <%= render @hot_posts %>

    <hr class="mt-0 mb-half">

    <%= link_to "View all On Fire Items", on_fire_path, class: "button button--secondary" %>
  <% end %>

  <h2 class="top-offset"><strong>Recent</strong> Items <%= tag.em "- Page #{ params[:page] }" if params[:page] %></h2>

  <%= render "posts" %>

  <%= paginate @posts %>
</main>
