<% content_for :bg_size, "large" %>

<main class="top-offset">
  <h2 aria-level="1" class="mt-1/2 text-black">
    <%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon", width: 21, height: 21, aria: { hidden: true } %>
    <strong>On Fire</strong> Workshop Codes
  </h2>

  <%= render "on_fire_carousel" %>

  <div class="logo-background">
    <%= render "filter/quick_filter" %>

    <%= render "application/banners/workshop_crap" if ENV["BANNER_ROOT"] == "Workshop_Crap" %>
    <%= render "application/banners/stadium_unavailable" if ENV["BANNER_ROOT"] == "Stadium_Unavailable" %>

    <%= render "application/banners/editor" %>

    <%= render "application/banners/workshop_disabled" if ENV["BANNER_ROOT"] == "Workshop_Disabled" %>
  </div>

  <%= render "user_recommendations" if current_user && current_user.recommended_posts.any? %>

  <h2 class="mt-1/1" aria-level="1"><strong>Latest</strong> Codes</h2>

  <%= render "posts" %>
</main>
