<% content_for :page_title, "#{ t("navigation.recent") } | Page #{ params[:page] }" if params[:page] %>
<% content_for :bg_size, "large" unless params[:page] %>

<main class="top-offset">
  <% unless params[:page] %>
    <h2 class="mt-1/2 <%= "text-black" unless current_user.present? && current_user.simple_view? %>">
      <%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %>
      <%= t(".on_fire.title_html") %>
    </h2>

    <%= render "on_fire_carousel" %>

    <%= link_to on_fire_path, class: "button button--secondary" do %>
      <%= inline_svg_tag "icons/icon-onfire.svg", class: "mr-1/8", height: 16, width: 16 %>
      <%= t(".on_fire.button") %>
    <% end %>

    <div class="logo-background logo-background--overwatch">
      <%= render "application/banners/ko_fi" %>
    </div>
  <% end %>

  <div class="action-header">
    <% if params[:page] %>
      <h1>
        <%= t(".recent.title_html") %>
        <%= tag.small "- Page #{ params[:page] }" if params[:page].to_i > 1 %>
      </h1>
    <% else %>
      <h2 class="mt-1/1"><%= t(".recent.title_html") %></h2>
    <% end %>

    <div class="action-header__actions">
      <%= link_to t(".sort.created"), posts_path(1), class: "action-header__action action-header__action--active" %>
      <%= link_to t(".sort.updated"), filter_path(sort: "updated"), class: "action-header__action" %>
    </div>
  </div>

  <%= render "posts" %>
</main>
