<% content_for :page_title, "All items | Page #{ params[:page] }" if params[:page] %>

<% unless params[:page] %>
  <div class="heading mt-full">
    <h1><center>Overwatch Workshop Codes</center></h1>
  </div>
<% end %>

<main class="items">
  <% unless params[:page] %>
    <% cache_unless current_user, @hot_posts do %>
      <h2 class="mt-half"><%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %><strong>On Fire</strong> Items</h2>

      <%= render @hot_posts %>

      <hr class="mt-0 mb-half">

      <%= link_to "View all On Fire Items", on_fire_path, class: "button button--secondary" %>

      <div class="logo-background">
        <div class="banner top-offset">
          <h3 class="mt-0 mb-0"><strong>Join the Elo Hell Workshop Discord</strong></h3>

          <p><small><em>Looking for help? Looking for a place to discuss the Workshop with other?<br><strong>Join the largest Overwatch Workshop community on Discord!</strong></em></small></p>

          <%= link_to "Join Discord", while_you_wait_path, class: "button" %>
        </div>
      </div>

      <div class="action-header">
        <h2 class="top-offset"><strong>Recent</strong> Items</h2>

        <div class="action-header__actions">
          <span>Sort by</span>
          <div>
            <%= link_to "Created", posts_path(1), class: "text-white" %> | <%= link_to "Last Updated", filter_path(sort: "updated") %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="heading action-header">
      <h1 class=""><strong>Recent</strong> Workshop Codes <%= tag.small "- Page #{ params[:page] }" if params[:page].to_i > 1 %></h1>

      <div class="action-header__actions">
        <span>Sort by</span>
        <div>
          <%= link_to "Created", posts_path(1), class: "text-white" %> | <%= link_to "Last Updated", filter_path(sort: "updated") %>
        </div>
      </div>
    </div>
  <% end %>

  <% cache_unless current_user, @posts do %>
    <%= render "posts" %>

    <%= paginate @posts %>
  <% end %>
</main>
