<% content_for :page_title, "All items | Page #{ params[:page] }" if params[:page] %>

<% unless params[:page] %>
  <div class="heading mt-1/1">
    <h1><center><%= t(".title") %></center></h1>
  </div>
<% end %>

<main class="items">
  <% unless params[:page] %>
    <h2 class="mt-1/2"><%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %><%= t(".on_fire.title_html") %></h2>

    <%= render @hot_posts %>

    <%= link_to t(".on_fire.button"), on_fire_path, class: "button button--secondary mt-1/2" %>

    <%= render "application/banners/ko_fi" %>

    <div class="action-header">
      <h2 class="mt-1/1"><%= t(".recent.title_html") %></h2>

      <div class="action-header__actions">
        <span><%= t(".sort.title") %></span>
        <div>
          <%= link_to t(".sort.created"), posts_path(1), class: "text-white" %> | <%= link_to t(".sort.updated"), filter_path(sort: "updated") %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="heading action-header">
      <h1><strong><%= t("navigation.recent") %></strong> Workshop Codes <%= tag.small "- Page #{ params[:page] }" if params[:page].to_i > 1 %></h1>

      <div class="action-header__actions">
        <span>Sort by</span>
        <div>
          <%= link_to t(".sort.created"), posts_path(1), class: "text-white" %> | <%= link_to t(".sort.updated"), filter_path(sort: "updated") %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "posts" %>
</main>
