<% content_for :page_title, "#{ t("navigation.recent") } | Page #{ params[:page] }" if params[:page] %>
<% content_for :bg_large, "true" unless params[:page] %>

<main class="top-offset">
  <% unless params[:page] %>
    <h2 class="mt-1/2 text-black"><%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %><%= t(".on_fire.title_html") %></h2>

    <div class="card-carousel">
      <div data-role="carousel-cards" data-max="10" data-url="" class="cards cards--on-fire">
        <%= render collection: @hot_posts, partial: "card", as: :post %>
      </div>

      <div class="card-carousel__control card-carousel__control--previous card-carousel__control--disabled" data-action="carousel-previous"><%= inline_svg "layout/carousel-left.svg" %></div>
      <div class="card-carousel__control card-carousel__control--next" data-action="carousel-next"><%= inline_svg "layout/carousel-right.svg" %></div>
    </div>

    <%= link_to on_fire_path, class: "button button--secondary" do %>
      <%= inline_svg_tag "icons/icon-onfire.svg", class: "mr-1/8", height: 16, width: 16 %>
      <%= t(".on_fire.button") %>
    <% end %>

    <%= render "application/banners/ko_fi" %>
  <% end %>

  <div class="action-header">
    <% if params[:page] %>
      <h1>
        <%= t(".recent.title_html") %>
        <%= tag.small "- Page #{ params[:page] }" if params[:page].to_i > 1 %>
      </h1>
    <% else %>
      <h2 class="mt-1/1"><%= t(".recent.title_html") %></h2>
    <% end %>

    <div class="action-header__actions">
      <%= link_to t(".sort.created"), posts_path(1), class: "action-header__action action-header__action--active" %>
      <%= link_to t(".sort.updated"), filter_path(sort: "updated"), class: "action-header__action" %>
    </div>
  </div>

  <%= render "posts" %>
</main>
