<% content_for :page_title, "#{ t("navigation.recent") } | Page #{ params[:page] }" if params[:page] %>
<% content_for :bg_large, "true" unless params[:page] %>

<% unless params[:page] %>
  <div class="heading mt-1/1">
    <h1 class="text-pure-white"><center><%= t(".title") %></center></h1>
  </div>
<% end %>

<main>
  <% unless params[:page] %>
    <h2 class="mt-1/2 text-black"><%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %><%= t(".on_fire.title_html") %></h2>

    <div class="cards cards--on-fire">
      <%= render collection: @hot_posts, partial: "card", as: :post %>
    </div>

    <%= link_to on_fire_path, class: "button button--secondary mt-1/2" do %>
      <%= inline_svg_tag "icons/icon-onfire.svg", class: "mr-1/8", height: 16, width: 16 %>
      <%= t(".on_fire.button") %>
    <% end %>

    <%= render "application/banners/ko_fi" %>

    <div class="action-header">
      <h2 class="mt-1/1"><%= t(".recent.title_html") %></h2>

      <div class="action-header__actions">
        <span><%= t(".sort.title") %></span>
        <div>
          <%= link_to t(".sort.created"), posts_path(1), class: "text-white" %> | <%= link_to t(".sort.updated"), filter_path(sort: "updated") %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="heading action-header">
      <h1><%= t(".recent.page_title_html") %> <%= tag.small "- Page #{ params[:page] }" if params[:page].to_i > 1 %></h1>

      <div class="action-header__actions">
        <span>Sort by</span>
        <div>
          <%= link_to t(".sort.created"), posts_path(1), class: "text-white" %> | <%= link_to t(".sort.updated"), filter_path(sort: "updated") %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "posts" %>
</main>
