<% content_for :page_title, "All items | Page #{ params[:page] }" if params[:page] %>

<% unless params[:page] %>
  <div class="heading mt-1/1">
    <h1><center>Overwatch Workshop Codes</center></h1>
  </div>
<% end %>

<main class="items">
  <% unless params[:page] %>
    <% cache_unless current_user, @hot_posts do %>
      <h2 class="mt-1/2"><%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %><strong>On Fire</strong> Items</h2>

      <%= render @hot_posts %>

      <hr class="mt-0 mb-1/2">

      <%= link_to "View all On Fire Items", on_fire_path, class: "button button--secondary" %>

      <%= render "application/banners/ko_fi" %>

      <div class="action-header">
        <h2 class="mt-1/1"><strong>Recent</strong> Items</h2>

        <div class="action-header__actions">
          <span>Sort by</span>
          <div>
            <%= link_to "Created", posts_path(1), class: "text-white" %> | <%= link_to "Last Updated", filter_path(sort: "updated") %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="heading action-header">
      <h1><strong>Recent</strong> Workshop Codes <%= tag.small "- Page #{ params[:page] }" if params[:page].to_i > 1 %></h1>

      <div class="action-header__actions">
        <span>Sort by</span>
        <div>
          <%= link_to "Created", posts_path(1), class: "text-white" %> | <%= link_to "Last Updated", filter_path(sort: "updated") %>
        </div>
      </div>
    </div>
  <% end %>

  <% cache_unless current_user, @posts do %>
    <%= render "posts" %>

    <%= paginate @posts %>
  <% end %>
</main>
