<% content_for :bg_size, "large" %>

<main class="top-offset">
  <h2 class="mt-1/2 text-black">
    <%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %>
    <%= t(".on_fire.title_html") %>
  </h2>

  <%= render "on_fire_carousel" %>

  <div class="logo-background logo-background--overwatch">
    <%= render "filter/quick_filter" %>

    <% if ENV["BANNER_ROOT"] == "OW2" %>
      <%= render "application/banners/overwatch_2" %>
    <% end %>
  </div>

  <%= render "user_recommendations" if current_user && current_user.recommended_posts.any? %>

  <div class="action-header">
    <h2 class="mt-1/1"><%= t(".recent.title_html") %></h2>
  </div>

  <%= render "posts" %>
</main>
