<% content_for :bg_size, "large" %>

<main class="top-offset">
  <h2 class="mt-1/2 text-black">
    <%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %>
    <%= t(".on_fire.title_html") %>
  </h2>

  <%= render "on_fire_carousel" %>

  <div class="logo-background logo-background--overwatch">
    <%= render "filter/quick_filter" %>

    <% if ENV["BANNER_ROOT"] == "Editor" %>
      <%= render "application/banners/editor" %>
    <% end %>

    <% if ENV["BANNER_ROOT"] == "Workshop_Disabled" %>
      <%= render "application/banners/workshop_disabled" %>
    <% end %>

    <%= render "application/banners/jam" %>
  </div>

  <%= render "user_recommendations" if current_user && current_user.recommended_posts.any? %>

  <div class="action-header">
    <h2 class="mt-1/1"><%= t(".recent.title_html") %></h2>
  </div>

  <%= render "posts" %>
</main>
