<% content_for :page_title, "#{ @post.title }" %>
<% begin %><% content_for :og_image, "#{ ENV["CDN"] + @ordered_images.first.variant(quality: 95, resize_to_fill: [900, 500]).processed.key if @ordered_images.present? && @ordered_images.any? }" %><% rescue %><% end %>
<% content_for :og_description, strip_tags(markdown(@post.description || "")).truncate(200).gsub("\n"," ") %>
<% content_for :bg_size, "medium" %>

<div data-role="tabs" data-tabs-set-url="true">
  <article class="item item--show">
    <div class="item__header">
      <div>
        <%= link_to user_profile_path(@post.user), class: "item__author" do %>
          <div class="item__avatar <%= "profile-image--empty" unless @post.user.profile_image.attached? || @post.user.provider_profile_image.present? %>">
            <%= render "profiles/image", user: @post.user, size: 32 %>
          </div>

          <%= @post.user.clean_username %>
        <% end %>

        <h1 class="item__title item__title--large">
          <%= @post.title %>

          <% if @post.source_derivs.any? %>
            <a href="#sources" class="item__sub-title" data-turbolinks="false">
              + <%= @post.source_derivs.count %> sources
            </a>
          <% end %>
        </h1>
      </div>

      <%= render "favorites/form", post: @post %>

      <%= render "code", post: @post %>
    </div>

    <%= render "current_user_blocks" if current_user == @post.user %>
    <%= render "expired" if @post.expired? %>

    <% cache_unless params[:tab].present?, [@post, @comments_count, @revisions_count, "tabs", current_locale] do %>
      <%= render "tabs" %>
    <% end %>

    <% cache_unless params[:tab].present?, [@post, "description", current_locale] do %>
      <%= tabs_content_tag("description", "", "") do %>
        <%= render "carousel" if @ordered_images.present? || @post.carousel_video.present? %>
        
        <% if @post.description.present? || @post.source_derivs.any? %>
          <div class="item__content item__description">
            <%= sanitized_markdown(@post.description) %>

            <%= render "derivatives/derivatives" if @post.source_derivs.any? %>
          </div>
        <% end %>

        <div class="item__tray">
          <%= render "details" %>
        </div>
      <% end %>
    <% end %>

    <% cache_unless params[:tab].present?, [@post, "controls"] do %>
      <% if @post.parsed_controls.any? %>
        <%= tabs_content_tag("controls") do %>
          <%= render "controls" %>
        <% end %>
      <% end %>
    <% end %>

    <% if @post.snippet.present? %>
      <%= tabs_content_tag("snippet") do %>
        <%= render "snippet" %>
      <% end %>
    <% end %>

    <% if @post.collection && @post.collection.posts.visible?.many? %>
      <%= tabs_content_tag("collection") do %>
        <div class="infinite-scroll"><div class="spinner"></div></div>
      <% end %>
    <% end %>

    <%= tabs_content_tag("comments") do %>
      <div class="infinite-scroll"><div class="spinner"></div></div>
    <% end %>
    
    <% if @revisions_count > 1 %>
      <%= tabs_content_tag("update-log") do %>
        <div class="infinite-scroll"><div class="spinner"></div></div>
      <% end %>
    <% end %>

    <% if @derivations_count %>
      <%= tabs_content_tag("derivations") do %>
        <div class="infinite-scroll"><div class="spinner"></div></div>
      <% end %>
    <% end %>
  </article>

  <%= render "similar_to" %>
</div>
