<% content_for :page_title, "#{ @post.title }" %>
<% begin %><% content_for :og_image, "#{ ENV["CDN"] + @ordered_images.first.variant(quality: 95, resize_to_fill: [900, 500]).processed.key if @ordered_images.present? && @ordered_images.any? }" %><% rescue %><% end %>
<% content_for :og_description, strip_tags(markdown(@post.description || "")).truncate(200).gsub("\n"," ") %>
<% content_for :bg_large, "true" if @ordered_images.present? || @post.carousel_video.present? %>

<article class="<%= "pt-1/8 sm:pt-1/2" unless @ordered_images.present? || @post.carousel_video.present? %>">
  <div class="item item--single <%= "mt-1/1" unless @ordered_images.present? || @post.carousel_video.present? %>">
    <h1 class="item__title <%= @ordered_images.present? || @post.carousel_video.present? ? "text-black" : "text-pure-white" %>">
      <%= @post.title %>

      <%= render "favorites/form", post: @post %>
    </h1>

    <div class="item__code" data-action="copy-to-clipboard" data-target="<%= @post.code %>">
      <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger" %>

      <span class="copy">
        <span data-copy="<%= @post.code %>" data-track-copy><%= @post.code %></span>
      </span>

      <% if @post.ptr? %>
        <div class="item__code-flag">PTR</div>
      <% end %>
    </div>
  </div>

  <% if @post.last_revision_created_at < 6.months.ago %>
    <div class="warning warning--mild mt-1/4 mb-1/4 pt-1/8 pb-1/8">
      <p class="mb-0">⚠ <mark><%= t(".expired.title") %></mark></p>
      <p class="mt-0"><small><%= t(".expired.content") %></small></p>
    </div>
  <% end %>

  <% cache_unless current_user && current_user == @post.user, [current_locale, @post, "show"] do %>
    <%= render "current_user_blocks" if current_user == @post.user %>

    <%= render "carousel" %>

    <div class="item__description">
      <% @post.blocks.each do |block| %>
        <div data-block-id="<%= block.id %>">
          <%= render "blocks/post/#{ block.name }", block: block %>
        </div>
      <% end %>

      <%= sanitized_markdown(@post.description) %>
    </div>

    <%= render "posts/snippet" if @post.snippet.present? %>

    <div class="item item--bottom">
      <div class="item__details">
        <%= render "profiles/profile", user: @post.user, small: true %>

        <div class="well well--dark block">
          <div class="item__details-item">
            <%= t(".categories") %> |

            <% @post.categories.each do |category| %>
              <%= link_to i18n_value_in_array(categories, category), filter_path(category: to_slug(category)) %><%= "," unless category == @post.categories.last %>
            <% end %>
          </div>

          <% if @post.tags.present? %>
            <div class="item__details-item">
              <%= t(".tags") %> |

              <% @post.tags.tr("[]", "").split(/,\s*/).each do |tag| %>
                <%= link_to tag.downcase, filter_path(search: tag.downcase), class: "tag" %>
              <% end %>
            </div>
          <% end %>

          <div class="item__details-item">
            <%= t(".heroes") %> |

            <% if @post.heroes.length == heroes.length %>
              <%= t(".all") %>
            <% else %>
              <% @post.heroes.each do |hero| %>
                <%= link_to i18n_value_in_array(heroes, hero), filter_path(hero: to_slug(hero)) %><%= "," unless hero == @post.heroes.last %>
              <% end %>
            <% end %>
          </div>

          <div class="item__details-item">
            <%= t(".maps") %> |

            <% if @post.maps.length == maps.length %>
              <%= t(".all") %>
            <% else %>
              <% @post.maps.each do |map| %>
                <%= link_to i18n_value_in_array(maps, map), filter_path(map: to_slug(map)) %><%= "," unless map == @post.maps.last %>
              <% end %>
            <% end %>
          </div>

          <div class="item__details-item" title="Created at: <%= @post.created_at %>">
            <%= t(".created_at") %> |

            <span data-role="timeago" datetime="<%= @post.created_at %>"></span>
          </div>

          <div class="item__details-item" title="Updated at: <%= @post.updated_at %>">
            <%= t(".updated_at") %> |

            <time data-role="timeago" datetime="<%= @post.updated_at %>"></time>
          </div>

          <% if @post.version.present? %>
            <div class="item__details-item">
              <%= t(".version") %> |

              <%= @post.version %>
            </div>
          <% end %>

          <% if @post.nice_url.present? %>
            <div class="item__details-item">
              <%= t(".nice_url") %> |

              <%= link_to nice_url_url(@post.nice_url), nice_url_path(@post.nice_url) %>
            </div>
          <% end %>

          <div class="item__details-item">
            <%= link_to t("report.action"), new_report_path(id: @post.id, concerns_model: "post"), class: "text-red", remote: true, data: { disable_with: t("report.loading") } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</article>

<% cache_unless current_user, [current_locale, @post.collection, @comments_count, @post.revisions] do %>
  <%= render "collections/collections" if @post.collection && @post.collection.posts.visible?.many? %>

  <div class="comments" id="comments">
    <div class="heading items-heading mb-1/2">
      <h2 class="mt-0 mb-0"><span data-role="comment-total"><%= @comments_count %></span> <%= t("comments.title") %></h2>
    </div>

    <%= render "comments/form", post: @post %>

    <div class="comments__wrapper" data-role="comments" data-id="<%= @post.id %>" data-comments-count="<%= @comments_count %>">
      <div class="infinite-scroll"><div class="spinner"></div></div>
    </div>
  </div>

  <%= render "revisions/revisions" if @post.revisions.size > 1 %>
<% end %>
