<% content_for :page_title, "#{ @post.title } | Code: #{ @post.code }" %>

<article class="item item--single">
  <h1 class="item__title">
    <%= @post.title %>

    <%= render "favorites/form", post: @post %>
  </h1>

  <div class="item__code">
    <%= inline_svg "icons/icon-copy.svg", class: "copy-trigger", data: { action: "copy-to-clipboard", target: @post.code } %>

    <span class="copy">
      <span data-copy="<%= @post.code %>"><%= @post.code %></span>
    </span>
  </div>
</article>

<% if current_user == @post.user %>
  <div class="well mt-half">
    <%= link_to "Edit your item", edit_post_path(@post.code), class: "button" %>

    <div class="well__content">
      <em>Likes</em>: <strong><%= @post.favorites_count %></strong>
    </div>
  </div>
<% end %>

<article class="item__description">
  <%= markdown(@post.description) %>
</article>

<article class="item item--bottom">
  <div class="item__details">
    <div class="item__details-item">
      Made by |

      <%= link_to @post.user.username, user_path(@post.user.username) %>
    </div>

    <div class="item__details-item">
      Categories |

      <% JSON.parse(@post.categories).each do |category| %>
        <%= link_to category, category_path(to_slug(category)) %><%= "," unless category == JSON.parse(@post.categories).last %>
      <% end %>
    </div>

    <% if @post.tags.present? %>
      <div class="item__details-item">
        Tags |

        <% @post.tags.tr("[]", "").split(", ").each do |tag| %>
          <%= link_to tag.downcase, search_path(tag.downcase), class: "tag" %>
        <% end %>
      </div>
    <% end %>

    <div class="item__details-item">
      Heroes |

      <% JSON.parse(@post.heroes).each do |hero| %>
        <%= link_to hero, hero_path(to_slug(hero)) %><%= "," unless hero == JSON.parse(@post.heroes).last %>
      <% end %>
    </div>

    <div class="item__details-item">
      Maps |

      <% JSON.parse(@post.maps).each do |map| %>
        <%= link_to map, map_path(to_slug(map)) %><%= "," unless map == JSON.parse(@post.maps).last %>
      <% end %>
    </div>

    <div class="item__details-item">
      Last updated |

      <%= time_ago_in_words(@post.updated_at).humanize %> ago
    </div>

    <% if @post.version %>
      <div class="item__details-item">
        Current version |

        <%= @post.version %>
      </div>
    <% end %>
  </div>
</article>

<%= render "revisions" if @post.revisions.count > 1 %>
