<% content_for :page_title, @post.title %>
<% begin %><% content_for :og_image, rails_public_blob_url(@ordered_images.first.variant(quality: 95, resize_to_fill: [900, 500]).processed) if @ordered_images.present? && @ordered_images.any? %><% rescue %><% end %>
<% content_for :og_description, strip_tags(markdown(@post.description || "")).truncate(150).gsub("\n"," ") %>
<% content_for :bg_size, "medium" %>
<% content_for :light_header, true if @post.light_header? && @post.banner_image.attached? %>
<% content_for :replace_body_bg, "post" if @post.banner_image.attached? %>

<div data-role="tabs" data-tabs-set-url="true">
  <article class="item item--show">
    <%= render "post_header" %>

    <%= render "overwatch_2_indicator" if @post.overwatch_2_compatible? %>
    <%= render "current_user_blocks" if current_user == @post.user %>
    <%= render "expired" if @post.expired? %>

    <% cache_unless params[:tab].present?, [@post, "description", @post.source_derivs] do %>
      <%= tabs_content_tag("description", "", "mt-1/4") do %>
        <%= render "description" %>
      <% end %>
    <% end %>

    <% cache_unless params[:tab].present?, [@post, "controls"] do %>
      <% if @post.parsed_controls.any? %>
        <%= tabs_content_tag("controls") do %>
          <%= render "controls" %>
        <% end %>
      <% end %>
    <% end %>

    <% if @post.snippet.present? %>
      <%= tabs_content_tag("snippet") do %>
        <%= render "snippet" %>
      <% end %>
    <% end %>

    <% if @post.collection && @post.collection.posts.visible?.many? %>
      <%= tabs_content_tag("collection", nil, "mt-1/2") do %>
        <div class="infinite-scroll"><div class="spinner" aria-live="polite" role="status"></div></div>
      <% end %>
    <% end %>

    <%= tabs_content_tag("comments", nil, "mt-1/2") do %>
      <% if is_active_tab?("comments") %>
        <%= render "comments/comments" %>
      <% else %>
        <div class="infinite-scroll"><div class="spinner" aria-live="polite" role="status"></div></div>
      <% end %>
    <% end %>

    <% if @revisions_count > 1 %>
      <%= tabs_content_tag("update-log", nil, "mt-1/2") do %>
        <div class="infinite-scroll"><div class="spinner" aria-live="polite" role="status"></div></div>
      <% end %>
    <% end %>

    <% if @derivations_count > 0 %>
      <%= tabs_content_tag("derivations", nil, "mt-1/2") do %>
        <div class="infinite-scroll"><div class="spinner" aria-live="polite" role="status"></div></div>
      <% end %>
    <% end %>
  </article>

  <div role="complementary">
    <%= render "post_recommendations" if @post.recommended_posts.any? %>
    <%= render "similar_to" %>
  </div>
</div>
