<% content_for :page_title, "#{ @post.title }" %>
<% begin %><% content_for :og_image, "#{ polymorphic_url(@ordered_images.first.variant(quality: 95).processed) if @ordered_images.present? && @ordered_images.any? }" %><% rescue %><% end %>
<% content_for :og_description, strip_tags(markdown(@post.description)).truncate(200).gsub("\n"," ") %>

<% cache [@post, "expiration_notification"] do %>
  <% if @is_expired %>
    <div class="warning">
      <p class="mb-0">⚠ <mark>This code is over 6 months old.</mark></p>
      <p class="mt-0"><small>This means the code may have expired and might no longer function.</small></p>
    </div>
  <% end %>
<% end %>

<article>
  <% cache_unless current_user, [@post, "title"] do %>
    <% if @post.private? %>
      <div class="warning warning--mild mt-1/1">
        <p class="mb-0 text-white">🔐 This code is set to private.</p>
        <p class="mt-0"><small>Only you can see it.</small></p>
      </div>
    <% end %>

    <div class="item item--single">
      <h1 class="item__title">
        <%= @post.title %>

        <%= render "favorites/form", post: @post %>
      </h1>

      <div class="item__code">
        <%= inline_svg_tag "icons/icon-copy.svg", class: "copy-trigger", data: { action: "copy-to-clipboard", target: @post.code } %>

        <span class="copy">
          <span data-copy="<%= @post.code %>" data-track-copy><%= @post.code %></span>
        </span>
      </div>
    </div>

    <% if current_user == @post.user %>
      <div class="well mt-1/2" data-toggle-content>
        <div>
          <%= link_to "Edit", edit_post_path(@post.code), class: "mr-1/4" %>
          <%= link_to "Delete", post_path(@post.code), class: "text-red mr-1/2", method: :delete, data: { confirm: "Are you sure you want to delete this item? This cannot be undone." } %>
          <%= link_to "Analytics", "#", class: "text-white", data: { action: "toggle-content load-analytics", id: @post.id } %>
        </div>

        <div class="well__tray" data-role="content-to-toggle" style="display: none">
          <%= render "posts/analytics", post: @post %>
        </div>
      </div>

      <% if @post.updated_at > 6.months.ago && @post.updated_at < 5.months.ago %>
        <div class="warning mt-1/4">
          <p><mark>⚠ Your Code will soon expire.</mark></p>
          <p class="mb-0"><small><strong>Workshop Codes in Overwatch expire after 6 months</strong>. After this the code will no longer function and <strong>your code will be lost</strong>.</small></p>
          <p class="mt-0"><small>Make sure to generate a new code and update it here to prevent losing your Workshop Item forever.</small></p>
          <p><small><em>This code will expire in roughly <%= time_ago_in_words(@post.updated_at + 6.months) %>.</em></small></p>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% cache @post do %>
    <% begin %>
      <% if @ordered_images.present? && @ordered_images.one? %>
        <picture>
          <source media="(min-width: 560px)" srcset="<%= url_for @ordered_images.first.variant(quality: 95).processed %>" type="image/jpeg">
          <source media="(min-width: 0px)" srcset="<%= url_for @ordered_images.first.variant(quality: 95, resize_to_fill: [450, 250]).processed %>" type="image/jpeg">
          <img class="img-fluid mt-1/2" src="<%= url_for @ordered_images.first.variant(quality: 95).processed %>" />
        </picture>
      <% elsif @ordered_images.present? && @ordered_images.many? %>
        <%= render "carousel" if @post.images.any? %>
      <% end %>
    <% rescue %>
      <p><small><em>Images are temporarily unavailable.</em></small></p>
    <% end %>

    <div class="item__description">
      <%= markdown(@post.description) %>
    </div>

    <%= render "posts/snippet" if @post.snippet.present? %>

    <div class="item item--bottom">
      <div class="item__details">
        <%= render "profiles/profile", user: @post.user, small: true %>

        <div class="item__details-item">
          Categories |

          <% JSON.parse(@post.categories).each do |category| %>
            <%= link_to category, filter_path(category: to_slug(category)) %><%= "," unless category == JSON.parse(@post.categories).last %>
          <% end %>
        </div>

        <% if @post.tags.present? %>
          <div class="item__details-item">
            Tags |

            <% @post.tags.tr("[]", "").split(/,\s*/).each do |tag| %>
              <%= link_to tag.downcase, filter_path(search: tag.downcase), class: "tag" %>
            <% end %>
          </div>
        <% end %>

        <div class="item__details-item">
          Heroes |

          <% if JSON.parse(@post.heroes).length == heroes.length %>
            All
          <% else %>
            <% JSON.parse(@post.heroes).each do |hero| %>
              <%= link_to hero, filter_path(hero: to_slug(hero)) %><%= "," unless hero == JSON.parse(@post.heroes).last %>
            <% end %>
          <% end %>
        </div>

        <div class="item__details-item">
          Maps |

          <% if JSON.parse(@post.maps).length == maps.length %>
            All
          <% else %>
            <% JSON.parse(@post.maps).each do |map| %>
              <%= link_to map, filter_path(map: to_slug(map)) %><%= "," unless map == JSON.parse(@post.maps).last %>
            <% end %>
          <% end %>
        </div>

        <div class="item__details-item" title="Created at: <%= @post.created_at %>">
          Created at |

          <span data-role="timeago" datetime="<%= @post.created_at %>"></span>
        </div>

        <div class="item__details-item" title="Updated at: <%= @post.updated_at %>">
          Last updated |

          <time data-role="timeago" datetime="<%= @post.updated_at %>"></time>
        </div>

        <% if @post.version.present? %>
          <div class="item__details-item">
            Current version |

            <%= @post.version %>
          </div>
        <% end %>

        <% if @post.nice_url.present? %>
          <div class="item__details-item">
            Share URL |

            <%= link_to nice_url_url(@post.nice_url), nice_url_path(@post.nice_url) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</article>

<% cache_unless current_user == @post.user, [@post, @collection] do %>
  <%= render "collections/collections" if @post.collection && @post.collection.posts.many? %>
<% end %>

<% cache_unless current_user, @post.comments do %>
  <div class="comments">
    <div class="heading items-heading mb-1/2">
      <h2 class="mt-0 mb-0"><span data-role="comment-total"><%= @post.comments.count %></span> Comments</h2>
    </div>

    <%= render "comments/form", post: @post %>

    <div class="comments__wrapper" data-role="comments">
        <%= render @post.comments.where(parent_id: nil).order(created_at: :desc) %>
    </div>
  </div>
<% end %>

<% cache_unless current_user == @post.user, @post.revisions do %>
  <%= render "revisions/revisions" if @post.revisions.size > 1 %>
<% end %>
