<% content_for :page_title, "#{ @post.title }" %>
<% begin %><% content_for :og_image, "#{ rails_public_blob_url(@ordered_images.first.variant(quality: 95, resize_to_fill: [900, 500]).processed) if @ordered_images.present? && @ordered_images.any? }" %><% rescue %><% end %>
<% content_for :og_description, strip_tags(markdown(@post.description || "")).truncate(200).gsub("\n"," ") %>
<% content_for :bg_size, "medium" %>

<div data-role="tabs" data-tabs-set-url="true">
  <article class="item item--show">
    <div class="standout shadow-block text-left p-0">
      <div class="item__header">
        <div>
          <%= link_to user_profile_path(@post.user), class: "item__author" do %>
            <div class="item__avatar <%= "profile-image--empty" unless @post.user.profile_image.attached? || @post.user.provider_profile_image.present? %>">
              <%= render "profiles/image", user: @post.user, size: 32 %>
            </div>

            <%= @post.user.clean_username %>
          <% end %>

          <h1 class="item__title item__title--large">
            <%= @post.title %>

            <% if @post.source_derivs.any? %>
              <a href="#sources" class="item__sub-title" data-turbolinks="false">
                + <%= @post.source_derivs.count %> sources
              </a>
            <% end %>
          </h1>
        </div>

        <%= render "favorites/form", post: @post %>

        <%= render "code", post: @post %>
      </div>

      <% cache_unless params[:tab].present?, [@post, @post.comments_count, @revisions_count, @derivations_count, "tabs", current_locale] do %>
        <%= render "tabs" %>
      <% end %>
    </div>

    <%= render "overwatch_2_indicator" if @post.overwatch_2_compatible? %>
    <%= render "current_user_blocks" if current_user == @post.user %>
    <%= render "expired" if @post.expired? %>


    <% cache_unless params[:tab].present?, [@post, "description", @post.source_derivs, current_locale] do %>
      <%= tabs_content_tag("description", "", "mt-1/4") do %>
        <%= render "carousel" if @ordered_images.present? || @post.carousel_video.present? %>

        <div class="item__content item__description shadow-block">
          <% if @post.description.present? %>
            <%= sanitized_markdown(@post.description) %>
          <% else %>
            <em>No description was given.</em>
          <% end %>

          <%= render "derivatives/derivatives" if @post.source_derivs.any? %>
          <%= render "archive", post: @post if @archive_authorization.present? %>
        </div>

        <div class="item__tray">
          <%= render "details" %>
        </div>
      <% end %>
    <% end %>

    <% cache_unless params[:tab].present?, [@post, "controls"] do %>
      <% if @post.parsed_controls.any? %>
        <%= tabs_content_tag("controls") do %>
          <%= render "controls" %>
        <% end %>
      <% end %>
    <% end %>

    <% if @post.snippet.present? %>
      <%= tabs_content_tag("snippet") do %>
        <%= render "snippet" %>
      <% end %>
    <% end %>

    <% if @post.collection && @post.collection.posts.visible?.many? %>
      <%= tabs_content_tag("collection", nil, "mt-1/2") do %>
        <div class="infinite-scroll"><div class="spinner"></div></div>
      <% end %>
    <% end %>

    <%= tabs_content_tag("comments", nil, "mt-1/2") do %>
      <div class="infinite-scroll"><div class="spinner"></div></div>
    <% end %>

    <% if @revisions_count > 1 %>
      <%= tabs_content_tag("update-log", nil, "mt-1/2") do %>
        <div class="infinite-scroll"><div class="spinner"></div></div>
      <% end %>
    <% end %>

    <% if @derivations_count > 0 %>
      <%= tabs_content_tag("derivations", nil, "mt-1/2") do %>
        <div class="infinite-scroll"><div class="spinner"></div></div>
      <% end %>
    <% end %>
  </article>

  <%= render "post_recommendations" if @post.recommended_posts.any? %>
  <%= render "similar_to" %>
</div>
