<% content_for :page_title, "#{ @post.title }" %>
<% begin %><% content_for :og_image, "#{ ENV["CDN"] + @ordered_images.first.variant(quality: 95, resize_to_fill: [900, 500]).processed.key if @ordered_images.present? && @ordered_images.any? }" %><% rescue %><% end %>
<% content_for :og_description, strip_tags(markdown(@post.description || "")).truncate(200).gsub("\n"," ") %>
<% content_for :bg_size, "medium" %>

<div data-role="tabs" data-tabs-set-url="true">
  <article>
    <div class="text-left p-0">
      <div class="pt-1/2 item item--single">
        <h1 class="item__title text-black">
          <%= @post.title %>

          <%= render "favorites/form", post: @post, color: "black" %>
        </h1>

        <%= render "code", post: @post %>
      </div>
    </div>

    <div class="banner p-0 mb-1/1">
      <div class="item__info">
        <%= link_to user_profile_path(@post.user), class: "item__author mb-1/4 md:mb-0" do %>
          <div class="item__avatar <%= "profile-image--empty" unless @post.user.profile_image.attached? || @post.user.provider_profile_image.present? %>">
            <%= render "profiles/image", user: @post.user, size: 32 %>
          </div>

          <%= @post.user.username.split("#")[0] %>
        <% end %>

        <div>
          <% if has_player_range?(@post) %>
            <div class="item__info-item">
              <% if @post.min_players == @post.max_players %>
                <strong><%= @post.min_players %></strong>
              <% else %>
                <strong><%= @post.min_players %></strong> to <strong><%= @post.max_players %></strong>
              <% end %>
              Player<%= "s" if @post.max_players > 1 %>
            </div>
          <% end %>

          <div class="item__info-item" title="<%= @post.last_revision_created_at %>">
            <small><em>Last updated <%= time_ago_in_words(@post.last_revision_created_at) %> ago</em></small>
          </div>
        </div>
      </div>

      <%= render "current_user_blocks" if current_user == @post.user %>
      <%= render "expired" if @post.expired? %>

      <% cache_unless params[:tab].present?, [@post, @comments_count, @revisions_count, "tabs", current_locale] do %>
        <%= render "tabs" %>
      <% end %>
    </div>

    <% cache_unless params[:tab].present?, [@post, "description", current_locale] do %>
      <%= tabs_content_tag("description", "") do %>
        <%= render "carousel" %>
        
        <div class="item__description">
          <%= sanitized_markdown(@post.description) %>

          <div class="item item--bottom">
            <div class="item__details">
              <%= render "profiles/profile", user: @post.user, small: true %>

              <%= render "details" %>
            </div>
          </div>
        </div>

        <%= render "similar_to" %>
      <% end %>
    <% end %>
  </article>

  <% cache_unless params[:tab].present?, [@post, "controls"] do %>
    <% if @post.parsed_controls.any? %>
      <%= tabs_content_tag("controls") do %>
        <%= render "controls" %>
      <% end %>
    <% end %>
  <% end %>

  <% if @post.snippet.present? %>
    <%= tabs_content_tag("snippet") do %>
      <%= render "snippet" %>
    <% end %>
  <% end %>

  <% if @post.collection && @post.collection.posts.visible?.many? %>
    <%= tabs_content_tag("collection") do %>
      <div class="infinite-scroll"><div class="spinner"></div></div>
    <% end %>
  <% end %>

  <%= tabs_content_tag("comments") do %>
    <div class="infinite-scroll"><div class="spinner"></div></div>
  <% end %>
  
  <% if @revisions_count > 1 %>
    <%= tabs_content_tag("update-log") do %>
      <div class="infinite-scroll"><div class="spinner"></div></div>
    <% end %>
  <% end %>
</div>
