<%= render "admin/navigation" %>

<p>Total users: <strong><%= User.all.size %></strong></p>
<p>Users in last 7 days: <strong><%= User.where("created_at > ?", 1.week.ago).size %></strong></p>

<%= form_tag admin_find_user_path do %>
  <div class="flex mb-1/4">
    <%= label_tag :username, "", class: "form-label" %>
    <%= text_field_tag :username, "", class: "form-input w-auto mr-1/4", placeholder: "Find by exact username" %>

    <%= submit_tag "Search", class: "button button--small button--secondary" %>
  </div>
<% end %>

<table>
  <tr>
    <th><%= link_to "ID", admin_users_path %></th>
    <th>Username</th>
    <th>Level</th>
    <th>Prov</th>
    <th>Email</th>
    <th>Img?</th>
    <th>Link?</th>
    <th>Desc?</th>
    <th><%= link_to "Veri?", admin_users_path(where: "verified") %></th>
    <th><%= link_to "HC?", admin_users_path(where: "high_contrast") %></th>
    <th><%= link_to "Lg?", admin_users_path(where: "large_fonts") %></th>
    <th><%= link_to "Spl?", admin_users_path(where: "simple_view") %></th>
    <th>Posts</th>
    <th>Cmts</th>
    <th>Fvs</th>
    <th>Date</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.id, admin_user_path(user.id) %></td>
      <td><small><%= link_to user.username, user_profile_path(user) %></small></td>
      <td><%= user.level %></td>
      <td><small><%= user.provider %></small></td>
      <td><%= "✔" if user.email.present? %></td>
      <td><%= "✔" if user.profile_image.attached? %></td>
      <td><%= "✔" if user.link.present? %></td>
      <td><%= "✔" if user.description.present? %></td>
      <td><%= "✔" if user.verified? %></td>
      <td><%= "✔" if user.high_contrast? %></td>
      <td><%= "✔" if user.large_fonts? %></td>
      <td><%= "✔" if user.simple_view? %></td>
      <td><%= user.posts.count %></td>
      <td><%= user.comments.count %></td>
      <td><%= user.favorites.count %></td>
      <td><small><%= time_ago_in_words(user.created_at).humanize %></small></td>
    </tr>
  <% end %>
</table>

<%= paginate @users %>
