<div class="body-bg body-bg--<%= yield(:bg_size) %>">
  <picture>
    <% if yield(:replace_body_bg).blank? %>
      <source
        srcset="
          <%= image_path "layout/header-bg_sm.webp" %> 640w,
          <%= image_path "layout/header-bg_md.webp" %> 960w,
          <%= image_path "layout/header-bg_lg.webp" %> 1920w"
        type="image/webp">

      <source
        srcset="
          <%= image_path "layout/header-bg_sm.jpg" %> 640w,
          <%= image_path "layout/header-bg_md.jpg" %> 960w,
          <%= image_path "layout/header-bg_lg.jpg" %> 1920w"
        type="image/jpeg">

      <%= image_tag "layout/header-bg_lg.jpg", alt: "", height: 400, width: 1920, fetchpriority: "high" %>
    <% elsif yield(:replace_body_bg) == "user" %>
      <source
        srcset="
          <%= rails_public_blob_url(@user.banner_image.variant(quality: 75, resize_to_fill: [640, 400]).processed) %> 640w,
          <%= rails_public_blob_url(@user.banner_image.variant(quality: 75, resize_to_fill: [960, 400]).processed) %> 960w,
          <%= rails_public_blob_url(@user.banner_image.variant(quality: 75, resize_to_fill: [1920, 400]).processed) %> 1920w"
        type="image/jpeg">

      <%= image_tag rails_public_blob_url(@user.banner_image.variant(quality: 75, resize_to_fill: [1920, 400]).processed), fetchpriority: "high" %>
    <% elsif yield(:replace_body_bg) == "post" %>
      <source
        srcset="
          <%= rails_public_blob_url(@post.banner_image.variant(quality: 75, resize_to_fill: [640, 400]).processed) %> 640w,
          <%= rails_public_blob_url(@post.banner_image.variant(quality: 75, resize_to_fill: [960, 400]).processed) %> 960w,
          <%= rails_public_blob_url(@post.banner_image.variant(quality: 75, resize_to_fill: [1920, 400]).processed) %> 1920w"
        type="image/jpeg">

      <%= image_tag rails_public_blob_url(@post.banner_image.variant(quality: 75, resize_to_fill: [1920, 400]).processed), fetchpriority: "high" %>
    <% end %>
  </picture>
</div>
