<div class="body-bg body-bg--<%= yield(:bg_size) %>">
  <picture>
    <% if yield(:replace_body_bg).blank? %>
      <source
        srcset="
          <%= image_path "layout/header-bg_sm.webp" %> 640w,
          <%= image_path "layout/header-bg_md.webp" %> 960w,
          <%= image_path "layout/header-bg_lg.webp" %> 1920w"
        type="image/webp">

      <source
        srcset="
          <%= image_path "layout/header-bg_sm.jpg" %> 640w,
          <%= image_path "layout/header-bg_md.jpg" %> 960w,
          <%= image_path "layout/header-bg_lg.jpg" %> 1920w"
        type="image/jpeg">

      <%= image_tag "layout/header-bg_lg.jpg", alt: "", height: 400, width: 1920, fetchpriority: "high" %>
    <% elsif yield(:replace_body_bg) == "user" %>
      <source
        srcset="
          <%= banner_small_variant_public_url(@user.banner_image) %> 640w,
          <%= banner_medium_variant_public_url(@user.banner_image) %> 960w,
          <%= banner_large_variant_public_url(@user.banner_image) %> 1920w"
        type="image/jpeg">

      <%= image_tag banner_large_variant_public_url(@user.banner_image), fetchpriority: "high" %>
    <% elsif yield(:replace_body_bg) == "post" %>
      <source
        srcset="
          <%= banner_small_variant_public_url(@post.banner_image) %> 640w,
          <%= banner_medium_variant_public_url(@post.banner_image) %> 960w,
          <%= banner_large_variant_public_url(@post.banner_image) %> 1920w"
        type="image/jpeg">

      <%= image_tag banner_large_variant_public_url(@post.banner_image), fetchpriority: "high" %>
    <% end %>
  </picture>
</div>
