<center class="top-offset">
  <%= inline_svg_tag("logo-small.svg", height: 80, class: "cog-color") %>

  <div>
    <%= link_to "https://discord.gg/DdxsQRD", class: "button button--link", target: "_blank", rel: "noreferrer noopener" do %>
      Join the <mark>Workshop.codes</mark> Discord
    <% end %>
  </div>
</center>

<footer class="footer">
  <p>
    <%= link_to t("footer.privacy_policy"), privacy_policy_path %> |
    <%= link_to t("footer.tos"), tos_path %> |
    <%= link_to t("footer.brand"), brand_path %>
    <br>
    <%= t "footer.copyright" %> &copy; <%= Date.current.year %> |
    <%= t "footer.disclaimer" %>
  </p>

  <p class="text-md-right">
    Contact me on Discord: Mitsiee#9370
    <br>
    Contribute on
    <%= link_to "GitHub", "https://github.com/Mitcheljager/workshop.codes", target: "_blank", rel: "noreferrer noopener" %>
  </p>
</footer>
