<center class="top-offset">
  <%= link_to inline_svg_tag("elo-hell-logo-white.svg", height: 80), "https://elohell.gg/", target: "_blank", rel: "noreferrer noopener" %>

  <div>
    <%= link_to "https://discord.gg/DdxsQRD", class: "button button--link", target: "_blank", rel: "noreferrer noopener" do %>
      Join the <mark>Elo Hell Workshops</mark> Discord
    <% end %>
  </div>
</center>

<footer class="footer">
  <p>
    <%= link_to "Privacy Policy", privacy_policy_path %> | Copyright &copy; <%= Date.current.year %> | All images and icons belong to their respective owner.
  </p>

  <p class="text-md-right">
    Contact me on Discord: Mitsiee#9370 | Contribute on <%= link_to "GitHub", "https://github.com/Mitcheljager/workshop.codes", target: "_blank", rel: "noreferrer noopener" %>
  </p>
</footer>
