<div class="dropdown" data-dropdown>
  <%= link_to I18n.locale, "", class: "dropdown__toggle button button--secondary button--thin button--small bg-light", data: { action: "toggle-dropdown" } %>

  <div class="dropdown__content lg-down:dropup" data-dropdown-content>
    <div class="dropdown__label">
      <%= t("locale_picker.title") %>
    </div>

    <small class="block text-base pl-1/4 pr-1/4 mb-1/4"><%= t("locale_picker.help") %></small>

    <hr>

    <%= link_to "en - English", url_for(params.clone.permit!.merge(locale: nil)), class: "dropdown__item", data: { prefetch: false } %>
    <%= link_to "ko - 한국어", url_for(params.clone.permit!.merge(locale: :ko)), class: "dropdown__item", data: { prefetch: false } %>
  </div>
</div>
