<% title = yield(:page_title).present? ? yield(:page_title) + " | Workshop.codes" : "Workshop.codes | Overwatch Workshop Codes to Discover and Share" %>
<% description = yield(:og_description) || "Find Overwatch Workshop Codes to play with friends, randoms, or solo! Use search to find what you are looking for, and submit your own for others to enjoy." %>
<% twitter_card_type = yield(:og_summary_small) == "true" ? "summary" : "summary_large_image" %>

<title><%= title %></title>

<meta property="og:title" content="<%= title %>">
<meta name="description" content="<%= description %>">
<meta property="og:description" content="<%= description %>">
<meta name="twitter:card" content="<%= twitter_card_type %>" />

<% if yield(:og_image).present? %>
  <meta property="og:image" content="<%= yield(:og_image) %>">
  <meta property="og:image:width" content="900">
  <meta property="og:image:height" content="500">
<% else %>
  <meta property="og:image" content="<%= image_url "og-image#{ "-wiki" if is_wiki? }.jpg" %>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
<% end %>
