<% path = path || new_post_path %>
<% text = text || "Create Item" %>

<div class="profile-block">
  <div>
    <% if current_user %>
      Logged in as&nbsp;<%= link_to current_user.username, account_path, class: "profile-block__action" %>
    <% else %>
      <%= link_to "Login", login_path, class: "profile-block__action" %>
      &nbsp;or&nbsp;
      <%= link_to "Create an account", new_user_path, class: "profile-block__action" %>
    <% end %>
  </div>

  <%= link_to current_user.present? ? path : login_path, class: "items-heading__action button" do %>
    <span class="hidden-sm">Create</span>
    <span class="hidden visible-sm"><%= text %></span>
  <% end %>
</div>
