<div class="profile-block">
  <div>
    <% if current_user %>
      Logged in as&nbsp;<%= link_to current_user.username.split("#")[0], account_path, class: "profile-block__action" %>
    <% else %>
      <%= link_to "Login", login_path, class: "profile-block__action" %>
      &nbsp;or&nbsp;
      <%= link_to "Create an account", new_user_path, class: "profile-block__action" %>
    <% end %>
  </div>

  <%= link_to "Create", current_user.present? ? new_post_path : login_path, class: "button" %>
  <%= link_to image_tag("ko-fi.png", height: 34), "https://ko-fi.com/workshopcodes", target: "_blank", rel: "noreferrer noopener" %>
</div>
