<div itemscope itemtype="https://schema.org/WebSite">
  <meta itemprop="url" content="https://workshop.codes/"/>

  <%= form_tag search_post_path(request.path_parameters), remote: true, class: "search", itemprop: "potentialAction", itemscope: "", itemtype: "https://schema.org/SearchAction" do %>
    <meta itemprop="target" content="https://workshop.codes/search/{query}"/>

    <%= text_field_tag :query, params[:search], class: "form-input form-input--large", placeholder: " ", itemprop: "query-input", required: "true", autocomplete: "off" %>

    <%= label_tag :query do %>
      <strong>Search </strong> by Titles, Categories, Tags, Codes, Maps, Heroes, or Usernames
    <% end %>

    <%= render "search_terms" if search_terms.any? %>

    <%= submit_tag "", class: "search__submit" %>
  <% end %>
</div>
