<% id ||= "query" %>

<div itemscope itemtype="https://schema.org/WebSite">
  <meta itemprop="url" content="https://workshop.codes/"/>

  <%= form_tag search_post_path(request.path_parameters), remote: true, class: "search", itemprop: "potentialAction", itemscope: "", itemtype: "https://schema.org/SearchAction", role: "search" do %>
    <meta itemprop="target" content="https://workshop.codes/search?search={query}"/>

    <%= text_field_tag :query, params[:search] ? CGI.unescape(params[:search]) : "", class: "form-input", placeholder: " ", itemprop: "query-input", required: "true", autocomplete: "off", id: id %>
    <%= label_tag :query, for: id do %>
      Search
    <% end %>

    <%= button_tag "", type: :submit, class: "search__submit", data: { role: "filter-link" }, aria: { label: "Search" } do %>
      <%= inline_svg_tag "icons/icon-search.svg", height: 20 %>
    <% end %>
  <% end %>
</div>
