<div class="user-block">
  <% if current_user %>
    <%= svelte_component "Notifications", { viewAllPath: notifications_path } %>

    <div class="dropdown lg-down:dropup" data-dropdown>
      <%= link_to current_user.clean_username, account_path, class: "user-block__action mbl:mr-1/16 mb-1/4 mbl:mb-0", data: { action: "toggle-dropdown" } %>

      <div class="dropdown__content" data-dropdown-content>
        <% user_menu_items.each do |menu_item| %>
          <%= link_to menu_item[:title],
              menu_item[:url],
              class: "dropdown__item text-small #{ "text-pure-white" if current_page?(menu_item[:url])}",
              data: menu_item[:data] %>

          <% if menu_item[:url] == collections_path %>
            <hr>
          <% end %>
        <% end %>

        <hr>

        <%= link_to t("account.navigation.tos"), tos_path, class: "dropdown__item text-small" %>

        <% if is_admin?(current_user) %>
          <hr>
          <%= link_to t("account.navigation.admin"), admin_root_path, data: { prefetch: false }, class: "dropdown__item text-small" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= link_to t("navigation.login"), login_path, class: "user-block__action mbl:mr-1/16 mb-1/4 mbl:mb-0" %>
  <% end %>
</div>
