<% if params[:search] %>
  <% content_for :page_title, "#{ params[:search] }" %>
<% elsif params[:category] %>
  <% content_for :page_title, "#{ params[:category].gsub("-", " ").split.map(&:capitalize).join(" ") }" %>
<% elsif params[:hero] %>
  <% content_for :page_title, "#{ params[:hero].gsub("-", " ").split.map(&:capitalize).join(" ") }" %>
<% elsif params[:map] %>
  <% content_for :page_title, "#{ params[:map].gsub("-", " ").split.map(&:capitalize).join(" ") }" %>
<% end %>

<div class="heading mb-1/2">
  <h2>
    <% if flash[:error] %>
      Something went wrong while performing your search.
    <% else %>
      Workshop Codes
      <% if params[:overwatch_2] %> for  <strong class="text-overwatch-2">Overwatch 2</strong> <% end %>
      <% if params[:search] %> for <strong><%= CGI.unescape(params[:search]) %></strong> <% end %>
      <% if params[:category] %> in <strong><%= params[:category].gsub("-", " ").split.map(&:capitalize).join(" ") %></strong> <% end %>
      <% if params[:hero] %> with <strong><%= params[:hero].gsub("-", " ").split.map(&:capitalize).join(" ") %></strong> <% end %>
      <% if params[:map] %> on <strong><%= params[:map].gsub("-", " ").split.map(&:capitalize).join(" ") %></strong> <% end %>
      <% if params[:from] %> from <strong><%= time_ago_in_words(params[:from]).gsub("about", "") %> ago</strong> <% end %>
      <% if params[:to] %> to <strong><%= time_ago_in_words(params[:to]).gsub("about", "") %> ago</strong> <% end %>
      <% if params[:sort] %> sorted by <strong><%= params[:sort].gsub("-", " ") %></strong> <% end %>
      <% if params[:expired] %> excluding <strong>expired</strong> <% end %>
      <% if params[:author] %> by <strong><%= params[:author].split("#")[0] %></strong> <% end %>
      <%= tag.small "- Page #{ params[:page] }" if params[:page] %>
    <% end %>
  </h2>
</div>

<% if params[:overwatch_2] %>
  <div class="well well--dark b-overwatch-2 mb-1/2">
    <div>
      <h3 class="mt-0 mb-0">
        <strong><%= t("banner.overwatch_2.title_html") %></strong>
      </h3>

      <div class="mt-1/4 text-small">
        <p>
          These codes were tagged as being importable within the Overwatch 2 Beta.
          It is possible that codes may have been invalidated, since the Overwatch 2 Beta is under active development.
          An import code that was created in Overwatch 2 Beta will not work in Overwatch 1.
        </p>
        <p class="mb-0">
          The Workshop is unfortunately <strong><u>not</u></strong> currently available in the beta.
          However, custom lobby settings can still be shared with import codes.
        </p>
      </div>
    </div>
  </div>
<% end %>

<%= render "posts/posts", posts: @posts %>
