<% if params[:search] %>
  <% content_for :page_title, "#{ params[:search] }" %>
<% elsif params[:category] %>
  <% content_for :page_title, "#{ params[:category].gsub("-", " ").split.map(&:capitalize).join(" ") }" %>
<% elsif params[:hero] %>
  <% content_for :page_title, "#{ params[:hero].gsub("-", " ").split.map(&:capitalize).join(" ") }" %>
<% elsif params[:map] %>
  <% content_for :page_title, "#{ params[:map].gsub("-", " ").split.map(&:capitalize).join(" ") }" %>
<% end %>

<div class="heading mb-1/2">
  <h2>
    <% if flash[:error] %>
      Something went wrong while performing your search.
    <% else %>
      Workshop Codes
      <% if params[:search] %> for <strong><%= CGI.unescape(params[:search]) %></strong> <% end %>
      <% if params[:category] %> in <strong><%= params[:category].gsub("-", " ").split.map(&:capitalize).join(" ") %></strong> <% end %>
      <% if params[:hero] %> with <strong><%= params[:hero].gsub("-", " ").split.map(&:capitalize).join(" ") %></strong> <% end %>
      <% if params[:map] %> on <strong><%= params[:map].gsub("-", " ").split.map(&:capitalize).join(" ") %></strong> <% end %>
      <% if params[:sort] %> sorted by <strong><%= params[:sort].gsub("-", " ") %></strong> <% end %>
      <% if params[:author] %> by <strong><%= params[:author].split("#")[0] %></strong> <% end %>
      <%= tag.small "- Page #{ params[:page] }" if params[:page] %>
    <% end %>
  </h2>
</div>

<%= render "posts/posts", disable_cache: true %>
