<%= form_for @report, remote: true do |form| %>
  <div class="form-hint mb-1/2 text-red">
    <%= t "report.modal.disclaimer_html" %>
  </div>

  <%= form.hidden_field :concerns_id, value: @post.id %>
  <%= form.hidden_field :concerns_model, value: "post" %>
  <%= form.hidden_field "properties[post][title]", value: @post.title %>
  <%= form.hidden_field "properties[post][code]", value: @post.code %>
  <%= form.hidden_field :reported_user_id, value: @post.user_id %>

  <div class="form-group" data-reveal-by-select-parent>
    <%= form.label :category, class: "form-label" %>
    <%= form.select :category, options_for_select(report_options_post), { include_blank: "Select one..." }, class: "form-select", data: { action: "reveal-by-select disable-by-select" }, required: true %>

    <div data-reveal-by-select-target="There's a bug in this code" class="visibility-hidden">
      <div class="block mt-1/4 text-small text-red">
        <strong>Do not use this form!</strong>
        <u>Instead, please contact the original creator directly!</u>
      </div>
    </div>

    <div data-reveal-by-select-target="I can't import this code" class="visibility-hidden">
      <div class="block mt-1/4 text-small text-dark">
        Do not report if:

        <ul class="mt-1/8 pl-1/2">
          <li>This code has expired.</li>
          <li>This code is made for PTR.</li>
        <ul>
      </div>
    </div>

    <div data-reveal-by-select-target="This code does not work" class="visibility-hidden">
      <div class="block mt-1/4 text-small text-dark">
        Do not report if:

        <ul class="mt-1/8 pl-1/2">
          <li>This code has expired.</li>
          <li>This code has a snippet.</li>
          <li>This code is for PTR.</li>
          <li>This code is for a different region.</li>
          <li>The code can be imported, but the game does not function.</li>
        <ul>
      </div>
    </div>

    <div data-reveal-by-select-target="This code is inappropriate/offensive" class="visibility-hidden">
      <small class="block mt-1/4 text-dark">
        Please note why you feel this code is offensive or inappropriate and should be removed. Gamemodes need to adhere to the Blizzard code of conduct. If you feel a gamemode breaks this use their report channels instead.
      </small>
    </div>
  </div>

  <div class="form-group mt-1/4">
    <%= form.label :content, class: "form-label", required: true do %>Description <small class="text-dark">(Required)</small><% end %>
    <%= form.text_area :content, class: "form-input form-textarea form-textarea--extra-small", placeholder: "Write a short description to explain your report", required: true %>

    <div class="form-hint mt-1/8 mb-0">Max 1000 characters.</div>
  </div>

  <div data-role="report-alert" class="warning mt-1/2 hidden">Your report has been submitted.</div>

  <%= submit_tag "Submit", class: "button mt-1/2", data: { disable_with: "Submitting...", role: "hide-on-submit", disable_by_select_target: "There's a bug in this code" } %>
<% end %>
