<div class="heading">
  <div class="hidden-sm mb-1/1">
    <select onchange="location = this.value" class="form-select">
      <% user_menu_items.each do |menu_item| %>
        <option value=<%= menu_item[:url] %> <%= "selected" if current_page?(menu_item[:url]) %>><%= menu_item[:title] %></option>
      <% end %>
    </select>
  </div>

  <h1 class="text-md-center text-white"><%= title.html_safe %></h1>
</div>

<div class="profile">
  <aside class="hidden visible-sm">
    <% user_menu_items.each do |menu_item| %>
      <%= link_to menu_item[:title],
          menu_item[:url],
          class: "profile__action #{ "profile__action--active" if current_page?(menu_item[:url]) }",
          data: menu_item[:data] %>

      <% if menu_item[:url] == account_collections_path %>
        <hr class="mt-1/2 mb-1/2">
      <% end %>
    <% end %>
  </aside>

  <main>
    <%= yield %>
  </main>
</div>
