<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:page_title) != "" ? yield(:page_title) + " | Workshop.codes" : "Workshop.codes | #{ t("default_page_title") }" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Overwatch, Workshop, Codes, Workshop Codes, Overwatch Workshop Codes, Overwatch Custom Games, Overwatch Gamnes, Workshop Games">
    <meta name="theme-color" content="#1f2326">
    <meta name="ir-site-verification-token" value="2456162" />
    <meta http-equiv=”content-language” content=<%= I18n.locale %> />

    <% unless yield(:og_description) != "" %>
      <meta name="description" content="Find Overwatch Workshop Codes to play with friends, randoms, or solo! Use in-depth search to find exactly what you are looking for. Or submit your own Workshop Codes for other to enjoy.">
      <meta property="og:description" content="Find Overwatch Workshop Codes to play with friends, randoms, or solo! Use in-depth search to find exactly what you are looking for. Or submit your own Workshop Codes for other to enjoy.">
    <% end %>

    <%= render "application/og_tags" %>
    <%= render "favicons" %>

    <% if I18n.locale == :mixed %>
      <link rel="canonical" href="<%= request.original_url.gsub("/mixed", "") %>" />
    <% end %>

    <link rel="alternate" href="<%= request.base_url + url_for(params.clone.permit!.merge(locale: nil)) %>" hreflang="en" />
    <link rel="alternate" href="<%= request.base_url + url_for(params.clone.permit!.merge(locale: :ko)) %>" hreflang="ko" />

    <link rel="manifest" href="/manifest.json">

    <%= inline_css "application.css" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload", defer: true %>

    <%= render "logged_in_user_assets" if current_user %>
    <%= render "destroy_remember_me_cookie" if !current_user && cookies[:remember_token] %>
    <%= render "analytics_code" %>
  </head>

  <body class="<%= accessibility_settings if current_user.present? %>">
    <%= render "notifications/alert" if current_user && unread_notifications.any? %>

    <%= render "header" %>
    <%= render "wiki/header" if is_wiki? %>

    <div class="wrapper <%= "wrapper--large" if controller_name == "admin" %>">
      <% unless is_wiki? %>
        <%= render "application/banners/localisation_disclaimer" if I18n.locale != :en && I18n.locale != :mixed %>
      <% end %>

      <%= yield %>

      <%= render "footer" %>
    </div>

    <%= render "body_bg" unless is_wiki? %>

    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </body>
</html>
