<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:page_title) != "" ? yield(:page_title) + " | Workshop.codes" : "Workshop.codes | Overwatch Workshop Codes to Discover and Share" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Overwatch Workshop Codes, Games, Modes, and more. Find Overwatch Game Modes to play with friends, randoms, or solo! | Submit your Workshop Codes for others to share and enjoy.">
    <meta name="keywords" content="Overwatch, Workshop, Codes, Workshop Codes, Overwatch Workshop Codes, Overwatch Custom Games, Overwatch Gamnes, Workshop Games">
    <meta name="theme-color" content="#1f2326">

    <%= render "og_tags" %>

    <link rel="canonical" href="<%= non_www_url %>" />
    <link rel="manifest" href="/manifest.json">

    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-512x512.png" %>" sizes="512x512" />
    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-192x192.png" %>" sizes="192x192" />
    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-32x32.png" %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-16x16.png" %>" sizes="16x16" />
    <link rel="apple-touch-icon" href="<%= image_path "favicon/apple-touch-icon.png" %>" sizes="180x180" />

    <% if @post && params[:code] && @post.code != params[:code] %>
      <link rel="canonical" href="<%= post_url(@post.code) %>" />
    <% end %>

    <%= inline_css "application.css" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload", defer: true %>

    <% if current_user %>
      <%= inline_css "form.css" %>
      <%= inline_js "uploader.js" %>
      <%= javascript_include_tag "form.js", "data-turbolinks-track": "reload" %>
      <%= render "remember_me_cookie" if current_user.remember_tokens.any? %>
    <% end %>

    <%= render "destroy_remember_me_cookie" if !current_user && cookies[:remember_token] %>

    <%= render "analytics_code" %>
  </head>

  <body>
    <%= render "notifications/alert" if current_user && unread_notifications.any? %>

    <%= render "header" %>

    <div class="wrapper">
      <%= render "filter" %>

      <%= yield %>

      <%= render "footer" %>
    </div>

    <%= render "body_bg" %>
  </body>
</html>
