<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:page_title).present? ? yield(:page_title) + " | Workshop.codes" : "Workshop.codes | Overwatch Workshop Codes Resource" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Overwatch, Workshop, Codes, Workshop Codes, Overwatch Workshop Codes, Overwatch Custom Games, Overwatch Gamnes, Workshop Games">
    <meta name="theme-color" content="#1f2326">
    <meta name="ir-site-verification-token" value="2456162" />
    <meta http-equiv=”content-language” content="en" />

    <% unless yield(:og_description).present? %>
      <meta name="description" content="Find Overwatch Workshop Codes to play with friends, randoms, or solo! Use in-depth search to find exactly what you are looking for. Or submit your own Workshop Codes for other to enjoy.">
      <meta property="og:description" content="Find Overwatch Workshop Codes to play with friends, randoms, or solo! Use in-depth search to find exactly what you are looking for. Or submit your own Workshop Codes for other to enjoy.">
    <% end %>

    <%= yield(:preload) if yield(:preload).present? %>

    <%= render "application/og_tags" %>
    <%= render "favicons" %>

    <link rel="manifest" href="/manifest.json">

    <link rel="preload"
      href="<%= vite_asset_url "fonts.scss" %>"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'" /> <!-- https://web.dev/defer-non-critical-css/#optimize -->
    <noscript><%= vite_stylesheet_tag "fonts.scss" %></noscript>

    <link rel="preload"
      href="<%= vite_asset_url "deferred.scss" %>"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'" /> <!-- https://web.dev/defer-non-critical-css/#optimize -->
    <noscript><%= vite_stylesheet_tag "deferred.scss" %></noscript>

    <!-- Prevent flashbangs -->
    <style>
      body {
        background: #1f2326;
        color: #90989c;
      }
    </style>

    <%= vite_stylesheet_tag "application.scss" %>
    <%= vite_stylesheet_tag "wiki.scss" if is_wiki? %>
    <%= vite_stylesheet_tag "blog.scss" if is_blog? %>

    <%= vite_client_tag %>
    <%= vite_typescript_tag "application", "data-turbolinks-track": "reload", defer: true %>

    <% if current_user %>
      <%= vite_stylesheet_tag "logged-in-user.scss" %>
      <%= vite_typescript_tag "logged-in-user.ts", "data-turbolinks-track": "reload", defer: true %>
    <% end %>
  </head>

  <body class="theme-<%= theme %> <%= "wiki" if is_wiki? %>">
    <%= render "flash" %>
    <%= render "header" unless is_editor? %>
    <%= render "wiki/header" if is_wiki? %>

    <%= button_to "Overwatch", theme_switch_path("overwatch"), method: :post %>
    <%= button_to "Talon", theme_switch_path("talon"), method: :post %>

    <div class="wrapper <%= "wrapper--large" if is_admin_controller? %>">
      <%= yield %>

      <%= render "footer" unless is_editor? %>
    </div>

    <%= render "body_bg" unless is_wiki? || is_editor? %>

    <%= svelte_component "Ollie", { imageFlyBy: image_path("ollie/ollie-float.png"), imageHeart: image_path("ollie/ollie-heart.png") } if current_user.present? %>
  </body>
</html>
