<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:page_title) != "" ? yield(:page_title) + " | Workshop.codes" : "Workshop.codes - Overwatch Workshop Codes to Discover and Share" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Overwatch Workshop Codes, Games, Modes, and more. Find Overwatch Game Modes to play with friends, randoms, or solo! | Submit your Workshop Codes for others to share and enjoy.">
    <meta name="keywords" content="Overwatch, Workshop, Codes, Workshop Codes, Overwatch Workshop Codes, Overwatch Custom Games, Overwatch Gamnes, Workshop Games">
    <meta name="theme-color" content="#1f2326">

    <link rel="manifest" href="/manifest.json">

    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-colored-32x32.png" %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-colored-16x16.png" %>" sizes="16x16" />

    <style type="text/css">
      <%= Rails.application.assets["application.scss"].to_s.html_safe %>
    </style>

    <%= javascript_include_tag "application", async: true %>

    <%= render "analytics_code" %>
  </head>

  <body>
    <%= render "notifications/alert" if current_user && unread_notifications.any? %>

    <%= render "header" %>

    <div class="wrapper">
      <%= render "navigation" %>

      <%= yield %>

      <%= render "footer" %>
    </div>

    <%= render "body_bg" %>
  </body>
</html>
