<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:page_title) != "" ? yield(:page_title) + " | Workshop.codes" : "Workshop.codes | Overwatch Workshop Codes Resource" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Overwatch, Workshop, Codes, Workshop Codes, Overwatch Workshop Codes, Overwatch Custom Games, Overwatch Gamnes, Workshop Games">
    <meta name="theme-color" content="#1f2326">
    <meta name="ir-site-verification-token" value="2456162" />
    <meta http-equiv=”content-language” content="en" />

    <% unless yield(:og_description) != "" %>
      <meta name="description" content="Find Overwatch Workshop Codes to play with friends, randoms, or solo! Use in-depth search to find exactly what you are looking for. Or submit your own Workshop Codes for other to enjoy.">
      <meta property="og:description" content="Find Overwatch Workshop Codes to play with friends, randoms, or solo! Use in-depth search to find exactly what you are looking for. Or submit your own Workshop Codes for other to enjoy.">
    <% end %>

    <%= render "application/og_tags" %>
    <%= render "favicons" %>

    <link rel="manifest" href="/manifest.json">

    <link rel="preload"
      href="<%= asset_path "fonts.css" %>"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'" /> <!-- https://web.dev/defer-non-critical-css/#optimize -->
    <noscript><%= stylesheet_link_tag "fonts.css" %></noscript>

    <%= stylesheet_link_tag "application.css" %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", "data-turbolinks-track": "reload", defer: true %>

    <% if current_user %>
      <%= stylesheet_link_tag "logged_in_user.css" %>
      <%= vite_javascript_tag "logged-in-user.js", "data-turbolinks-track": "reload", defer: true %>
    <% end %>
  </head>

  <body class="<%= "wiki" if is_wiki? %>">
    <%= render "flash" %>
    <%= render "header" %>
    <%= render "wiki/header" if is_wiki? %>

    <div class="wrapper <%= "wrapper--large" if is_admin_controller? %>">
      <%= yield %>

      <%= render "footer" %>
    </div>

    <%= render "body_bg" unless is_wiki? %>

    <%= svelte_component "Ollie", { imageFlyBy: image_path("ollie/ollie-float.png"), imageHeart: image_path("ollie/ollie-heart.png") } if current_user.present? %>
  </body>
</html>
